
{#<div class="col-lg-8">


    {% for k,historique in historiques %}
        <div class="feed-element {% if k >= 5 %} show_more_historique se {%endif%}">
            <a class="float-left">
                <img alt="image" class="rounded-circle" src="{{asset('images/user/profil/' ~ historique.image )}}">
            </a>
            <div class="media-body ">
                <small class="float-right">


                    {% set title =""%}
                    {% set class_css =""%}
                    {% for k, v in historique.metadata %}
                        {% if k=='title' %}
                            {% set title = v %}
                        {% endif %}

                        {% if k=='class_css' %}
                            {% set class_css = v %}
                        {% endif %}
                    {% endfor %}


                    <span style="margin-right: 5px;">
                        {{ historique.date }}</span><br/>
                    <span class="label label-creer float-right {{ class_css }}" style="margin-right: 5px;">{{ title }}</span>


                </small>
                <strong>{{ historique.user_nom }}
                    {{ historique.user_prenom }}
                    ({{ historique.user_username  }})</strong>
                est

                <strong>
                    {{ title }}
                </strong>
                cette demande:<br>
                <small class="text-muted">Le
                    {{ historique.time|date('d-m-Y') }}
                    à
                    {{ historique.time|date('H:i:s') }}
                </small>

            </div>
        </div>
    {% endfor %}
    <div style="text-align:center">
        <a style="text-align:center" id="myBtn">Afficher la suite</a>
    </div>#}
    
    
    
    


{#    <div class="vertical-timeline-block">
        <div class="vertical-timeline-icon gray-bg">
            <i class="fa fa-clipboard"></i>
        </div>
        <div class="vertical-timeline-content">
            <p>{{ demande.code }}
            </p>
            <span class="vertical-date small text-muted">
                <i class="fa fa-clock-o" title="la date de creation"></i> {{ demande.created ? demande.created|date('d/m/Y H:i:s')}}

            </span>
        </div>
    </div>#}



</div>

{#<div class="col-lg-8 historique-bottom">






    <div class="ibox ">
        <div
            class="ibox-title m-min"><!--<h5>La liste des Articles</h5>-->
        </div>
        <div class="ibox-content mcol">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <div class="col-md-12 m-mar-t">
                            <div class="row">
                                <div class="col-md-12">
                                    <h5>Historique des operations
                                        <span class="label label-warning-light float-right">{{ historiques|length }}
                                            operation (s)</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="panel-group" id="accordion">


                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h5 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#tabHistorique">Historique
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="tabHistorique" class="panel-collapse collapse in ">
                                            <div class="panel-body">

                                                <div class="tab-pane active show" id="tab-2">

                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            {% for k,historique in historiques %}
                                                                <div class="feed-element {% if k >= 5 %} show_more_historique se {%endif%}">
                                                                    <a class="float-left">
                                                                        <img alt="image" class="rounded-circle" src="{{asset('images/user/profil/' ~ historique.image )}}">
                                                                    </a>
                                                                    <div class="media-body ">
                                                                        <small class="float-right">


                                                                            {% set title =""%}
                                                                            {% set class_css =""%}
                                                                            {% for k, v in historique.metadata %}
                                                                                {% if k=='title' %}
                                                                                    {% set title = v %}
                                                                                {% endif %}

                                                                                {% if k=='class_css' %}
                                                                                    {% set class_css = v %}
                                                                                {% endif %}
                                                                            {% endfor %}


                                                                            <span style="margin-right: 5px;">
                                                                                {{ historique.date }}</span><br/>
                                                                            <span class="label label-creer float-right {{ class_css }}" style="margin-right: 5px;">{{ title }}</span>


                                                                        </small>
                                                                        <strong>{{ historique.user_nom }}
                                                                            {{ historique.user_prenom }}
                                                                            ({{ historique.user_username  }})</strong>
                                                                        est

                                                                        <strong>
                                                                            {{ title }}
                                                                        </strong>
                                                                        cette demande:<br>
                                                                        <small class="text-muted">Le
                                                                            {{ historique.time|date('d-m-Y') }}
                                                                            à
                                                                            {{ historique.time|date('H:i:s') }}
                                                                        </small>

                                                                    </div>
                                                                </div>
                                                            {% endfor %}
                                                            <div style="text-align:center">
                                                                <a style="text-align:center" id="myBtn">Afficher la suite</a>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <br><br>


                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br><br><br><br>#}
