{% extends 'base_archive.html.twig' %}

{% block stylesheets %}
            {{parent()}}
        {% endblock %}

{% block  navbar %}

	{{parent()}}

{% endblock %}


{% block body  %}

	<div class="row wrapper  white-bg page-heading  fixed-top-navigation-button">

		<div class="col-lg-4">
			<h2 class="fo">Archive</h2>
		</div>

		<div class="col-lg-8">
			<div class="title-action">
				<a class="btn btn-white btn-xs btn-lg my-button" href="{{ path('module_achive_projet_new') }}" type="button">
					<i class="fa fa-plus-square-o"></i>
					{{ button_label|default('Nouveau Projet') }}
				</a>
				<button class="btn btn-white btn-xs btn-lg my-button" ng-click="telecharger()" type="button" data-toggle="modal" data-target="#exampleModal" data-style="expand-left">
					<i class="fa fa-cloud-upload"></i>
					{{ button_label|default('Charger') }}</button>
				<button class="btn btn-white btn-xs btn-lg my-button" ng-click="downloadOp();" download="" data-style="expand-left">
					<i class="fa fa-cloud-download"></i>
					{{ button_label|default('Télécharger') }}</button>

			</div>
		</div>


		<div class="border-b"></div>
		<div class="col-lg-12">
			{{ wo_render_breadcrumbs() }}
		</div>

	</div>

	<br/><br/><br/><br/><br/><br/>
	<input type="hidden" id="projet_id" projet-id="{{projet_id.id}}"/>

	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">

			<div class="col-lg-9">
				<div class="ibox ">
					<div class="ibox-title">
						<h5>La liste des dossiers
						</h5>
						<div class="ibox-tools">
							<a class="collapse-link">
								<i class="fa fa-chevron-up"></i>
							</a>
							<a class="close-link">
								<i class="fa fa-times"></i>
							</a>
						</div>
					</div>
					<div class="ibox-content">
						<div class="row">
							<div class="col-sm-9"></div>
							<div class="col-sm-3">
								<div class="input-group"><input laceholder="Rechercher" ng-model="search" type="text" class="form-control form-control-sm">
									<span class="input-group-append">
										<button type="button" class="btn btn-white btn-xs btn-lg my-button"><i class="fa fa-search"></i>
										</button>
									</span>
								</div>

							</div>
						</div>
						<div class="table-responsive">

							<table class="table table-hover">
								<thead>
									<tr class="thead-color">
										<th colspan="4">Intitulé</th>
										<th colspan="2">User</th>
										<th colspan="2">Date de Création</th>
										<th colspan="2">Type</th>
										{# <th colspan="2">size</th>#}
									</tr>
								</thead>

								<tbody>
									<tr ng-repeat="dta in treeData | filter:search" ng-dblclick="dbclick(this)" ng-click="operation(this);" class="load no-border-top class_{[ dta.id ]}" {#ng-init='res = sizeFunc(this)'#}>
										<td colspan="4">

											<i class="{[ dta.icon ]}"></i>
											{[ dta.text ]}

										</td>
										<td colspan="2">
											{[ dta.user ]}
										</td>
										<td colspan="2">
											{[ dta.dateCreation['date'].replace('.000000',' ') ]}
										</td>
										<td colspan="2">
											{[ dta.type ]}
										</td>
										{# <td colspan="2" class="size_val_{[dta.id]}">
																																													                                                        <i class="ace-icon fa fa-spinner fa-spin blue bigger-125"></i>
																																													                                                    </td>#}
									</tr>
									<tr class="loading">
										<td colspan="11" style="text-align:justify;background-color: #f9f9f9;padding-left:40px">
											loading</td>
									</tr>

									<tr ng-show="(treeData | filter:search).length == 0" class="load">
										<td colspan="11" style="text-align:center;background-color: #f9f9f9;">Aucun Projets à Afficher</td>
									</tr>

								</tbody>
							</table>
						</div>

					</div>
				</div>
			</div>

			<div class="col-lg-3">
				<div class="ibox ">
					<div class="ibox-title">
						<h5>Information Dossier
						</h5>
					</div>
					<div class="ibox-content">
						<div class="panel panel-default card-view  pa-0">
							<div class="panel-wrapper">
								<div class="panel-body  pa-0">
									<div class="profile-box">
										<div class="profile-cover-pic">

											<div class="profile-image-overlay"></div>
										</div>
										<div class="profile-info text-center">
											<div class="profile-img-wrap">
												<div class="load_show_det">
													<i class="ace-icon fa fa-spinner fa-spin blue bigger-125"></i>
												</div>
												<img class="inline-block mb-10" src="../../{[ url_image ? url_image : 'images/icon/folder.png' ]}" alt="user">
											</div>
											<h5 class="block mt-10 weight-500 capitalize-font txt-orange">{[detinfo.text]}</h5>
											<a class="btn btn-dropbox btn-icon-anim btn-circle ope" href="../../../{[telecharger_image]}" download="">
												<i style="position:relative;" class="ace-icon fa fa-cloud-download"></i>
											</a>
											<button class="btn btn-dropbox btn-icon-anim btn-circle ope" ng-click="hide_doc(detinfo.id);">
												<i class="ace-icon fa fa-eye-slash icon-only"></i>
											</button>
										</div>
										<div class="social-info">
											<div class="row">
												<div class="col-md-3 text-center">
													<span class="counts block head-font">
														<span class="counter-anim">Type</span>
													</span>
													<span class="counts-text block">{[detinfo.type]}</span>
												</div>
												<div class="col-md-5 text-center">
													<span class="counts block head-font">
														<span class="counter-anim">Modification</span>
													</span>
													<span class="counts-text block">{[detinfo.dateCreation['date'].replace('.000000',' ')]}</span>
												</div>
												<!--<div class="col-xs-3 text-center">
																																									                                        <span class="counts block head-font"><span class="counter-anim">Size</span></span>
																																									                                        <span class="counts-text block">{[size]}</span>
																																									                                    </div>-->
												<div class="col-md-4 text-center">
													<span class="counts block head-font">
														<span class="counter-anim">Utilisateur</span>
													</span>
													<span class="counts-text block">{[detinfo.user]}</span>
												</div>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="cg-busy cg-busy-animation ng-scope ng-show">
		<div class="cg-busy cg-busy-backdrop cg-busy-backdrop-animation ng-scope ng-show" style=""></div>
		<div class="cg-busy-default-wrapper" style="position: absolute; top: -8px; left: 0px; right: 0px; bottom: 0px;">

			<div class="cg-busy-default-sign">

				<div class="cg-busy-default-spinner">
					<div class="bar1"></div>
					<div class="bar2"></div>
					<div class="bar3"></div>
					<div class="bar4"></div>
					<div class="bar5"></div>
					<div class="bar6"></div>
					<div class="bar7"></div>
					<div class="bar8"></div>
					<div class="bar9"></div>
					<div class="bar10"></div>
					<div class="bar11"></div>
					<div class="bar12"></div>
				</div>

				<div class="cg-busy-default-text ng-binding">En Cours</div>

			</div>

		</div>

	</div>


	<toaster-container></toaster-container>


	<div class="load_show">
		<i class="ace-icon fa fa-spinner fa-spin bigger-125"></i>
	</div>


	<div class="modal-container">


		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel1">Charger Vos Fichiers</h5>
						<button type="button" class="close closee" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">
						<form class="formArchiveCharger">
							<div class="form-group">
								<input type="file" name='file' id='file' class="form-control">
							</div>
						</form>
					</div>
					<div
						class="modal-footer">
						{# <button type="button" class="btn btn-default close">Close</button>#}
						<button type="button" class="btn btn-white btn-xs btn-lg my-button my-buttonU" data-style="expand-left" ng-click='upload()'><i class="fa fa-cloud-upload"></i> Charger</button>
						<button type="button" class="btn btn-white btn-xs btn-lg my-button closee" data-dismiss="modal" aria-label="Close"><i class="fa fa-window-close-o" aria-hidden="true"></i> Fermer</button>
						
					</div>
				</div>
			</div>
		</div>


	</div>

{% endblock %}


{% block javascripts %}
	{{parent()}}

	
	
	{{ encore_entry_link_tags('archive') }}
{% endblock %}
