<div class="sidebar-container new">

	<div class="ibox-tools"></div>

	<div class="tab-content ">


		<div id="tab-1" class="tab-pane active">

			<div class="sidebar-title">
				<h3>
					<i class="fa fa-info-circle"></i>
					INFORMATIONS
				</h3>
				<small>
					{% if  PArticleNiveau.id > 0 %}
						Modifier
					{% else %}
						Ajouter
					{% endif %}
				</small>
			</div>

			<div class="right-sidebar-content">


				<table class="table small m-b-xs">
					<tbody>
						<tr>
							<td></td>
						</tr>


					</tbody>
				</table>

				<div class="ibox ">
					<div class="ibox-content">


						{% if  PArticleNiveau.id > 0 %}
							{{ form_start(form ,{'attr':{'novalidate': 'novalidate' , 'class':'form_edit form2'}}) }}
						{% else %}
							{{ form_start(form ,{'attr':{'novalidate': 'novalidate' , 'class':'form form2'}}) }}
						{% endif  %}


						<div class="row">


							<div class="col-md-12 b-r">

								{% if  PArticleNiveau.id > 0 %}
									<div id="test" data-nomen-id="{{ PArticleNiveau.id|json_encode }}"></div>

								{% endif  %}

								{# <div class="form-group row">
									{{ form_label(form.parentId  ,'Niveau 1 (*):', {'label_attr':{'class':'col-sm-12 col-form-label'}}) }}
									<div class="col-sm-12">
										{{ form_widget(form.parentId,{'attr':{'class':'form-control form-control-sm','placeholder': 'Designation (*)'}}) }}
										<span class="form-error-message">
											{{ form_errors(form.parentId) }}
										</span>
									</div>

								</div> #}

								<div class="hr-line-dashed"></div>

								<div class="form-group row">
									{{ form_label(form.designation  ,'Designation (*)', {'label_attr':{'class':'col-sm-12 col-form-label'}}) }}
									<div class="col-sm-12">
										{{ form_widget(form.designation,{'attr':{'class':'form-control form-control-sm','placeholder': 'Designation (*)'}}) }}
										<span class="form-error-message">
											{{ form_errors(form.designation) }}
										</span>
									</div>

								</div>


								<br/>
								<div class="hr-line-dashed"></div>
								<br/>


								{% if  PArticleNiveau.id > 0 %}
									<div class="form-group row">
										<div class="col-sm-6">
											<button class="btn btn-primary btn-block btn-xs  button-edit-niveau2">
												<i class="fa fa-save"></i>
												&nbsp;{{ button_label|default('Modifier') }}</button>

										</div>
										<div class="col-sm-6">
											{% for operation in operations|filter(operation => operation.prefix == '_delete') %}

												<a {% if operation.route is not null %} data-id="{{PArticleNiveau.id}}" data-token="{{ csrf_token('delete' ~ PArticleNiveau.id) }}" href="#{# {{ path(operation.route) }} #}" {% endif %} id="{{operation.prefix}}" class="btn btn-block btn-xs btn-danger _delete{{operation.classCs}}">
													<i class="fa {{ operation.icon }}" style="color: white !important;"></i>
													{{ operation.titre|capitalize }}</a>

											{% endfor %}
											{# <a href="#" data-id="{{PArticleNiveau.id}}" data-token="{{ csrf_token('delete' ~ PArticleNiveau.id) }}" class="btn btn-block btn-xs btn-danger _delete " id="_delete">
												<i class="fa fa-trash" style="color: white !important;"></i>
												Supprimer</a> #}
										</div>


									</div>
								{% else %}
									<div class="form-group row">

										<div class="col-sm-5">
											<button class="btn btn-primary btn-block btn-xs  button-save-niveau2">
												<i class="fa fa-save"></i>
												&nbsp;{{ button_label|default('Enregistrer') }}</button>

										</div>
										<div class="col-sm-7">
											<button class="btn btn-primary btn-block btn-xs  button-save-add-niveau2">
												<i class="fa fa-save"></i>
												&nbsp;Enregistrer et Ajouter</button>

										</div>
									</div>
								{% endif  %}


							</div>

						</div>

						{{form_widget(form._token)}}
						{{ form_end(form,{'render_rest': false}) }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
