<!DOCTYPE html>

<html>
	<head><meta charset="euc-kr">
		<title>Module</title>


	</head>
	<style>
		@page {
			margin: 80px 25px;
		}
		header {
			position: fixed;
			top: -60px;
			left: 0;
			right: 0;
			height: 5%;
			font: 11px 'Helvetica';
			line-height: 14px;
		}
		.td-header {
			font: bold 10px 'Helvetica';
			line-height: 12px;
			width: 50%
		}
		.header {
			position: fixed;
			top: -60px;
			left: 0;
			float: right;
			height: 50px;
		}
		footer {
			position: fixed;
			bottom: -60px;
			left: 0;
			right: 0;
			height: 50px;
			border-top: 1px solid #555555;
		}

		body {
			font: 11px 'Helvetica';
			line-height: 14px;
			margin-top: 70px;
		}
		.logo {
			max-width: 250px;
			max-height: 100px;
		}
		.table-content thead tr th {
			width: 100%;
			height: 1%;
			text-align: left;
			padding: 10px;
		}
		.table-module thead tr th {
			font: bold 11px 'Helvetica';
			color: #525252;
			line-height: 14px;
			text-align: left;
		}
		.table-semestre thead tr th {
			font: bold 11px 'Helvetica';
			color: #525252;
			line-height: 14px;
			text-align: left;
		}
		.table-semestre {
			width: 100%;
		}

		.table-header label {
			font-size: 12px;
			font-weight: 200;
		}
		.table-header {
			font: 10px 'Helvetica';
			line-height: 13px
		}

		.table-content {
			width: 100%;
			font-size: 10px;
			border-collapse: collapse;

		}

		.table-content tr {
			border-left: 1px solid #000;
			border-right: 1px solid #000;
		}


		.table-content td {
			padding: 4px;
			border-left: 1px solid #555555;
			border-right: 1px solid #555555;

		}
		.table-content thead {
			background: #385723;
			color: #fff;
			text-align: center;

		}
		.table-ttc {
			background: #385723;
			color: #fff;
			height: 6%;
			text-align: left;
			font: bold 13px 'Helvetica';
			width: 100%
		}
		.table-ttc tr th {
			padding: 0 0 0 15px;
			margin: 0;
			font: bold 13px 'Helvetica';
			width: 100%
		}
		.table-module thead {
			background: #fff;

		}
		.table-semestre thead {
			background: #fff;
			border-bottom: 1px solid black;
		}

		.table-content thead th {
			font: bold 13px 'Helvetica';
			text-align: center;
			padding: 4px 2px
		}


		.table-content tbody tr td:nth-child(n + 4) {
			text-align: right;
		}
		.table-module tbody tr td {
			font: bold 9px 'Helvetica';
			line-height: 11px;
			height: 15px;
			border: none
		}
		.table-module tbody tr th {
			font: 9px 'Helvetica';
			line-height: 12px;
			height: 15px;
		}
		.table-semestre tbody tr td {
			font: bold 11px 'Helvetica';
			line-height: 14px;
			border-bottom: 1px solid black;
			border-right: none;
			height: 3%;
			border-left: none
		}
		.table-semestre tbody tr th {
			font: 9px 'Helvetica';
			line-height: 12px;
			border-bottom: 1px solid black;
		}

		.table-list {
			text-align: center;
			border-collapse: collapse;
			margin: auto;
			color: black;
			padding: 10px;
			font-size: 10px;
			width: 90%
		}
		.table-list thead {
			width: 100%;
			height: 19px;
			background: #bfbfbf;
			font: bold 9px 'Helvetica';
			line-height: 9px;
		}
		.table-list thead tr td {
			width: 100%;
			height: 25px;
			background: #bfbfbf;
			font: bold 9px 'Helvetica';
			line-height: 9px;
		}
		.table-list tbody tr th {
			border-bottom: 1px solid black;
			font: normal 9px 'Helvetica';
		}

		.footer {
			text-align: center;
			font: 11px 'Helvetica';
			line-height: 14px;
			bottom: 60px;
		}
		.footer label {
			padding-left: 10px;
		}
	</style>
	<header>

		<table class="table-header">
			<tr>
				<td class="td-header">
					Année Universitaire
				</td>
				<td>:
					{{annee.designation}}</td>
			</tr>
			<tr>
				<td class="td-header">
					Etablissement
				</td>
				<td>:
					{{module.module.semestre.promotion.formation.etablissement ? module.module.semestre.promotion.formation.etablissement.designation}}</td>

			</tr>
			<tr>
				<td class="td-header">
					Formation
				</td>
				<td>:
					{{module.module.semestre.promotion.formation ? module.module.semestre.promotion.formation.designation}}</td>

			</tr>
			<tr>
				<td class="td-header">
					Promotion
				</td>
				<td>:
					{{module.module.semestre.promotion ? module.module.semestre.promotion.designation}}</td>

			</tr>
			<tr>
				<td class="td-header">
					Semestre
				</td>
				<td>:
					{{module.module.semestre ? module.module.semestre.designation}}</td>

			</tr>
			<tr>
				<td class="td-header">
					Etat de délibération
				</td>
				<td>:  Modulaire
				</td>
			</tr>
		

		</table>
		<div class="header">
			<img src="{{ asset('img/Logo UIASS_bkack.png')[1:] }}" class="logo" alt="Logo">
		</div>
	</header>
	<body>

		<table class="table-content">
			<thead>
				<tr>
					<th>Informations module</th>
				</tr>
			</thead>
			<tbody>
				<tr style="font: bold 15px 'Helvetica';">
					<th><br></th>
				</tr>
				<tr style="font: bold 15px 'Helvetica';">
					<table class="table-header">
						<tr>
							<td class="td-header">
								Module
							</td>
							<td>: 	{{module.module ? module.module.designation}}</td>
							</td>
						</tr>
						<tr>
							<td class="td-header">
								<br>
							</td>
						</tr>
						<tr>

							
						</tr>

					</table>
				</tr>
			</tbody>
		</table><br>


		<table class="table-ttc">
			<tr>
				<th>
					Liste des étudiants
				</th>
			</tr>
		</table><br>


		<table class="table-list">
			<thead>
				<tr>
					<td>ord
					</td>

					<td>Code
					</td>
					<td>Nom
					</td>
					<td>Prénom</td>


					<td style="width: 200%;">Moyenne Module


					</td>
					<td style="width: 200%;">Moyenne Element


					</td>


					<td style="background: #525252;color:#fff">Statut
					</td>
				</tr>
			</thead>
			<tbody>
				{% for key , etudiant in etudiants   %}

					{% set  noteElement = null %}
					{% for key3 , element in etudiant.elements   %}


						{% if element.element_id == elementModule %}
						
						
						
							
								{% set  noteElement = element.note %}
								
						
						{% endif %}
					{% endfor %}
					{% if (etudiant.moyenne_tot <10 or noteElement < 7) and  noteElement !=null %}


						{% set  key = key + 1  %}
						<tr style="font: 50% 'Helvetica';line-height: 9px;">
							<th>{{key}}
							</th>
							<th>{{etudiant.inscription.code}}
							</th>
							<th>{{etudiant.inscription.nom}}
							</th>
							<th>{{etudiant.inscription.prenom}}</th>

							<th style="background: #d8d8d8;font: bold 9px 'Helvetica">{{etudiant.moyenne_enregistre}}
							</th>
							<th>{{noteElement}}
							</th>
							<th style="background: #d8d8d8;font: bold 9px 'Helvetica">
								
									{{etudiant.statut_def}}
								
							</th>
						</tr>
					{% endif %}
				{% endfor %}
			</tbody>
		</tbody>
	</body>
</html></table><br></body><footer><div class="footer">

<p>B.P. 6533, Avenue Allal El Fassi,Madinat Al Irfane, Rabat 10 000. Maroc - Web : www.uiass.ma - Contact : contact@uiass.ma<br>
	Tel : +212 5 37 68 70 20 / 21 / 22 - Fax : +212 5 37 77 01 06</p></div></footer></html>
