{% extends 'base_ugouv.html.twig' %}

{% block title %}Liste  | Facture fournisseur | Ugouv achat
{% endblock %}


{% block body %}

    <div class="actions modal fade right" id="ModalDocumentDynamique" tabindex="-1" role="dialog" aria-labelledby="exampleModalPreviewLabel" aria-hidden="false" data-backdrop='false'>
        <div class="modal-dialog modal-full-height modal-right modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalPreviewLabel">FACTURE AVOIR</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body bo-0">
                    <div class="_facture">
                        <div class="text-center spr">
                            <br/>
                            <div class="spinner-border" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                        <div class="bod"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div id="right-sidebar" class="actions animated"></div>

    <!--<button type="button" id="test" class="test" name="test">test</button>
                                <select  id="filter" class="test" name="filter">
                                    <option value="3">test</option>
                                    <option value="4">test 4</option>
                                </select>-->


    <div class="row wrapper  white-bg page-heading  fixed-top-navigation-button">


        <div class="col-lg-6">
            {% include './module_achat/t_facturefrscab/inc/workflow_breadcumb.html.twig' %}
        </div>

 
 
        <div class="col-lg-6">
            <div class="title-action">
                <div class="title-action">

                    {% for key ,  operation in operations  %}
                        {% if operation.horizontale and  operation.isIndex == 1 %}
                            <a {% if operation.route is not null %} href="#" {% endif %} id="{{operation.idCs}}" class="btn btn-white btn-xs {{operation.classCs}}">
                                <i class="fa {{ operation.icon }}"></i>
                                {{ operation.titre|capitalize }}</a>
                            {% endif %}
                        {% endfor %}
                </div>
            </div>
        </div>

        <div class="border-b"></div>
        <div class="col-lg-12">

            {{ wo_render_breadcrumbs() }}
        </div>


    </div>
    <br/>
    <br/>
    <div class="row border-bottom white-bg dashboard-header mt-20">
        <div class="col-lg-12">

            <div class="ibox ">
                <div class="ibox-content" style="padding-top: 0px">
                    <div class="table-responsive">
                        <div class="row">
                            <div class="col-2 list_actions_bloc" style="position: fixed ; display: none;" {#style="position: fixed;align-content: center;right: 50%;display: none;z-index: 9999999"#}>
                                <select class="select2_demo _3 form-control list_actions sel2">
									<option>Action</option>
									{% for key , operation in operations  %}
										{% if operation.multiple %}
											<option value="{{operation.prefix}}">{{ operation.titre|capitalize }}</option>
										{% endif %}
									{% endfor %}
								</select>

                            </div>


                        </div>
                        <table
                            class="table tb cmd  display table-striped table-bordered table-hover dataTables-example" id="grid2" style="width: 100%">
                            <!-- <table class="table display"  id='grid'  style="font-size: 10px;"  width="100%">-->
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Code</th>
                                    <th>datefacture</th>
                                    <th>Reference</th>
                                    <th>description</th>
                                    <th>Fournisseur</th>
                                    <th>Pièce</th>
                                    <th>Mt.fac</th>
                                    <th>Mt.Rec</th>
                                    <th>Mt.ac</th>
                                    <th>Remise</th>
                                    <th>Reglement</th>
                                    <th>Statut</th>
                                    <th>RG</th>


                                </tr>
                            </thead>
                            <tbody class="commande"></tbody>

                            <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th>code</th>
                                    <th>datefacture</th>
                                    <th>Reference</th>
                                    <th>description</th>
                                    <th>Fournisseur</th>
                                    <th>Pièce</th>
                                    <th>Mt.fac</th>
                                    <th>Mt.Rec</th>
                                    <th>Mt.ac</th>
                                    <th>Remise</th>
                                    <th>Reglement</th>
                                    <th>Statut</th>
                                    <th>RG</th>
                                </tr>
                            </tfoot>
                        </table>

                    </div>

                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('tfacturefrscabavoir') }}


{% endblock %}
