

<div class="row wrapper  white-bg page-heading  fixed-top-navigation-button">
	<div class="col-lg-12">
		{% include './module_gestion_comptes/gestion_caisse/inc/workflow_breadcumb.html.twig' %}
	</div>
	<div class="border-b"></div>
	<div class="col-lg-12">
		{{ wo_render_breadcrumbs() }}
	</div>
</div>
<br/><br/>

<div class="row pt-20">
	<div class="col-lg-12 ">
		<div class="ibox ">
			<div class="ibox-title ibox-title2">
				<h5>Informations  compte Site-Banque</h5>
			</div>



			<div class="ibox-content">

				<div class="message-success"></div>


				<div class="row m-t-sm">
					<div class="col-lg-12">
						<div
							class="panel blank-panel">

							<div class="panel-body">
								<div class="col-md-12">
									<div class="tab-content">
										<div class="tab-pane active" id="tab-1">

                                         

											

											{# <div class="hr-line-dashed"></div> #}
											<form id="new_caisse_operation">
											<div class="row">
											    
												<div class="col-sm-5">
													<div class="form-group row">
														<label class="col-sm-4"> CCP (*) </label>
                                                        <div class="col-sm-7">
															<select name="ccp" class=" form-control " style="margin-top:0px;">
															{# <option>Veuillez choisir un dossier</option> #}
															 <option value="{{compteDossierCourantPhysique.id}}">{{compteDossierCourantPhysique.designation}} </option>
															 
															
															</select>
														</div>
														
													</div>
												    <div class="form-group row">
														<label class="col-sm-4">Site (*) </label>
														
														<div class="col-sm-7">
															<select name="site" class=" form-control " style="margin-top:0px;">
															 <option value="{{dossier.id}}">{{dossier.description}} </option>
															 
															
															</select>
														</div>

													</div>

													<div class="form-group row">
														<label class="col-sm-4"> Compte Site (*) </label>
                                                        <div class="col-sm-7">
															<select name="compteBanque" class=" form-control list_actions  compteBanque" style="margin-top:0px;">
																<option value="{{compte.id}}">{{compte.designation}} </option>
																
															</select>
														</div>
														
													</div>

													
													
													<div class="form-group row">
														<label class="col-sm-4">Montant (*) </label>

														<div class="col-sm-7">
															<input type="number" name="montant" id="u_general_operation_montant" class="form-control form-control-sm paiement">
														</div>

													</div>
												</div>


											</div> 
											</form>
									</div>
								</div>
							</div>
						</div>

					</div>

				</div>
			</div>
			
			
			
			
			
			
			
			
			
			
		</div>
		<div class="row pt-10">
			<div class="col-lg-12 ">
				<div class="ibox ">
					<div class="ibox-title ibox-title2">
						<h5>Informations Conso Caisse</h5>
					</div>



					<div class="ibox-content">
						
						<div class="message-success"></div>


						<div class="row m-t-sm">
							<div class="col-lg-12">
								<div class="panel blank-panel">

									<div class="panel-body">
										<div class="col-md-12">
											<div class="tab-content">
												<div class="tab-pane active" id="tab-1">
													<div class="row">
														<div class="col-sm-5">
															<div class="form-group row">

																<label for="montant_caisse_caisse" class="col-sm-4">Compte caisse physique</label>
																<div class="col-sm-7">
																	<div class="d-flex align-items-center">
																		<input type="number" name="montant_caisse_caisse" value="{{compteDossierCourantPhysique.montantFinal}}" readonly id="montant_caisse_caisse" class="form-control form-control-sm text-right mr-2"> MAD
																	</div>
																</div>

															</div>
															<div class="form-group row">

																<label for="montant_caisse_virtuelle" class="col-sm-4">Compte caisse virtuelle</label>
																<div class="col-sm-7">
																	<div class="d-flex align-items-center">
																		<input type="number" name="montant_caisse_virtuelle" value="{{compteDossierCourantVirtuelle.montantFinal}}" readonly id="montant_caisse_virtuelle" class="form-control form-control-sm text-right mr-2"> MAD

																	</div>
																</div>
															</div> 
															<div class="form-group row">

																<label for="montant_caisse_total" class="col-sm-4">Total</label>
																<div class="col-sm-7">
																	<div class="d-flex align-items-center">
																	<input type="number" name="montant_caisse_total" value="{{(compteDossierCourantPhysique.montantFinal) + (compteDossierCourantVirtuelle.montantFinal)}}" readonly id="montant_caisse_total" class="form-control form-control-sm text-right mr-2"> MAD

																	</div>
																</div>
															</div> 
														</div>
													</div> 
												</div>
											</div>
										</div>
									</div>

								</div>

							</div>
						</div>
					</div>


				







			</div>
		</div>
		</div>
		<div class="row pt-10">
			<div class="col-lg-12 ">
				<div class="ibox ">
					<div class="ibox-title ibox-title2">
						<h5>Informations Site</h5>
					</div>



					<div class="ibox-content">

						<div class="message-success"></div>


						<div class="row m-t-sm">
							<div class="col-lg-12">
								<div class="panel blank-panel">

									<div class="panel-body">
										<div class="col-md-12">
											<div class="tab-content">
												<div class="tab-pane active" id="tab-1">
													<div class="row">
														<div class="col-sm-5">
															<div class="form-group row">
																<label for="montant_site_caisse" class="col-sm-4">Montant caisse site</label>
																<div class="col-sm-7">
																	<div class="d-flex align-items-center">
																		<input type="number" name="montant_site_caisse" value="{{compte.montantFinal}}" readonly id="montant_site_caisse" class="form-control form-control-sm text-right mr-2"> MAD
																	</div>
																</div>

															</div>
															
														</div>
													</div> 
												</div>
											</div>
										</div>
									</div>

								</div>

							</div>
						</div>
					</div>


				







			</div>
		</div>
		</div>
	
</div>


