
{{ form_start(form ,{'attr':{'novalidate': 'novalidate' , "autocomplete":"off", 'class':'form'}}) }}


<div class="row wrapper  white-bg page-heading  fixed-top-navigation-button">

    <div class="col-lg-6">
        {% include './tresorerie/tr_compte/inc/workflow_breadcumb.html.twig' %}
    </div>

    <div class="col-lg-6">
        <div class="title-action">
            
                <button class="btn btn-white btn-xs btn-lg my-button" data-style="expand-left" type="submit">
                    <i class="fa fa-save"></i>
                    {{ button_label|default('Enregistrer') }}
                </button>
        
        </div>
    </div>

    <div class="border-b"></div>
    <div class="col-lg-12">
        {% include './tresorerie/tr_compte/inc/workflow.html.twig' %}
    </div>
</div>
<br/><br/>

<div class="row pt-20">
    <div class="col-lg-12 ">
        <div class="ibox">

            <div class="ibox-content">

                <div class="message-success"></div>


                <div class="row m-t-sm">
                    <div class="col-lg-12">
                        <div class="panel blank-panel">
                            <div class="panel-heading">
                                <div class="panel-options">
                                    {% include './tresorerie/tr_compte/inc/navigation.html.twig' %}
                                </div>
                            </div>

                            <div class="panel-body">
                                <div class="col-md-12">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab-1">


                                          

                                                <div class="row">
                                                    <div class="col-md-12 b-r">
                                                        <h3 class="m-t-none m-b">Informations Compte
                                                        </h3>
                                                    </div>
                                                </div>  
                                                <div class="row">
                                                    <div class="col-md-6 b-r">



                                                        {#<div class="form-group row"> {{ form_label(form.affaire ,'Affaire :', {'label_attr':{'class':'col-sm-4'}}) }} <div class="col-sm-8 input-group"> {{ form_widget(form.affaire,{'attr':{'class':'sel2 affaire form-control form-control-sm '}}) }} </div> </div>#}



                                                   





                                                        <div class="hr-line-dashed"></div>
                                                        <div class="form-group row">
                                                            {{ form_label(form.designation ,'designation(*)', {'label_attr':{'class':'col-sm-4'}}) }}
                                                            <div class="col-sm-8">
                                                                {{ form_widget(form.designation,{'attr':{'class':'form-control form-control-sm ' ,'placeholder':'designation'}}) }}
                                                            </div>
														</div>
														<div class="hr-line-dashed"></div>
                                                        <div class="form-group row">
                                                            {{ form_label(form.abreviation ,'abreviation(*)', {'label_attr':{'class':'col-sm-4'}}) }}
                                                            <div class="col-sm-8">
                                                                {{ form_widget(form.abreviation,{'attr':{'class':'form-control form-control-sm ' ,'placeholder':'abreviation'}}) }}
                                                            </div>
														</div>
														
														<div class="hr-line-dashed"></div>
                                                        <div class="form-group row">
                                                            {{ form_label(form.active ,'active', {'label_attr':{'class':'col-sm-4'}}) }}
                                                            <div class="col-sm-8">
                                                                {{ form_widget(form.active,{'attr':{'class':'form-control form-control-sm ' ,'placeholder':'active'}}) }}
                                                            </div>
                                                        </div>


                                                        <div class="hr-line-dashed"></div>
                                                        <div class="form-group row">
                                                            {{ form_label(form.description ,'Description Demande (*)', {'label_attr':{'class':'col-sm-4'}}) }}
                                                            <div class="col-sm-8">
                                                                {{ form_widget(form.description,{'attr':{'class':'form-control form-control-sm ' ,'placeholder':'Description'}}) }}
                                                            </div>
                                                        </div>

                                                        {% if  compte.id==null %}
                                                        <div class="hr-line-dashed"></div>
                                                        <div class="form-group row">
                                                            {{ form_label(form.soldeInitial ,'solde Initial ', {'label_attr':{'class':'col-sm-4'}}) }}
                                                            <div class="col-sm-8">
                                                                {{ form_widget(form.soldeInitial,{'attr':{'class':'form-control form-control-sm ' ,'placeholder':'solde Initial'}}) }}
                                                            </div>
                                                        </div>
                                                        {% endif %}

                                                        

                                                    </div>


                                                    <div class="col-md-6">



                                                                                                                                           
                                                                                                                                                                                                      


                                                    </div>


                                                </div>
                                         


                                        </div>
                      


                                        {% if compte is defined %}
                                            <input type="hidden" name="_id" id="_id" value="{{ compte.id }}"/>
                                        {% endif %}
                                       


                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>


            </div>


        </div>

    </div>
</div>

{{ form_end(form,{'render_rest': false}) }}
