<div class="sidebar-container">

	<div class="ibox-tools">
		<a class="close-link close-me" href="">
			<i class="fa fa-times"></i>
		</a>
	</div>

	<div class="tab-content">


		<div id="tab-1" class="tab-pane active">

			<div class="sidebar-title">
				<h3>
					<i class="fa fa-info-circle"></i>
					INFORMATIONS
				</h3>
				<small>
					Informations sur l'acompte  .</small>
			</div>

			<div class="right-sidebar-content">


				<div class="ibox">
					<div class="ibox-content">
						<div class="row">
							<div
								class="col-md-12">
								{#<h3>Expression de Besoin Document </h3>#}

								{{ form_start(form ,{ 'attr':{'novalidate': 'novalidate' ,'class':'form save_form_acompte'}}) }}
								<div class="form-group">
									{{ form_label(form.UATCommandefrscab ,'La liste des commandes :', {'label_attr':{'class':'row col-sm-10 '}}) }}
									{{ form_widget(form.UATCommandefrscab,{'attr':{'class':'form-control form-control-sm col-sm-10 sel2'}}) }}
								</div>


								<br/><br/>


								{#{ form_widget(form.id) }#}
								<button type="submit" class="btn btn-white btn-block btn-xs my-button2">
									<i class="fa fa-save"></i>
									&nbsp;{{ button_label|default('Enregistrer') }}</button>
								{{ form_end(form,{'render_rest': false}) }}

							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
