{% extends 'base_ugouv.html.twig' %}

{% block title %}New Charges
{% endblock %}


{% block body %}
    <div id="right-sidebar" class="actions animated"></div>

    <div class="charge ">
        {{ form_start(form ,{'attr':{'novalidate': 'novalidate' ,"autocomplete":"off", 'class':'form charge_save'}}) }}


        <div class="row wrapper  white-bg page-heading  fixed-top-navigation-button">
            <div class="col-lg-6">
				{% include './module_vente/uv_commandecab/inc/workflow_breadcumb.html.twig' %}


            </div>
            <div class="col-lg-6">
                <div class="title-action">
                    <button class="btn btn-white  btn-xs btn-lg my-button2" type="submit">
                        <i class="fa fa-save"></i>
                        {{ button_label|default('Enregistrer') }}</button>

                </div>
            </div>

            <div class="border-b"></div>

            <div class="col-lg-12">

                {% include './module_vente/uv_commandecab/inc/workflow.html.twig' %}
            </div>





        </div>
        <br/><br/>
        <div class="row pt-20">
            <div class="col-lg-12 ">
                <div class="ibox">

                    <div class="ibox-content">

                        <div class="message-success"></div>


                        <div class="row m-t-sm">
                            <div class="col-lg-12">
                                <div class="panel blank-panel">
                                    <div class="panel-heading">
                                        <div class="panel-options">

                                            {% include './module_vente/uv_commandecab/inc/navigation.html.twig' %}
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="panel-body">

                                            <div class="tab-content">
                                                <div class="tab-pane active" id="tab-1">


                                                    <div class="row">
                                                        <div class="col-md-6 b-r">

                                                            <h3 class="m-t-none m-b"> INFORMATIONS CHARGE
                                                            </h3>
                   
                                                            <div class="hr-line-dashed"></div>

                                                            <div class="form-group row ">
                                                                {{ form_label(form.designation ,'Charges (*):', {'label_attr':{'class':'col-sm-4'}}) }}
                                                                <div class="col-sm-8">
                                                                    {{ form_widget(form.designation,{'attr':{'class':'form-control'}}) }}
                                                                    <span class="form-error-message">
                                                                        {{ form_errors(form.designation) }}
                                                                    </span>
                                                                </div>

                                                            </div>
                                                            <div class="hr-line-dashed"></div>

                                                            <div class="form-group row">
                                                                {{ form_label(form.quantite ,'Quantite (*):', {'label_attr':{'class':'col-sm-4'}}) }}
                                                                <div class="col-sm-2">
                                                                    {{ form_widget(form.quantite,{'attr':{'class':'form-control form-control-sm','placeholder':'QUANTITE'}  }) }}
                                                                    <span class="form-error-message">
                                                                        {{ form_errors(form.quantite) }}
                                                                    </span>
                                                                </div>

                                                            </div>

                                                            <div class="hr-line-dashed"></div>

                                                            <div class="form-group row">
                                                                {{ form_label(form.prixunitaire ,'Prix Unitaire :', {'label_attr':{'class':'col-sm-4'}}) }}
                                                                <div class="col-sm-2">
                                                                    {{ form_widget(form.prixunitaire,{'attr':{'class':'form-control form-control-sm','placeholder':'PRIX UNITAIRE'}  }) }}
                                                                    <span class="form-error-message">
                                                                        {{ form_errors(form.prixunitaire) }}
                                                                    </span>
                                                                </div>

                                                            </div>


                                                            <div class="hr-line-dashed"></div>

                                                            <div class="form-group row">
                                                                {{ form_label(form.tva ,'Tva :', {'label_attr':{'class':'col-sm-4'}}) }}
                                                                <div class="col-sm-2">
                                                                    {{ form_widget(form.tva,{'attr':{'class':'form-control form-control-sm','placeholder':'TVA'}  }) }}
                                                                    <span class="form-error-message">
                                                                        {{ form_errors(form.tva) }}
                                                                    </span>
                                                                </div>

                                                            </div>
                                                                        
                     
                                      

                                                            {% if commande is defined %}
                                                                <input type="hidden" name="_id" value="{{ commande.id }}" />
                                                            {% endif %}

                                                            {{ form_end(form,{'render_rest': false}) }}


                                                        </div>
                                                     
                                                        <div class="col-md-6 b-r">
                                                            <h3 class="m-t-none m-b"> LISTE CHARGES 
                                                            </h3>
                                                            <div class="table-responsive">
                                                                <table class="table-detail t-m table table-striped table-bordered table-hover w-m dataTables-example dataTable" id="datatable-show9">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>#
                                                                            </th>
                                                                            <th style="width: 30%;">CHARGE
                                                                            </th>
                                                                            <th>QNT
                                                                            </th>
                                                                            <th>PU</th>
                                                                            <th>TVA</th>
                                                                            
                                                                            <th>TTC</th>
                                                                            <th>SUP</th>
                                                                            
                                                                        </tr>
                                                                    </thead>

                                                                    <tbody>
                                                                        {% if uv_chargedevis is not empty %}
                                                                            {% for charge in uv_chargedevis %}
                                                                                <tr>
                                                                                    <td>{{ loop.index }}</td>
                                                                                    <td>{{ charge.designation }}</td>
                                                                                    <td>{{ charge.quantite }}</td>
                                                                                    <td>{{ charge.prixunitaire }}</td>
                                                                                    <td>{{ charge.tva }}</td>

                                                                                    <td>{{ charge.quantite * (charge.prixunitaire * (1 + (charge.tva / 100 ))) }}</td>
                                                                                    <td>
                                                                                        <form method="delete" class="charge_form_delete">
                                                                                            <input type="hidden" name="_id" value="{{ charge.id }}">
                                                                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ charge.id) }}">
                                                                                            <button class="btn btn-white fa fa-trash" ></button>
                                                                                        </form>
                                                                                    </td>
                                                                                </tr>
                                                                            {% endfor %}
                                                                        {% else %}

                                                                        {% endif %}
                                                                    </tbody>
                                                                    <tfoot>
                                                                        <tr>
                                                                            <th colspan="5" style="text-align:right">Total:</th>

                                                                        </tr>
                                                                    </tfoot>
                                                                </table>

                                                            </div>
                                                        </div>


                                                    </div>


                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <br><br>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('uventecommande') }}
{% endblock %}
