{% if grs_employe is defined and grs_employe is not empty and grs_employe.id is not empty   %}

	<div class="wrf-positions">


	
			{% for key ,  operation in operations  %}
				{% if  operation.prefix == '_delete' %}
					<a id="{{operation.prefix}}" data-id="{{grs_employe.id}}" data-token="{{ csrf_token('delete' ~ grs_employe.id) }}" class='btn-wrf btn btn-xs btn-danger btn-outline {{operation.classCs}}'>
						<i class="fa {{ operation.icon }}"></i>
						{{ operation.titre|capitalize }}</a>
				{% endif %}
			{% endfor %}

	
		<div id="test" data-grs_employe-id="{{ grs_employe.id|json_encode }}"></div>

	</div>
{% endif %}


{{ wo_render_breadcrumbs() }}
