{% set t = 3 %}
{% set margin_left = "" %}
{% set margin_right = "" %}
{% set margin_top = "" %}
{% set margin_bottom = "" %}
{% set position_logo = "" %}
{% set ajouter_info_pied_page = false %}
{% for para in parametre %}
    {% if para.abriviation == "marge_L" %}
        {% set margin_left = para.valeur %}
    {% endif %}
    {% if para.abriviation == "marge_R" %}
        {% set margin_right = para.valeur %}
    {% endif %}
    {% if para.abriviation == "marge_T" %}
        {% set margin_top = para.valeur %}
    {% endif %}
    {% if para.abriviation == "marge_B" %}
        {% set margin_bottom = para.valeur %}
    {% endif %}
    {% if para.abriviation == "position_logo" %}
        {% set position_logo = para.valeur %}
    {% endif %}
    {% if para.abriviation == "ajouter_info_pied_page" %}
        {% if para.valeur == "checked" %}
            {% set ajouter_info_pied_page = true %}
        {% endif %}
    {% endif %}

{% endfor %}
<style type="text/Css">
    body{
        font-family: 'Source Sans Pro', sans-serif;
    }
    .titre-reb{
        width: 100%;
        background: #1f4f7a;
        font-size: 9px ;
        padding:3px 10px;
        color: #f1f1f1;
        font-weight: bold;

    }
    .slh tr th { 
        font-size:7px;
    }
    .slh{
        width: 100% ; background: #FFFFFF ;font-size: 10px
    }
    .slh tr td {
        border-bottom: 1px solid #292929;
    }
    .p1{
        font-size: 10px;
    }
    .table1{
        width: 100%;
    }
    .table2{
        width: 100% ;
        text-align: center;
        border: 0.5px solid #292929;
        border-bottom: none;
    }
    .div1{
        position: relative;left: 5%;width:90%;border-top:1px solid #000;padding:5px;text-align: center;font-size: 11px;line-height:14px
    }
    div.zone_over
    {
        display: block;
        width: 40%;
        word-wrap:break-word !important;
    }
    .table4{
        width: 100% ;
        background: #FFFFFF; 
        text-align: center
    }
    .table5{
        width: 100%;
        border: 1px solid #292929
    }
    .table6{
        width: 100%; 
        text-align: left; 
        font-size: 12px
    }
    .table7{
        width: 100%;
        text-align: left; 
        font-size: 9px
    }
    .table8{
        width: 100%; 
        text-align: left; 
        font-size: 12px
    }
    .tr2{
        background-color: #292929; 
        color:white; 
        font-size: 9px;
    }
    .divfooter{
        position: relative;
        left: 5%;
        width:90%;
        border-top:1px solid #000;
        padding:5px;
        text-align: center;
        font-size: 11px;
    }
    .img1{
        width: 15px
    }
    .tb1{
        width: 100%;
    }
    .tb2{
        width: 100%;border-top: 1px solid
    }
    .tb3{
        width: 100%; text-align: left; font-size: 12px
    }
    .tb4{
        width: 100%; text-align: left; font-size:12px
    }
    .tb5{
        width: 100% ; background: #FFFFFF;font-size: 10px
    }
    .td1{
        width: 65%; text-align: right;
    }
    .td2{
        width: 100% ; height: 10px;
    }
    .td3{
        width: 100% ;background: rgb(31, 79, 122); color: #fff ;height: 17px;padding: 4px ;font-weight: bold;padding-left: 15px;
        font-size:11px;
    }
    .td4{
        width: 50%
    }
    .td5{
        width: 35% ;font-weight: bold;
    }
    .td6{
        width: 65% ;
    }
    .td7{
        width: 40% ;font-weight: bold;
    }
    .td8{
        width: 60%
    }
    .td9{
        width: 90%;padding:6px; font-weight: bold;
    }
    .td10{
        width: 90%;padding:6px;border-right:1px solid ;text-align: left;
    }

    .td11{
        width: 100% ;
        background: #292929; 
        color: #fff ;
        height: 17px
    }
    .td12{
        padding: 10px 4px 1px 4px  ;
        font-weight: bold;
        font-size: 13px
    }
    .td13{
        padding: 5px 4px 10px 4px ; 
        font-weight: bold;
        font-size: 11px
    }
    .td14{
        width: 50% ;
    }
    .td15{
        width: 35% ;
        border: 1px solid #292929
    }
    .td16{
        width: 100%
    }
    .td17{
        width: 65%;
        border: 1px solid #292929
    }
    .td18{
        width: 10% ;
    }
    .td19{
        width: 20% ;
    }
    .td20{
        width: 35% ;
    }
    .td21{
        width: 65%;
    }
    .td22{
        width: 5%;
        padding: 3px;
        font-size: 10px;
        text-align: left;
    }
    .td23{
        width: 60%;
        padding: 3px;
        font-size: 10px;
        text-align: left;
    }
    .td24{
        width: 5%;
        padding: 3px;
        font-size: 10px;
        text-align: center;
    }
    .td25{
        width: 12%;
        padding: 3px;
        font-size: 10px;
        text-align: right;
    }
    .td26{
        width: 13%;
        padding: 3px;
        font-size: 10px;
        text-align: right;
    }
    .tr1{
        width:100%;
    }
    .th1{
        width: 30%; text-align: left;
    }
    .th2{
        width: 10%;padding:6px; font-weight: bold;font-size:9px;
    }
    .th3{
        width: 90%;padding:6px; font-weight: bold;
    }

    .th4{
        width: 12%;
        padding: 3px;
        text-align: center;
    }
    .th5{
        width: 13%;
        padding: 3px;
        text-align: center;
    }
    h5{
        padding: 10px 4px  ; font-weight: bold;font-size: 13px
    }
    img{
        margin-right: 20px;
    }
    .div1{
        line-height: 20px;
    }
    .span1{
        font-size: 12px ;
        text-transform: uppercase ; 
        font-weight: bold;
    }
    span{
        font-size: 10px
    }
    .logo{
        width:250px;height:100px;
    }
    .border-left{
        border-left:1px solid black;

    }
    .border-right{
        border-right:1px solid black;
    }
    footer {
        position: fixed; 
        bottom: -60px; 
        left: 0px; 
        right: 0px;
        height: 100px; 


    }

    .wid{
        width: 100%;
        font-size:10px;
    }
    .tr1{
        background-color: rgb(31, 79, 122);color:white;font-size: 9px;
    }
</style>



{% block header %}

    <table class="tb1" align="center" cellspacing="0">
        <thead>
            <tr>
                <th class="th1"</th>
                <th class="th1"</th>
            </tr>
        </thead>
        <tbody>

            <tr>

                <td class="td1">

                    <img src="{{ asset('img/Logo_UIASS.png')[1:] }}" class="logo" alt="Logo">

                </td>

            </tr>
        </tbody>

    </table>





{% endblock %}




{% block body %}
    <table class="tb2" cellspacing="0">
        <tr>
            <td class="td2"></td>
        </tr>
    </table>
    <br/><br/>

    <!-- 
    <page_footer>
        <table style="width: 100%; border: solid 1px black;">
            <tr>
                <td style="text-align: left;    width: 50%">html2pdf.fr</td>
                <td style="text-align: right;    width: 50%">page [[page_cu]]/[[page_nb]]</td>
            </tr>
        </table>
    </page_footer>-->






    <!--I- Informations achat-->








    <!--End I- Informations achat-->




    <!--II-  Informations Fournisseur-->
    <table cellspacing="0" class="td2" >
        <tr>
            <td class="td3"> Informations Etablissement</td> 
        </tr>
        <tr>

        </tr>


    </table>





    <table class="tb4">
        <tr class="wid"> 
            <td class="td4">
                <table class="wid">
                    <tr>
                        <td class="td5">
                            <table class="wid">
                                <tr>
                                    <td class="wid">Date : </td>
                                </tr>
                            </table>
                        </td>

                        <td class="td6">
                            <table class="wid">
                                <tr>
                                    <td class="wid">{{UnivPlEmptime.datemp|date('Y/m/d')}}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>


                    <tr>
                        <td class="td5">
                            <table class="wid">
                                <tr>
                                    <td class="wid">Heure début : </td>
                                </tr>
                            </table>
                        </td>

                        <td class="td6">
                            <table class="wid">
                                <tr>
                                    <td class="wid">{{UnivPlEmptime.start|date('Y/m/d g:i')}}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>


                    <tr>
                        <td class="td7">
                            <table class="wid">
                                <tr>
                                    <td class="wid">Heure fin : </td>
                                </tr>
                            </table>
                        </td>

                        <td class="td8">
                            <table class="wid">
                                <tr>
                                    <td class="wid">{{UnivPlEmptime.end|date('Y/m/d g:i')}}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td class="td7">
                            <table class="wid">
                                <tr>
                                    <td class="wid">Etablissement : </td>
                                </tr>
                            </table>
                        </td>

                        <td class="td8">
                            <table class="wid">
                                <tr>
                                    <td class="wid">{{UnivPlEmptime.programmation.element.module.semestre.promotion.formation.etablissement ? UnivPlEmptime.programmation.element.module.semestre.promotion.formation.etablissement.designation : '' }}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td class="td7">
                            <table class="wid">
                                <tr>
                                    <td class="wid">Formation :</td>
                                </tr>
                            </table>
                        </td>

                        <td class="td8">
                            <table class="wid">
                                <tr>
                                    <td class="wid">{{UnivPlEmptime.programmation.element.module.semestre.promotion.formation ? UnivPlEmptime.programmation.element.module.semestre.promotion.formation.designation : '' }}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="td7">
                            <table class="wid">
                                <tr>
                                    <td class="wid">Année Universitaire :</td>
                                </tr>
                            </table>
                        </td>

                        <td class="td8">
                            <table class="wid">
                                <tr>
                                    <td class="wid">{{UnivPlEmptime.programmation.annee ? UnivPlEmptime.programmation.annee.designation : '' }}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td class="td7">
                            <table class="wid">
                                <tr>
                                    <td class="wid">Promotion : </td>
                                </tr>
                            </table>
                        </td>

                        <td class="td8">
                            <table class="wid">
                                <tr>
                                    <td class="wid">{{UnivPlEmptime.programmation.element.module.semestre.promotion ? UnivPlEmptime.programmation.element.module.semestre.promotion.designation : '' }}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>


                    <tr>
                        <td class="td7">
                            <table class="wid">
                                <tr>
                                    <td class="wid">Module : </td>
                                </tr>
                            </table>
                        </td>

                        <td class="td8">
                            <table class="wid">
                                <tr>
                                    <td class="wid">{{UnivPlEmptime.programmation.element.module ? UnivPlEmptime.programmation.element.module.designation : '' }}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td class="td7">
                            <table class="wid">
                                <tr>
                                    <td class="wid">Elément : </td>
                                </tr>
                            </table>
                        </td>

                        <td class="td8">
                            <table class="wid">
                                <tr>
                                    <td class="wid">{{UnivPlEmptime.programmation.element ? UnivPlEmptime.programmation.element.designation : '' }}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td class="td7">
                            <table class="wid">
                                <tr>
                                    <td class="wid">Epreuve : </td>
                                </tr>
                            </table>
                        </td>

                        <td class="td8">
                            <table class="wid">
                                <tr>
                                    <td class="wid">{{ UnivPlEmptime.programmation.natureEpreuve.designation }}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="td7">
                            <table class="wid">
                                <tr>
                                    <td class="wid">Groupe : </td>
                                </tr>
                            </table>
                        </td>

                        <td class="td8">
                            <table class="wid">
                                <tr>
                                    <td class="wid">{{ UnivPlEmptime.divisionGroupeDetail ? UnivPlEmptime.divisionGroupeDetail.designation : ''}}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>


                </table>
            </td>


        </tr>   
    </table>


    <table cellspacing="0" class="td2" >
        <tr>
            <td class="td3">La Liste Des Enseignants</td> 
        </tr>



    </table>




    {# <?php
    $somme = 0;
    ?> #}
    <!--End II-  Informations Fournisseur-->

    <!--End III-  Détails commande-->


    <br/>
    <table  cellspacing="0" class="slh">
        <thead>
            <tr class="tr1">
                <th class="th2">ORDRE</th>
                <th class="th2">Nom</th>
                <th class="th2">Prénom</th>
                <th class="th2">Grade</th>
            </tr>
        </thead>
        <tbody>
            {% for times in UnivPlEmptimes %}
                <tr>

                    <td class="td9">{{ times.id }}</td>
                    <td class="td9">{{times.enseignant ? times.enseignant.nom : ''}}</td>
                    <td class="td9">{{times.enseignant ? times.enseignant.prenom : ''}}</td>
                    <td class="td9">{{times.enseignant.grade ? times.enseignant.grade.designation : ''}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br/><br/>

    <table cellspacing="0" class="td2" >
        <tr>
            <td class="td3">La Liste Des Etudiants</td> 
        </tr>
        <tr>

        </tr>


    </table>
    <br/>
    <table  cellspacing="0" class="slh">
        <thead>
            <tr class="tr1">
                <th class="th2">ORDRE</th>
                <th class="th2">Nom</th>
                <th class="th2">Prénom</th>
                <th class="th2">présent </th>
                <th class="th2">Remarques </th>
            </tr>
        </thead>
        <tbody>
        {% if UnivPlEmptime.divisionGroupeDetail.etudiantsGroupe is defined %}
        
            {% for etugroup in UnivPlEmptime.divisionGroupeDetail.etudiantsGroupe %}
                
                <tr>

                    <td class="td9">{{ loop.index }}</td>
                    <td class="td9">{{etugroup.inscription.admission.preinscription.etudiant.nom}}</td>
                    <td class="td9">{{etugroup.inscription.admission.preinscription.etudiant.prenom}}</td>
                    <td class="td9"></td>
                    <td class="td9"></td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>





{% endblock %}

{% block footer %}
    <footer>
        {% if ajouter_info_pied_page == true %}
            <footer>
                <div class="divfooter">
                    <p>
                        Av. Allal El Fassi Madinat Al Irfane Hay Riad 10000 Rabat
                    </p>
                </div>
            </footer>
        {% endif %}
    </footer>
{% endblock %}