{% extends 'base_univ.html.twig' %}
{% block title %}Moyenne Element | Evaluation | UNIV
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('univ_element_moyenne') }}
{% endblock %}


{% block body %}



    <div id="right-sidebar" class="actions animated"></div>


    <div class="row wrapper  white-bg page-heading  fixed-top-navigation-button">

        <div class="col-lg-6">
            {% include './module_univ/evaluation/element/inc/workflow_breadcumb.html.twig' %}
        </div>


        <div class="col-lg-6">
            <div class="title-action">
                {% if  errors_messages is empty   and not workflow_has_marked_place(element, 'creer') and not workflow_has_marked_place(element, 'cloturer')  %}
                    <button class="btn btn-white btn-xs btn-lg _save_element my-button" data-etudiants='{{ etudiants|json_encode }}' data-id="{{element.id}}">
                        <i class="fa fa-save"></i>
                        Enregistrer
                    </button>
                {% endif %}
            </div>
        </div>

        <div class="border-b"></div>
        <div class="col-lg-12">
            {% include './module_univ/evaluation/element/inc/workflow.html.twig' %}
        </div>
    </div>

    <div class="row pt-add-200">
        <div class="col-lg-12">
            <input type="hidden" value="{{element.id}}" id="_id"/>
            <div class="ibox ">
                <div class="ibox-content" style="padding-top: 0px">

                    <div class="card-ribbon card-ribbon-element">
                        <span>
                            <div class="style-position">Élément</div>
                        </span>
                    </div>
                    <div class="row m-t-sm">
                        <div class="col-lg-12 padding-style">
                            <div class="panel blank-panel">
                                <div class="panel-heading">
                                    <div class="panel-options">

                                        {% include './module_univ/evaluation/element/inc/navigation.html.twig' %}
                                    </div>
                                </div>
                                <div class="col-md-12 scroll_content">
                                    <div class="panel-body">
                                        <div class="tab-content">
                                            <div class="tab-pane active show affi" id="tab-1">
                                                <div class="table-responsive">


                                                    {% if infos and errors_messages is not empty  %}
                                                        <div class="row">
                                                            <div class="alert alert-success inform" role="alert">

                                                                {% for inf in infos %}
                                                                    {{ inf|raw }}
                                                                {% endfor %}

                                                            </div>
                                                        </div>
                                                    {% endif %}



                                                    {% if errors_messages %}
                                                        <div class="row">
                                                            <div class="alert alert-warning inform" role="alert">

                                                                {% for err in errors_messages %}
                                                                    {{ err|raw }}
                                                                {% endfor %}

                                                            </div>
                                                        </div>
                                                    {% endif %}


                                                    {% if  workflow_has_marked_place(element, 'creer') %}
                                                        <div class="row">
                                                            <div class="alert alert-warning inform" role="alert">

                                                                NB : Pour Enregister les informations d'un élément , veuillez passer a la position (S1 , S2 ou bien Rachat)

                                                            </div>
                                                        </div>
                                                    {% endif %}


                                                    {% set m_cc = null  %}
                                                    {% set m_tp= null  %}
                                                    {% set m_ef = null  %}
                                                    {% for  key , coefEpreuve in element.coefficientEpreuve %}
                                                        {% if key == 'NAT000000001'  %}
                                                            {% set m_cc = coefEpreuve  %}
                                                        {% endif %}

                                                        {% if key == 'NAT000000002'  %}
                                                            {% set m_tp= coefEpreuve  %}
                                                        {% endif %}


                                                        {% if key == 'NAT000000003'  %}
                                                            {% set m_ef = coefEpreuve  %}
                                                        {% endif %}

                                                    {% endfor  %}


                                                    {% if workflow_has_marked_place(element, 'cloturer') %}


                                                        <div class="forum-item animated bounce">
                                                            <div class="row">
                                                                <div class="col-md-9">
                                                                    <div class="forum-icon">
                                                                        <i class="fa fa-warning"></i>
                                                                    </div>
                                                                    <a class="forum-item-title">Important</a>
                                                                    <div class="forum-sub-title">
                                                                        Vous ne pouvez pas modifier ou bien enregistrer les notes d'un élement aprés l'étape clôturer ,
                                                                        <br/>veuillez consulter
                                                                        <a href="{{ path('module_univ_evaluation_moyenne_element_show' , {id:element.id})}}">
                                                                            ce lien pour plus sur l'élément ({{ element.element.designation }})</a>

                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>

                                                    {% else  %}
                                                        <table class="table  display table-bordered table-hover dataTables-example table-evaluation" id="datatable-show-4" data-id="{{element.id}}" data-moycalculer="1">
                                                            <thead>
                                                                <tr>
                                                                    <th rowspan="2">#</th>
                                                                    <th rowspan="2" width="auto">CODE</th>
                                                                    <th rowspan="2">NOM</th>
                                                                    <th rowspan="2">PRENOM</th>
                                                                    <th colspan="3">MOY.CC (Coef :{{ m_cc }})
                                                                    </th>
                                                                    <th colspan="3">MOY.TP (Coef :{{ m_tp }})</th>
                                                                    <th colspan="3">MOY.EF (Coef :{{ m_ef }})</th>
                                                                    <th rowspan="2">MOY.INI</th>
                                                                    <th rowspan="2">MOY.RAT</th>
                                                                    <th rowspan="2">NOTE RACHAT</th>
                                                                    <th rowspan="2">S.S1</th>
                                                                    <th rowspan="2">S.S2</th>
                                                                    <th rowspan="2">S.RACHAT</th>
                                                                    <th rowspan="2">S.Def</th>
                                                                    <th rowspan="2">S.Aff</th>
                                                                    <th rowspan="2" width="3%">MOYENNE
                                                                        <br/>
                                                                        ENREGISTRE</th>
                                                                    <th rowspan="2" width="3%">MOYENNE
                                                                        <br/>
                                                                        CALCULER</th>
                                                                </tr>
                                                                <tr>
                                                                    <th>M.CC(db)</th>
                                                                    <th>M.CCR(db)</th>
                                                                    <th>M.CC</th>
                                                                    <th>M.TP(db)</th>
                                                                    <th>M.TPR(db)</th>
                                                                    <th>M.TP</th>
                                                                    <th>M.EF(db)</th>
                                                                    <th>M.EFR(db)</th>
                                                                    <th class="tlast">M.EF</th>
                                                                </tr>


                                                            </thead>


                                                        </table>
                                                    {% endif %}

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

    {{ render(controller('App\\Controller\\moduleUniv\\evaluation\\EvaluationAnneeController:ChoixPromotion',{ 'id': element.controleModule.controleSemestre.controlePromotion ,'type':'element','active':element.id}))}}


{% endblock %}


{% block javascripts %}
    {#{ parent() }#}
    {{ encore_entry_script_tags('univ_element_moyenne') }}
{% endblock %}
