{# {{test}} #}
{{ form_start(form ,{'attr':{'novalidate': 'novalidate' , "autocomplete":"off", 'class':'form'}}) }}


<div class="row wrapper  white-bg page-heading  fixed-top-navigation-button">
	<div class="col-lg-12">
		{% include './tresorerie/Banque_consolides/inc/workflow_breadcumb.html.twig' %}
	</div>
	<div class="border-b"></div>
	<div class="col-lg-12">
		{{ wo_render_breadcrumbs() }}
	</div>
</div>
<br/><br/>

<div class="row pt-20">
	<div class="col-lg-12 ">


		<div class="ibox"> 
			<div class="ibox-title ibox-title2">
				<h5>Operations</h5>
			</div>

			<div class="ibox-content">

				<div class="message-success"></div>


				<div class="row m-t-sm">
					<div class="col-lg-12">
						<div class="panel blank-panel">

							<div class="panel-body">
								<div class="col-md-12">
									<div class="tab-content">
										<div class="tab-pane active" id="tab-1">


											{# <div class="hr-line-dashed"></div> #}

											<div class="row">
											    
												<div class="col-sm-5">
												   <div class="form-group row">
														{{ form_label(form.typeCompte ,'Type (*) ', {'label_attr':{'class':'col-sm-4'}}) }}
														<div class="col-sm-7">
															{{ form_widget(form.typeCompte,{'attr':{'class':'sel2 form-control form-control-sm piece'}}) }}
														</div>

													</div>
												    
												</div>

										    </div>

											 {# <div class="hr-line-dashed"></div> #}
                                            
											<div class="row">

											    <div class="col-sm-5">

						                             <div class="form-group row">
														{{ form_label(form.montant ,'Montant (*) ', {'label_attr':{'class':'col-sm-4'}}) }}
														<div class="col-sm-7">
															{{ form_widget(form.montant,{'attr':{'class':'form-control form-control-sm pa_montant'}}) }}
														</div>

													</div>
												
												</div>
											    <div class="col-sm-5">

						                             {# <div class="form-group row">
														<label  class="col-sm-4">Valeur Achat TOTAL </label>
														<div class="col-sm-7">
															<input type="number" name="valeur_achat_total" value="" class="text-right form-control form-control valeur_achat_total" readonly >
														</div>
													</div> #}
												
												</div>
												

										    </div>
											<div class="row">

											    <div class="col-sm-5">

						                             {# <div class="form-group row">
														{{ form_label(form.quantite ,'Quantite (*) ', {'label_attr':{'class':'col-sm-4'}}) }}
														<div class="col-sm-7">
															{{ form_widget(form.quantite,{'attr':{'class':'form-control form-control-sm pa_quantite'}}) }}
														</div>

													</div> #}
												
												</div>
												<div class="col-sm-5">

						                             {# <div class="form-group row">
														<label  class="col-sm-4">Valeur Vente TOTAL </label>
														<div class="col-sm-7">
															<input type="number" name="valeur_vente_total" value="" class="text-right form-control form-control valeur_vente_total" readonly >
														</div>
													</div> #}
												
												</div>

										    </div>
											<div class="row">

											    <div class="col-sm-5">

						                             {# <div class="form-group row">
														{{ form_label(form.valeurAchatUnitaire ,'Valeur Achat Unitaire (*) ', {'label_attr':{'class':'col-sm-4'}}) }}
														<div class="col-sm-7">
															{{ form_widget(form.valeurAchatUnitaire,{'attr':{'class':'form-control form-control-sm pa_valeurAchatUnitaire'}}) }}
														</div>

													</div> #}
												
												</div>
												<div class="col-sm-5">

						                             {# <div class="form-group row">
														<label  class="col-sm-4">Marge Opération Unitaire </label>
														<div class="col-sm-7">
															<input type="number" name="marge_operation_unitaire" value="" class="text-right form-control form-control marge_operation_unitaire" readonly >
														</div>
													</div> #}
												
												</div>

										    </div>
											<div class="row">

											    <div class="col-sm-5">

						                             {# <div class="form-group row">
														{{ form_label(form.valeurVenteUnitaire ,'Valeur Vente Unitaire (*) ', {'label_attr':{'class':'col-sm-4'}}) }}
														<div class="col-sm-7">
															{{ form_widget(form.valeurVenteUnitaire,{'attr':{'class':'form-control form-control-sm pa_valeurVenteUnitaire'}}) }}
														</div>

													</div> #}
												
												</div>

												<div class="col-sm-5">

						                             {# <div class="form-group row">
														<label  class="col-sm-4">Marge Opération total </label>
														<div class="col-sm-7">
															<input type="number" name="marge_operation_total" value="" class="text-right form-control form-control marge_operation_total" readonly >
														</div>
													</div> #}
												
												</div>

										    </div>







									</div>


								</div>


								{% if alimentation is defined %}
									<input type="hidden" name="_id" id="_id" value="{{ alimentation.id }}"/>
								{% endif %}


							</div>
						</div>

					</div>

				</div>
			</div>
		</div>

		{# ---- compte conso ---- #}

		<div class="ibox pt-2">

			<div class="ibox-title ibox-title2">
				<h5>Comptes avant operation </h5>
			</div>

			<div class="ibox-content">

				<div class="message-success"></div>


				<div class="row m-t-sm">
					<div class="col-lg-12">
						<div class="panel blank-panel">

							<div class="panel-body">
								<div class="col-md-12">
									<div class="tab-content">
										<div class="tab-pane active" id="tab-1">


											{# <div class="hr-line-dashed"></div> #}

											{# <div class="row">

											    <div class="col-sm-6">

													<div class="form-group row">
														<label  class="col-sm-4">Compte conso (solde)</label>
														<div class="col-sm-7">
															<input type="text" value="{{sold_conso}}" class="text-right form-control form-control compte_conso" disabled >
														</div>

													</div>

												</div>

										    </div> #}


											{# <div class="hr-line-dashed"></div> #}
											<div class="row">

											    <div class="col-sm-5">
                                                    
													<div class="form-group row">
														<label  class="col-sm-4">Compte conso (solde)</label>
														<div class="col-sm-7">
															<input type="text" value="{{sold_conso}}" class="text-right form-control form-control compte_conso" disabled >
														</div>
													</div>

													<div class="form-group row">
														<label  class="col-sm-4">Compte placement  (MT placement) </label>
														<div class="col-sm-7">
															<input type="text" value="{{placement}}" class="text-right form-control form-control compte_placement" disabled >
														</div>
													</div>

													<div class="form-group row">
														<label  class="col-sm-4"> Montant valorisé </label>
														<div class="col-sm-7">
															<input type="text" value="{{placement}}" class="text-right form-control form-control Manotant_valorise"  disabled>
														</div>
													</div>

												</div>

												{# <div class="col-sm-5">

													<div class="form-group row pt-3" >
														<label  class="col-sm-3 font-weight-bold" style="font-size:13px !important; margin-top: 10px;" > Solde </label>
														<div class="col-sm-7">
															<input style="height:40px; font-size:13px !important;" type="text" value="{{placement + sold_conso}}" class="font-weight-bold form-control form-control Solde text-right" disabled >
														</div>

													</div>

												</div> #}

										    </div>

											{# <div class="hr-line-dashed"></div> #}
											{# <div class="row">

											    <div class="col-sm-6">

													<div class="form-group row">
														<label  class="col-sm-4"> Montant valorisé </label>
														<div class="col-sm-7">
															<input type="text" value="{{placement}}" class="text-right form-control form-control Manotant_valorise"  disabled>
														</div>

													</div>

												</div>

										    </div> #}







									</div>


								</div>


								{% if alimentation is defined %}
									<input type="hidden" name="_id" id="_id" value="{{ alimentation.id }}"/>
								{% endif %}


							</div>
						</div>

					</div>

				</div>
			</div>
		</div>


		{# -- Compte tresorie -- #}



		<div class="ibox pt-2">

			<div class="ibox-title ibox-title2">
				<h5>Comptes apres operation</h5>
			</div>

			<div class="ibox-content">

				<div class="message-success"></div>


				<div class="row m-t-sm">
					<div class="col-lg-12">
						<div class="panel blank-panel">

							<div class="panel-body">
								<div class="col-md-12">
									<div class="tab-content">
										<div class="tab-pane active" id="tab-1">

                                            {# <div class="hr-line-dashed"></div> #}
											{# <div class="row">

											    <div class="col-sm-6">

													<div class="form-group row">
														<label  class="col-sm-4">Compte conso (solde)</label>
														<div class="col-sm-7">
															<input type="text" value="" class="text-right form-control form-control compte_conso_apres" disabled >
														</div>

													</div>

												</div>

										    </div> #}


											{# <div class="hr-line-dashed"></div> #}
											<div class="row">

											    <div class="col-sm-5">

												    <div class="form-group row">
														<label  class="col-sm-4">Compte conso (solde)</label>
														<div class="col-sm-7">
															<input type="text" value="" class="text-right form-control form-control compte_conso_apres" disabled >
														</div>

													</div>

													<div class="form-group row">
														<label  class="col-sm-4">Compte placement  (MT placement) </label>
														<div class="col-sm-7">
															<input type="text" value="" class="text-right form-control form-control compte_placement_apres" disabled >
														</div>

													</div>

													<div class="form-group row">
														<label  class="col-sm-4"> Montant valorisé </label>
														<div class="col-sm-7">
															<input type="text" value="" class="text-right form-control form-control Manotant_valorise_apres"  disabled>
														</div>

													</div>

												</div>

												{# <div class="col-sm-5">

													<div class="form-group row">
														<label  class="col-sm-3 font-weight-bold" style="font-size:13px !important; margin-top: 10px;"> Solde </label>
														<div class="col-sm-7">
															<input style="height:40px; font-size:13px !important;" type="text" class="form-control form-control total_conso_apres  font-weight-bold text-right" disabled >
														</div>

													</div>

												</div> #}

										    </div>

											{# <div class="hr-line-dashed"></div> #}
											{# <div class="row">

											    <div class="col-sm-6">

													<div class="form-group row">
														<label  class="col-sm-4"> Montant valorisé </label>
														<div class="col-sm-7">
															<input type="text" value="" class="text-right form-control form-control Manotant_valorise_apres"  disabled>
														</div>

													</div>

												</div>

										    </div> #}

									</div>


								</div>


								{% if alimentation is defined %}
									<input type="hidden" name="_id" id="_id" value="{{ alimentation.id }}"/>
								{% endif %}


							</div>
						</div>

					</div>

				</div>
			</div>
		</div>






		{# -- INFORMATIONS TRÉSORERIE -- #}
		
{# 
		<div class="ibox pt-2">

			<div class="ibox-title ibox-title2">
				<h5> INFORMATIONS TRÉSORERIE </h5>
			</div>

			<div class="ibox-content">

				<div class="message-success"></div>


				<div class="row m-t-sm">
					<div class="col-lg-12">
						<div class="panel blank-panel">

							<div class="panel-body">
								<div class="col-md-12">
									<div class="tab-content">
										<div class="tab-pane active" id="tab-1">
                                            
											<div class="row">

											    <div class="col-sm-5">

												</div>

												<div class="col-sm-5">

													<div class="form-group row">
														<label  class="col-sm-3 font-weight-bold" style="font-size:13px !important; margin-top: 10px;"> TRÉSORERIE TOTAL </label>
														<div class="col-sm-7">
															<input value="{{ total_mt_final + (placement + sold_conso) }}" style="height:40px; font-size:13px !important;" type="text" class="form-control form-control total_conso_apres font-weight-bold text-right" disabled >
														</div>

													</div>

												</div>


										    </div>


									</div>


								</div>


								{% if alimentation is defined %}
									<input type="hidden" name="_id" id="_id" value="{{ alimentation.id }}"/>
								{% endif %}


							</div>
						</div>

					</div>

				</div>
			</div>
		</div>


 #}



	</div>
</div>


{# ----  Informations-- #}


<div class="row pt-20">
	<div class="col-lg-12 ">
		

	</div>
</div>




{{ form_end(form,{'render_rest': false}) }}
