

<style type="text/Css">
    body{
        font-family: 'Source Sans Pro', sans-serif;
      

    }
    .titre-reb{
        width: 100%;
        background: #1f4f7a;
        font-size: 9px ;
        padding:3px 10px;
        color: #f1f1f1;
        font-weight: bold;
    }
    .slh tr td {
        border-bottom: 0.5px solid #292929;
    }
    .logo{
        margin-right: 20px; width: 150px;; height:70px;
    }
    footer {
        position: fixed; 
        bottom: -90px; 
        left: 0px; 
        right: 0px;
        height: 120px;                 
    }
    .table1{width: 100%;}
    .td1{width: 30%; text-align: left;}
    .td2{width: 35%; text-align: left;}
    .div1{line-height: 20px;}
    .span1{font-size: 11px ;text-transform: uppercase ; font-weight: bold;}
    .span2{font-size: 9px ;}
    .td3{width: 65%; text-align: right;}
    .table2{width: 100% ;text-align: center;border: 0.5px solid #292929;}
    .td4{width: 100% ; font-size: 11px ;font-weight: 200}
    .td5{border-bottom:  solid 0.5px #292929 ;width: 100%}
    .td6{width: 100% ; font-size: 11px ;font-weight: bold}
    .td7{width: 40% ;font-size: 16px;font-weight: bold ; border-right: 0.5px;border-left: 0.5px;}
    .table3{width: 100% ; background: #FFFFFF; text-align: center}
    .table4{background: #292929 ;width: 100%; text-align: left; font-size: 12px}
    .td8{width: 100% ;padding:  4px  ; font-weight: bold;font-size: 13px; color: #fff;}
    .table5{width: 100%; text-align: left; font-size: 9px}
    .td9{width: 35% ;border: 0.5px solid #292929}
    .td10{width: 35%;border: 0.5px solid #292929}
    .td11{width: 10%;padding: 3px;font-size: 10px;text-align: left;background-color: #f7f7f7;font-weight: 800 !important;}
    .td12{background-color: #292929; color:white; font-size: 9px;}
    .td13{width: 10%;padding: 3px}
    .td14{width: 40%;padding: 3px}
    .td15{width: 10%;padding: 3px;text-align: center;}
    .td16{width: 40%;padding: 3px;font-size: 8px;text-align: left;background-color: #f7f7f7;font-weight: 800 !important;}
    .td17{width: 10%;padding: 3px;font-size: 8px;text-align:center;background-color: #f7f7f7;}
    .td18{width: 10%;padding: 3px;font-size: 8px;text-align:left;background-color: #f7f7f7;}
    .td19{width: 100%; text-align: left;font-size: 10px;}
    .p1{padding:0px !important; margin: 0px !important;font-size: 10px;}
    .td20{width: 50%; text-align: left;}
    .td21{width: 40%; text-align: left;}
    .td22{width: 40%; text-align: right;;font-size: 10px;}
    .td23{width: 20%; text-align: left;}
    .divfooter{position: relative;left: 5%;width:90%;border-top:0.5px solid #000;padding:0px;text-align: center;font-size: 11px;}
    .p2{padding:0px !important;margin: 5px 0px 0px 0px !important;}
    .p3{padding:0px !important; margin: 0px !important;}
</style>
<header>
    <table class="table1 " align="center" cellspacing="0">
        <thead>
            <tr>
                <th class="td1"></th>
                <th class="td1"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="td2">
                    <div class="div1">
                        <span class="span1">UNIVERSITE INTERNATIONALE ABULCASIS DES
                            SCIENCES DE LA SANTE</span><br/>

                        <span class="span2">Av. Allal El Fassi Madinat Al Irfane Hay Riad 10000 Rabat                        </span><br/>
<!--                        <span style="font-size: 9px ;">Tel :<?php// echo $dossier['tel']; ?></span><br/>
                        <span style="font-size: 9px ;">Fax :<?php //echo $dossier['tel']; ?></span><br/>-->
                    </div>
                </td>
               <td class="td3">
                    
                    
                
                
                {% if inscription.promotion.formation.code == 'ETA00000023' %}
               
                     <img style="margin-right: 20px; width: 70%" src="{{ asset('img/Logo ifcp.png')[1:] }}" alt="Logo">

                   {% else %}
                    <img class="logo" src="{{ asset('img/Logo UIASS_bkack.png')[1:] }}" alt="Logo">
                    
                   {% endif %}
                
                </td>
            </tr>
        </tbody>
    </table>

</header>
<br>
<table class="table2">
    <tr>
        <td style="width: 30% ;">
             <table class="table1">
                <tr>
                    <th class="td4">DATE relevé </th>
                </tr>
                <tr>
                    <td class="td5"></td>
                </tr>
                <tr>
                    <td class="td6"> {{ "now"|date("m/d/Y") }}</td>
                </tr>
            </table>
        </td>
        <td class="td7">RELEVE DES NOTES </td>
       <td style="width: 30% ;">
            <table class="table3">
                <tr>
                    <th class="td4">Année Universitaire</th>
                </tr>
                <tr>
                    <td class="td5"></td>
                </tr>
                <tr>
                    <td class="td6">{{inscription.annee ? inscription.annee.designation}}</td>
                </tr>
            </table>
        </td>
    </tr>
</table>


<br>
<table cellspacing="0" class="table4">
   
    <tr>
        <td class="td8">Informations Etudiant</td> 
    </tr>
</table>
<br>




<table class="table5">
    <tr class="table1"> 
        <td style="width: 50% ;">
            <table class="table1">
                <tr>
                    
                    <td class="td9">
                        <table class="table1">
                            <tr><td class="table1"><b>NOM  </b></td></tr>
                        </table>
                    </td>
                    <td class="td10">
                        <table class="table1">
                            <tr><td class="table1">{{inscription.admission.preinscription.etudiant ? inscription.admission.preinscription.etudiant.nom}}</td></tr>
                        </table>
                    </td>
                    
                   


                  <td class="td9">
                        <table class="table1">
                            <tr><td class="table1"><b>CODE INSCRIPTION </b></td></tr>
                        </table>
                    </td>
                    
                    <td class="td10">
                        <table class="table1">
                            <tr><td class="table1">{{inscription.code}}</td></tr>
                        </table>
                    </td>

                   
                </tr>

                <tr>
                    
                    
                    
                    <td class="td9">
                        <table class="table1">
                            <tr>
                                <td class="table1"><b>PRENOM </b></td>
                            </tr>
                        </table>
                    </td>
                    <td class="td10">
                        <table class="table1">
                            <tr>
                                <td class="table1">{{inscription.admission.preinscription.etudiant ? inscription.admission.preinscription.etudiant.prenom}}</td>
                            </tr>
                        </table>
                    </td>
                    
                    
                    
                     <td class="td9">
                        <table class="table1">
                            <tr><td class="table1"><b>ETABLISSEMENT </b></td></tr>
                        </table>
                    </td>
                    <td class="td10">
                        <table class="table1">
                            <tr><td class="table1">{{ inscription.promotion.formation.etablissement ? inscription.promotion.formation.etablissement.DESIGNATION}}</td></tr>
                        </table>
                    </td>
                   
                    
                    

                 


                </tr>
                <tr>
                    
                     <td class="td9">
                        <table class="table1">
                            <tr><td class="table1"><b>CODE ETUDIANT</b></td></tr>
                        </table>
                    </td>
                    
                    <td class="td10">
                        <table class="table1">
                            <tr><td class="table1">{{ inscription.admission.preinscription.etudiant ?  inscription.admission.preinscription.etudiant.code}}</td></tr>
                        </table>
                    </td>
                    
                    
                       <td class="td9">
                        <table class="table1">
                            <tr>
                                <td class="table1"><b>FORMATION  </b></td>
                            </tr>
                        </table>
                    </td>
                    <td class="td10">
                        <table class="table1">
                            <tr>
                                <td class="table1"> {{ inscription.promotion.formation ? inscription.promotion.formation.DESIGNATION}}</td>
                            </tr>
                        </table>
                    </td>

                    

                   

                </tr>
                
                
                 <tr>
                    <td class="td9">
                        <table class="table1">
                            <tr>
                                <td class="table1"><b>CODE ADMISSION  </b></td>
                            </tr>
                        </table>
                    </td>
                    <td class="td10">
                        <table class="table1">
                            <tr>
                                <td class="table1">{{ inscription.admission ?  inscription.admission.code}}</td>
                            </tr>
                        </table>
                    </td>

                    
                    
                     <td class="td9">
                        <table class="table1">
                            <tr>
                                <td class="table1"><b>PROMOTION  </b></td>
                            </tr>
                        </table>
                    </td>
                    <td class="td10">
                        <table class="table1">
                            <tr>
                                <td class="table1">{{inscription.promotion ? inscription.promotion.designation}}</td>
                            </tr>
                        </table>
                    </td>
                    
                </tr>
                
                
                
                

            </table>
        </td>
    </tr>   
</table>



{% for semestre in  semestres.semestres %}


<table class="table1" align="center" cellspacing="0">
    <tbody>
        <tr>
             <td class="td11" align="center"> <center> <b>{{semestre.semestre_designation}}</b></center></td> 

        </tr>
        
    </tbody>
</table>



<table class="table1" cellspacing="0">
    <tr class="td12">
        
        <th class="td14">MODULE</th>
        <th class="td15">NOTE Sess 1</th> 
        <th class="td15">NOTE Sess 2</th> 
         <th class="td15">NOTE Finale</th> 
         <!--?php if ($dataIns['validation_academique']=='non'){ ?-->
        <th class="td13">STATUT</th>
         <!--?php } ?-->
        <th class="td15">Observation</th>   
    </tr>
  
        {% for module in semestre.modules %}

        <tr>
            
            <td class="td16"><b>{{module.module_designation}}</b></td>

            
            <td class="td17">{% if module.note_ini == null %} - {% else %} {{ module.note_ini|number_format(2) }} {% endif %}</td>
            <td class="td17">{% if module.note_rat == null %} - {% else %} {{ module.note_rat|number_format(2) }} {% endif %}</td>
           <td class="td17">{% if module.note == null %} - {% else %} {{ module.note|number_format(2) }} {% endif %}</td>
           
          
       
        
           <td class="td18">{{module.statut_aff}}</td>
          
           <td class="td11">{{module.observation}}</td>
        </tr>


   {% endfor %}

   

</table>

<table class="table1" align="center" >
    <tbody>
        <tr>
            <td class="td19">
                
              
                
                <p><b>MOYENNE {{semestre.semestre_designation}} :  {{ semestre.note|number_format(2) }} </b></p>
                <p><b>Statut {{semestre.semestre_designation}} :  {{ semestre.statut_aff }} </b></p>
            </td>
        </tr>
    
        
    </tbody>
</table>



{% endfor %}


<br/>


<table class="table1" align="center" cellspacing="0">
    <tbody>
        <tr>
            <td class="td19">
                
              
              
             
                
                <p><b>MOYENNE Année : {% if anote == null %}{% else %}{{ anote.note ? anote.note|number_format(2) }} {% endif %}</b></p>
                <p class="p1"><b>DECISION DU JURY :{{anote ? anote.statutAff ? anote.statutAff.designation}}</b></p>
            </td>
        </tr>
        
    </tbody>
</table>






<table class="table1" align="center" cellspacing="0">
    <tbody>
        <tr>
            <td class="td20">
                <p class="p1"><b><u>Avis important :</u></b></p>
                <p class="p1">Il ne peut être délivré qu'un seul exemplaire du présent relevé de notes.<br/> Aucun duplicata ne sera fourni. </p>
<!--                <p style="padding:0px !important; margin: 0px !important;font-size: 10px;">Prévoir des photocopies en cas de besoin.</p>-->
            </td>
            <td class="td20">
            </td>
        </tr>
    </tbody>
</table>
<br/><br/><br/><br/>
<table class="table1" align="center" cellspacing="0">
    <tbody>
        <tr>
            <td class="td21">
            </td>
            <td class="td22">
                <p class="p1">Fait à Rabat, Le : <b>{{ "now"|date("m/d/Y") }}</b></p>
            </td>
            <td class="td23">
            </td>
        </tr>
    </tbody>
</table>

<footer>
    <div class="divfooter">
        <p class="p2">Université Internationale Abulcasis des Sciences de la Santé</p>
        <p class="p3">B.P. 6533, Avenue Allal El Fassi, Madinat Al Irfane - 10 000 - Rabat - Maroc</p>
        <p class="p3">Téléphone : +212 5 37 13 14 01 - Fax : +212 5 37 77 01 06 - contact@uiass.ma - www.uiass.ma</p>
    </div>
</footer>

