
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

<style type="text/Css">
    body{
        font-family: 'Source Sans Pro', sans-serif;
    }
    .titre-reb{
        width: 100%;
        background: #1f4f7a;
        font-size: 9px ;
        padding:3px 10px;
        color: #f1f1f1;
        font-weight: bold
    }
    div.zone_over
    {
        display: block;
        width: 40%;
        word-wrap:break-word !important;
    }
    .slh tr td {
        border-bottom: 2px solid black;
    }
    .mo tr td{
        padding:4px;

    }

    .table1{width: 100%;}
    .th1{width: 30%; text-align: left;}
    .td1{width: 80%; text-align: right;font-size:14px;font-weight: bold;padding-right:40px;}
    .td2{width: 25%; text-align: right;}
    .img{margin-right: 75px; width: 75%;}
    .table2{width: 100% ;text-align: center;border: 1px solid #292929;margin-top: 5px;}
    .th2{width: 100% ; font-size: 13px ;font-weight: 200;font-weight: bold;padding:3px;color:black;}
    .td3{border-bottom:  solid 1px #292929 ;width: 100%}
    .td4{width: 100% ; font-size: 11px ;padding:3px;color:black;font-size: 13px ;font-weight: 200;font-weight: bold;}
    .td5{width: 40% ;font-size:16px;font-weight: bold ; border-right: 2px;border-left: 2px ;color:black;}
    .table3{width: 100% ; background: #FFFFFF; text-align: center}
    .table4{width: 100%; text-align: left; font-size: 12px;margin-top:6px;}
    .td6{width: 100% ;background: black; color: #fff ;padding-left: 15px;}
    .table5{width: 100%; text-align: left; font-size: 10px;font-weight: bold;margin-top:6px;}
    .td7{width: 100% ;background: gray; color: #fff ;padding-left: 15px;}
    .table6{width: 100%;margin-top:6px;margin-left:-4px;font-size:10px;font-weight: bold;}
    .td8{width: 20% ;background:rgb(194, 194, 194);}
    .td9{width: 25% ;border:1px solid gray;}
    .td10{width: 30% ;border:1px solid gray;text-align: center;}
    .table7{width: 74.2%; text-align: center; font-size: 10px;font-weight: bold;margin-top:3px;margin-left:-1px;}
    .td11{width: 100% ;border:1.2px solid  gray; color: #595959 ;padding-left: 15px;height:20px;}
    .table8{width: 74.2%;; text-align: left; font-size: 10px;font-weight: bold;margin-top:3px;margin-left:-1px;}
    .td12{width: 100% ;border:1.2px solid  gray; color: #595959 ;height:60px;}
    .table9{width: 25% ;position: absolute;top:21.8%;left:74.5%;font-size:10px;font-weight: bold;}
    .td13{border:1px solid gray;width: 80%;height: 150px;text-align: center;}
    .table10{width: 100%; text-align: left; font-size: 10px;font-weight: bold;}
    .td14{width: 25% ;background:rgb(194, 194, 194);}
    .td15{width: 32.2% ;border:1px solid gray;}
    .td16{width: 32.2% ;border:1px solid gray;}
    .table11{width: 100%;margin-top:6px;margin-left:-4px;font-size:10px;font-weight: bold;text-align: center}
    .td17{width: 57.5% ;background:rgb(194, 194, 194);}
    .table12{width: 100%;margin-left:-4px;font-size:10px;font-weight: bold;}
    .table13{width: 100%; text-align: left; font-size: 10px;margin-top:6px;font-weight: bold;}
    .table14{width: 100%; text-align: left; font-size: 9px;margin-top:3px;margin-left:-1px;}
    .td18{width: 55% ;border:1.2px solid  gray; color: black ;height:60px;padding:2px;}
    .td19{color: black ;height:25px;width:100%;background:rgb(194, 194, 194);text-align: center;}
    .span1{font-size:9px;font-weight: bold;}
    .td20{height:20px;width:100%;border:1px solid gray;}
    .table15{width: 100%; text-align: left; font-size: 8px;margin-top:3px;margin-left:-1px;}
    .td21{width: 100% ;border:1.2px solid  gray; color: black ;height:60px;}
    .footer{position: relative;left: 5%;width:90%;border-top:1px solid gray;padding:5px;text-align: center;font-size: 8px;}
    footer {
        position: fixed; 
        bottom: -90px; 
        left: 0px; 
        right: 0px;
        height: 100px;                 
    }
</style>




<table class="table1" align="center" cellspacing="0">
    <thead>
        <tr>
            <th class="th1"></th>
            <th class="th1"></th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td class="td1">
                <br/><br/> Université Internationale Abulcasis des Sciences de la Santé
            </td>
            <td class="td2">
                <br/>
             
                <img class="img" src="{{ asset('img/Logo pdf_logo.png')[1:] }}" alt="Logo">

            </td>

        </tr>
    </tbody>

</table>







<br/><br/>



<table class="table2" cellspacing="0">



    <tr>
        <td style="width: 30% ;">
            <table class="table" cellspacing="0">
                <tr>
                    <th class="th2">Cod_Insc   </th>
                </tr>
                <tr>

                    <td class="td3"></td>
                </tr>

                <tr>

                    <td class="td4">{{inscription.code}}</td>
                </tr>
            </table>
        </td>
        <td class="td5">INSCRIPTION FMA  </td>
        <td style="width: 30% ;">
            <table class="table3" cellspacing="0">
                <tr>

                    <th class="th2">Date   </th>
                </tr>
                <tr>

                    <td class="td3"></td>
                </tr>

                <tr>

                    <td class="td4">{{ "now"|date("m/d/Y") }}</td>
                </tr>
            </table>
        </td>

    </tr>


</table>

<table cellspacing="0" class="table4">
    <tr>
        <td class="td6">  I- INFORMATIONS PRE-INSCRIPTION EN LIGNE</td> 
    </tr>
    <tr>

    </tr>


</table>

<table cellspacing="0" class="table5" >
    <tr>
        <td class="td7"> 1-1 Informations Personnelles</td> 
    </tr>
    <tr>

    </tr>


</table>
<table cellspacing="4px" class="table6" class="mo">
    <tr>
        <td class="td8"> &nbsp;&nbsp;&nbsp;&nbsp;Nom :</td> 

        <td class="td9">{{inscription.admission.preinscription.etudiant ? inscription.admission.preinscription.etudiant.nom}}</td> 

        <td class="td8"> &nbsp;&nbsp;&nbsp;&nbsp;Prénom :</td> 

        <td class="td9">{{inscription.admission.preinscription.etudiant ? inscription.admission.preinscription.etudiant.prenom}}</td>

        <td class="td10">Photo</td>
    </tr>

    <tr >
        <td class="td8"> &nbsp;&nbsp;&nbsp;&nbsp;Date de naissance  :</td> 

        <td class="td9">{{inscription.admission.preinscription.etudiant ? inscription.admission.preinscription.etudiant.dateNaissance|date("m/d/Y")}}</td> 

        <td class="td8">&nbsp;&nbsp;&nbsp;&nbsp; Lieu de Naissance  :</td> 

        <td class="td9">{{inscription.admission.preinscription.etudiant ? inscription.admission.preinscription.etudiant.lieuNaissance}}</td>


    </tr>
    <tr >
        <td class="td8"> &nbsp;&nbsp;&nbsp;&nbsp;Nationalité   :</td> 

        <td class="td9">{{inscription.admission.preinscription.etudiant ? inscription.admission.preinscription.etudiant.nationalite }}</td> 

        <td class="td8"> &nbsp;&nbsp;&nbsp;&nbsp;Téléphone:  :</td> 

        <td class="td9">{{inscription.admission.preinscription.etudiant ? inscription.admission.preinscription.etudiant.tel1 }}</td>


    </tr>
    <tr >
        <td class="td8"> &nbsp;&nbsp;&nbsp;&nbsp;Mail   :</td> 

        <td class="td9">{{inscription.admission.preinscription.etudiant ? inscription.admission.preinscription.etudiant.mail1 }}</td> 

        <td class="td8"> &nbsp;&nbsp;&nbsp;&nbsp;Ville:  :</td> 

        <td class="td9">{{inscription.admission.preinscription.etudiant ? inscription.admission.preinscription.etudiant.ville }}</td>

    </tr>

</table>
<table cellspacing="0" class="table7" >
    <tr>
        <td class="td11"> Adresse</td> 
    </tr>



</table>
<table cellspacing="0" class="table8" >
    <tr>
        <td class="td12"> &nbsp;{{inscription.admission.preinscription.etudiant ? inscription.admission.preinscription.etudiant.adresse }}</td> 
    </tr>



</table>
<table class="table9"> 
    <tr>    
        <td class="td13">
            Image  
        </td>
    </tr>
</table>
<br/><br/>
<table cellspacing="0" class="table10" >
    <tr>
        <td class="td7"> 1-3 Informations de Scolarité</td> 
    </tr>
    <tr>

    </tr>


</table>
<table cellspacing="4px" class="table6" class="mo">
    <tr>
     
        <td class="td14"> &nbsp;&nbsp;&nbsp;&nbsp;Langue du Concours </td> 

        <td class="td15">Langue du Concours</td> 

        <td class="td14"> &nbsp;&nbsp;&nbsp;&nbsp;Filière Choisie:</td> 

        <td class="td16">{{inscription.promotion.formation ? inscription.promotion.formation.designation}}</td>

    </tr>


</table>

<table cellspacing="0" class="table13" >
    <tr>
        <td class="td6">  II- COMPLEMENT D'INFORMATIONS PRE-INSCRIPTION</td> 
    </tr>
    <tr>

    </tr>


</table>
<table cellspacing="4px" class="table6" class="mo">
    <tr>
        <td class="td14"> &nbsp;&nbsp;&nbsp;&nbsp;N° CIN/Passeport : </td> 

        <td class="td15">{{inscription.admission.preinscription.etudiant ? inscription.admission.preinscription.etudiant.cin}}</td> 

        <td class="td14"> &nbsp;&nbsp;&nbsp;&nbsp;Moyenne de Bac :</td> 

        <td class="td16">--------------</td>

    </tr>

    <tr>
        <td class="td14"> &nbsp;&nbsp;&nbsp;&nbsp;SEXE  : </td> 

        <td class="td15">{{inscription.admission.preinscription.etudiant ? inscription.admission.preinscription.etudiant.sexe}}</td> 

        <td class="td14"> &nbsp;&nbsp;&nbsp;&nbsp;Année de Bac :</td> 

        <td class="td16">{{inscription.admission.preinscription.etudiant ? inscription.admission.preinscription.etudiant.anneeBac}}</td>

    </tr>
    <tr>
      
        <td class="td14"> &nbsp;&nbsp;&nbsp;&nbsp;Serie de Bac : </td> 

        <td class="td15">{{inscription.admission.preinscription.etudiant.typeBac ? inscription.admission.preinscription.etudiant.typeBac.designation}}</td> 

        <td class="td14"> &nbsp;&nbsp;&nbsp;&nbsp;Academie : </td> 
      
        <td class="td16">{{inscription.admission.preinscription.etudiant.academie ? inscription.admission.preinscription.etudiant.academie.designation }}</td>

    </tr>

</table>
<table cellspacing="4px"  class="table11 mo">
    <tr>
        <td class="td17"> &nbsp;&nbsp;&nbsp;&nbsp;Père : </td> 



        <td class="td17"> &nbsp;&nbsp;&nbsp;&nbsp;Mère :</td> 


    </tr>


</table>
<table cellspacing="4px"  class="table12 mo">
    <tr>
        <td class="td14"> &nbsp;&nbsp;&nbsp;&nbsp;Nom : </td> 

        <td class="td15">{{inscription.admission.preinscription.etudiant ? inscription.admission.preinscription.etudiant.nomP}}</td> 

        <td class="td14"> &nbsp;&nbsp;&nbsp;&nbsp;Nom  :</td> 

        <td class="td15">{{inscription.admission.preinscription.etudiant ? inscription.admission.preinscription.etudiant.nomM}}</td>

    </tr>

    <tr>
        <td class="td14"> &nbsp;&nbsp;&nbsp;&nbsp;Prénom  : </td> 

        <td class="td15">{{inscription.admission.preinscription.etudiant ? inscription.admission.preinscription.etudiant.prenomP}}</td> 

        <td class="td14"> &nbsp;&nbsp;&nbsp;&nbsp;Prénom  :</td> 

        <td class="td15">{{inscription.admission.preinscription.etudiant ? inscription.admission.preinscription.etudiant.prenomM}}</td>

    </tr>
    <tr>

        <td class="td14"> &nbsp;&nbsp;&nbsp;&nbsp;Nationalité  : </td> 

        <td class="td15">{{inscription.admission.preinscription.etudiant ? inscription.admission.preinscription.etudiant.nationaliteP}}</td> 

        <td class="td14"> &nbsp;&nbsp;&nbsp;&nbsp;Nationalité : </td> 
  
        <td class="td15">{{inscription.admission.preinscription.etudiant ? inscription.admission.preinscription.etudiant.nationaliteM}}</td>

    </tr>
    <tr>

        <td class="td14"> &nbsp;&nbsp;&nbsp;&nbsp;Employeur : </td> 

        <td class="td15">{{inscription.admission.preinscription.etudiant ? inscription.admission.preinscription.etudiant.employeP}}</td> 

        <td class="td14"> &nbsp;&nbsp;&nbsp;&nbsp;Employeur : </td> 

        <td class="td15">{{inscription.admission.preinscription.etudiant ? inscription.admission.preinscription.etudiant.employeM}}</td>

    </tr>
    <tr>
   
        <td class="td14"> &nbsp;&nbsp;&nbsp;&nbsp;Activité/Profession : </td> 

        <td class="td15">{{inscription.admission.preinscription.etudiant ? inscription.admission.preinscription.etudiant.categorieP}}</td> 

        <td class="td14"> &nbsp;&nbsp;&nbsp;&nbsp;Activité/Profession : </td> 
  
        <td class="td15">{{inscription.admission.preinscription.etudiant ? inscription.admission.preinscription.etudiant.categorieM}}</td>

    </tr>
    <tr>

        <td class="td14"> &nbsp;&nbsp;&nbsp;&nbsp;Téléphone : </td> 

        <td class="td15">{{inscription.admission.preinscription.etudiant ? inscription.admission.preinscription.etudiant.telP}}</td> 

        <td class="td14"> &nbsp;&nbsp;&nbsp;&nbsp;Téléphone : </td> 
   
        <td class="td15">{{inscription.admission.preinscription.etudiant ? inscription.admission.preinscription.etudiant.telM}}</td>

    </tr>
    <tr>

        <td class="td14"> &nbsp;&nbsp;&nbsp;&nbsp;Mail : </td> 

        <td class="td15">{{inscription.admission.preinscription.etudiant ? inscription.admission.preinscription.etudiant.mailP}}</td> 

        <td class="td14"> &nbsp;&nbsp;&nbsp;&nbsp;Mail : </td> 
 
        <td class="td15">{{inscription.admission.preinscription.etudiant ? inscription.admission.preinscription.etudiant.mailM}}</td>

    </tr>

</table>
<br/>
<table cellspacing="0" class="table13" >
    <tr>
        <td class="td6">   III- CONFIRMATION </td> 
    </tr>
    <tr>

    </tr>


</table>
<table cellspacing="0" class="table14" >
    <tr>
        <td class="td18"> &nbsp; Je déclare (Dénomé :........................) sur l'honneur que les renseignements <br/>indiqués sur le présent formulaire sont exacts</td> 
        <td style="width: 5% ;"></td>
        <td style="width: 40% ;">
            <table   cellspacing="0" >
                <tr>
                    <td class="td19"> <span class="span1">Signature du Candidat</span><br/><span style="font-size:8px;">Faire précéder la signature de la mention " Lu et Approuvé</span> </td>
                </tr>
                <tr><td style="width:10%;height:1px"></td></tr>
                <tr>
                   
                    <td class="td20"></td> 
                
                </tr>
               
            </table>
        </td>
    </tr>



</table>
<br/><br/>
<table cellspacing="0" class="table13" >
    <tr>
        <td class="td6">    IV- NOTIFICATION  </td> 
    </tr>
    <tr>

    </tr>


</table>
<table cellspacing="0" class="table15" >
    <tr>
        <td class="td21"> &nbsp;Ce formulaire fait partie des documents officiels retenus 
            dans le dossier de candidature. &nbsp; &nbsp; &nbsp; &nbsp; L\'Université se reserve le droit de refuser toute pré-inscrition en cas de nonconformité
            des informations fournies.</td> 
    </tr>



</table>
<footer>
    <div style="position: relative;left: 5%;width:90%;border-top:1px solid gray;padding:5px;text-align: center;font-size: 8px;"><p>Faculté de Médecine Abulcasis (Hôpital Cheikh Zaid), Hay Riad, Madinat Al Irfane, Avenue Allal El Fassi, BP 6533, 10 000 Rabat - MAROC</p>
    </div>
</footer>

    