{% extends 'base_conge.html.twig' %}



{% block title %}Gestion Ressource Humaines , index | Congé{% endblock %}


{% block body %}







    <div id="right-sidebar" class="actions animated" >

    </div>


{{ form_start(form ,{'attr':{'novalidate': 'novalidate' , 'class':'form'}}) }}


    <div class="row wrapper  white-bg page-heading  fixed-top-navigation-button">

        <div class="col-lg-4">
            <h2 class="fo">GRS, Gestion Ressource Humaines </h2>
            {#{ wo_render_breadcrumbs() }#}
        </div>


        <div class="col-lg-8">
            <div class="title-action">
                <div class="title-action">



                   {#  {% for key ,  operation in operations %}
                        {% if operation.horizontale  %}
                            <a {% if operation.route is not null  %}  href="{{ path(operation.route) }}" {%  endif %}  id="{{operation.prefix}}" class="btn btn-white btn-xs {{operation.classCs}}"><i class="fa {{ operation.icon }}"></i> {{ operation.titre|capitalize }}</a>
                        {% endif %}
                    {% endfor %} #}



                </div>   
            </div>
        </div>

        <div class="border-b"></div>
        <div class="col-lg-12">
            {{ wo_render_breadcrumbs() }}
        </div>

    </div>


    <br/><br/><br/>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">

                <div class="ibox">
                        <div class="ibox-title">
                            <h5>Paramètre de Rechercher</h5>
                        </div>
                        <div class="ibox-content">

                            <div class="row">
                                <div class="col-md-2">
                                    <p class="msty">
                                        Année 
                                    </p>
                                    {#{ form_label(form.dateDebut ,'Date Début :', {'label_attr':{'class':'col-sm-6'}}) }#} 
                                    {{ form_widget(form.annee,{'attr':{'class':'select2_demo_3 form-control select2-hidden-accessible','style':'display: block;width: 100%;'}}) }} 
                                </div>

                                <div class="col-md-3">
                                    <p class="msty">
                                        Fournisseurs
                                    </p>
                                    {{ form_widget(form.poste,{'attr':{'class':'select2_demo_3 form-control select2-hidden-accessible','style':'display: block;width: 100%;'}}) }}

                                </div>
                                <div class="col-md-2">
                                    <p class="msty">
                                        Statut
                                    </p>

                                    {{ form_widget(form.type,{'attr':{'class':'select2_demo_3 form-control select2-hidden-accessible','style':'display: block;width: 100%;'}}) }}

                                </div>
                                <div class="col-md-3">
                                    <br/>
                                    <button type="button" class="btn btn-outline btn-primary mbr search"><i class="fa fa-search"></i></button>
                                    <button type="button" class="btn btn-outline btn-primary mbr rsearch"><i class="fa fa-refresh"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
{{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('affectation_conge') }}
{% endblock %}