<div class="sidebar-container">

    <div class="ibox-tools">
        <a class="close-link close-me" href="">
            <i class="fa fa-times"></i>
        </a>
    </div>

    <div class="tab-content">


        <div id="tab-1" class="tab-pane active">

            <div class="sidebar-title">
                <h3> <i class="fa fa-info-circle"></i> INFORMATIONS </h3>
                <small> Informations sur le document a imprimer  .</small>
            </div>

            <div class="right-sidebar-content">


                <table class="table small m-b-xs">
                    <tbody>
                        <tr>
                            <td>
                                <strong>Code </strong> {{ uv_livraison.code }}
                            </td>
                        </tr>


                    </tbody>
                </table>

                <div class="ibox">
                    <div class="ibox-content">

                        {#<h3>Expression de Besoin Document </h3>#}
                        {{ form_start(form ,{ 'attr':{'novalidate': 'novalidate' , 'target':'_blank'}}) }}
                        {#<div class="form-group">
                            {{ form_label(form.statut ,'Statut :', {'label_attr':{'class':'col-sm-4'}}) }} 
                            {{ form_widget(form.statut,{'attr':{'class':'form-control form-control-sm'}}) }} 
                        </div>#}



                        <br/>
                        <div class="input-group m-b">
                            <div class="input-group-prepend">
                                <span class="input-group-addon">
                                    {{ form_widget(form.ordre, { 'attr': {'class': 'action'} }) }} 
                                </span>
                            </div>
                            <input type="text" class="form-control" readonly="" value="ORDRE">
                        </div>
                        <div class="input-group m-b">
                            <div class="input-group-prepend">
                                <span class="input-group-addon">
                                    {{ form_widget(form.code, { 'attr': {'class': 'action'} }) }} 
                                </span>
                            </div>
                            <input type="text" class="form-control" readonly="" value="REFERENCE">
                        </div>


                        <div class="input-group m-b">
                            <div class="input-group-prepend">
                                <span class="input-group-addon">
                                    {{ form_widget(form.titre, { 'attr': {'class': 'action titre','data-type':'titre'} }) }} 
                                </span>
                            </div>
                            <input type="text" class="form-control" readonly="" value="TITRE">
                        </div>

                        <div class="input-group m-b">
                            <div class="input-group-prepend">
                                <span class="input-group-addon">
                                    {{ form_widget(form.descriptionDetail, { 'attr': {'class': 'action descriptionDetail' ,'data-type':'descriptionDetail'} }) }} 
                                </span>
                            </div>
                            <input type="text" class="form-control" readonly="" value="DESCRIPTION DETAILLE">
                        </div>



                        <div class="input-group m-b">
                            <div class="input-group-prepend">
                                <span class="input-group-addon">
                                    {{ form_widget(form.unite, { 'attr': {'class': 'action'} }) }} 
                                </span>
                            </div>
                            <input type="text" class="form-control" readonly="" disabled="" value="UNITE">
                        </div>


                        <div class="input-group m-b">
                            <div class="input-group-prepend">
                                <span class="input-group-addon">
                                    {{ form_widget(form.quantite, { 'attr': {'class': 'action'} }) }} 
                                </span>
                            </div>
                            <input type="text" class="form-control" readonly="" disabled="" value="QUANTITE">
                        </div>


                        <div class="input-group m-b">
                            <div class="input-group-prepend">
                                <span class="input-group-addon">
                                    {{ form_widget(form.remise, { 'attr': {'class': 'action'} }) }} 
                                </span>
                            </div>
                            <input type="text" class="form-control" readonly="" disabled="" value="REMISE">
                        </div>


                        <div class="input-group m-b">
                            <div class="input-group-prepend">
                                <span class="input-group-addon">
                                    {{ form_widget(form.prixunitaire, { 'attr': {'class': 'action'} }) }} 
                                </span>
                            </div>
                            <input type="text" class="form-control" readonly="" disabled="" value="PRIX UNITAIRE">
                        </div>


                        <div class="input-group m-b">
                            <div class="input-group-prepend">
                                <span class="input-group-addon">
                                    {{ form_widget(form.prixttc, { 'attr': {'class': 'action'} }) }} 
                                </span>
                            </div>
                            <input type="text" class="form-control" readonly="" disabled="" value="PRIX TTC">
                        </div>
                        


                        <div class="input-group m-b">
                            <div class="input-group-prepend">
                                <span class="input-group-addon">
                                    {{ form_widget(form.tva) }} 
                                </span>
                            </div>
                            <input type="text" class="form-control" readonly="" disabled=""  value="TVA">
                        </div>



                        <div class="input-group m-b">
                            <div class="input-group-prepend">
                                <span class="input-group-addon">
                                    {{ form_widget(form.imageName, { 'attr': {'class': 'action'} }) }} 
                                </span>
                            </div>
                            <input type="text" class="form-control" readonly="" value="IMAGE ARTICLE">
                        </div>

                        <div class="input-group m-b">
                            <div class="input-group-prepend">
                                <span class="input-group-addon">
                                    {{ form_widget(form.entete, { 'attr': {'class': 'action'} }) }} 
                                </span>
                            </div>
                            <input type="text" class="form-control entete" readonly="" disabled="" value="SANS ENTETE">
                        </div>
                            {#<div class="hr-line-dashed"></div>
                        	<div class="form-group row dossier" style="display:none;">
								<label class="col-sm-12">Choix dossier :</label>
									<div class="col-sm-12 input-group">
										<select class="form-control form-control-sm sel2">
                                            {% if app.session.get('dossiers')  is defined  %}
                                                {% for key , dossier in  app.session.get('dossiers')|sort((a, b) => a.ordr <=> b.ordr) %}
                                                    <option>{{dossier.abreviation}}</option>
                                                {% endfor %}
                                            {% endif %}
                                        </select>
									</div>


							</div>#}

                        <br/>


                        <div class=""> <input type="checkbox" class="scolumn_0"><label style="margin-left: 10px">TOUT COCHER </label></div>

                        {{ form_widget(form.id) }} 
                        <button class="btn btn-white btn-block btn-xs"><i class="fa fa-print"></i> &nbsp;{{ button_label|default('Imprimer') }}</button>
                        {{ form_end(form,{'render_rest': false}) }}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>












