<div class="row historique">
	<div class="col-lg-12">
		<div class="ibox">
			<div class="ibox-title">
				<h5>
					<i class="fa fa-info-circle"></i>
					Historique Informations</h5>
			</div>
			<div class="ibox-content">
				<div class="row">
				


					{% if  commande != null and commande.devis and position != 'demande' %}
						<div class="col-lg-6">
							<div class="panel panel-default">
								<div class="panel-heading {% if commande.devis is empty %} disable-click {% endif %}">
									<i class="fa fa-list-alt"></i>
									Devis client
									<div class="ibox-tools">
										<a class="collapse-link-historique">
											<i class="fa fa-chevron-up"></i>
										</a>

									</div>

								</div>
								<div class="over hidden">
									{% if commande.devis is not empty %}
										<div class="panel-body historique-panel-body hidden">
											<div class="row">
												<div class="col-md-12">
													<h5 class="m-t-none m-b">Informations bon commande
													</h5>
													<div class="hr-line-dashed hr-line-dashed-co"></div>
													<div class="form-group row ph">
														<label class="col-sm-4 required font-weight-bold">Code :</label>

														<div class="col-sm-8">
															<p class="form-control-static">
																{% if devis.id is defined %}
																	<a href="{{ path('uv_deviscab_show',{'id':commande.devis.id}) }}">{{ commande.devis.code }}</a>
																{% endif %}
															</p>
														</div>
													</div>
													{% if commande.devis.refcommande  %}
														<div class="hr-line-dashed hr-line-dashed-co"></div>
														<div class="form-group row ph">
															<label class="col-sm-4 required font-weight-bold">Référence commande :</label>

															<div class="col-sm-8">

																<p class="form-control-static">
																	{{  commande.devis.refcommande }}
																</p>
															</div>

														</div>
													{% endif %}
													<div class="hr-line-dashed hr-line-dashed-co"></div>
													<div class="form-group row ph">
														<label class="col-sm-4 required font-weight-bold">Date Cmd :</label>
														<div class="col-sm-8">
															<p class="form-control-static">{{ commande.devis.datecommande|date("d/m/Y") }}</p>
														</div>

													</div>
													<div class="hr-line-dashed hr-line-dashed-co"></div>
													<div class="form-group row ph">
														<label class="col-sm-4 required font-weight-bold">Client :</label>

														<div class="col-sm-8">
															<p class="form-control-static">{{ commande.devis.client ? commande.devis.client.societe }}</p>
														</div>

													</div>


													<div class="hr-line-dashed hr-line-dashed-co"></div>
													<div class="form-group row ph">
														<label class="col-sm-4 required font-weight-bold">
															Date devis  :</label>
														<div class="col-sm-8">
															<p class="form-control-static">{{ commande.devis.datedevis|date("d/m/Y") }}</p>
														</div>
													</div>
													{% set ht = 0 %}
													{% set totalTva = 0 %}
													{% set totalRemise = 0 %}
													{% set totalTtc = 0 %}
													<table class="t-m table table-striped table-bordered table-hover dataTables-example dataTable datatable-show-historique-autre">
														<thead>
															<tr>
																<th>#</th>
																<th>Référence</th>
																<th>Article</th>
																<th>Qnt</th>
																<th>PU</th>
																<th>TVA</th>
																<th>Remise</th>
																<th>TTC</th>
															</tr>
														</thead>
														<tbody>

															{% for detail  in  commande.devis.details %}
																<tr>
																	<td>
																		<small>{{ loop.index }}</small>
																	</td>
																	<td>{{ detail.article ? detail.article.code : null }}</td>
																	<td>
																		{{ detail.article  ? detail.article.titre : null }}
																	</td>
																	<td>
																		{{ detail.quantite |number_format(2, '.', ',') }}
																	</td>
																	<td>
																		{{ detail.prixunitaire |number_format(2, '.', ',') }}
																	</td>
																	<td class="text-navy">
																		{{ detail.tva |number_format(2, '.', ',') }}
																		%
																	</td>
																	<td class="text-navy">
																		{{ detail.remise |number_format(2, '.', ',') }}
																		%
																	</td>
																	<td>{{detail.prixttc |number_format(2, '.', ',')}}</td>
																</tr>
																{% set ht = ht + detail.getPrixHt() %}
																{% set totalTva = totalTva + detail.getPrixTva() %}
																{% set totalRemise = totalRemise + detail.getPrixTTcAvecRemise() %}
																{% set totalTtc = totalTtc + detail.getTotalPrixTtc() %}
															{% endfor %}

														</tbody>
														<tfoot>
															<tr>
																<th colspan="8" style="text-align:right">
																	<table class="table-subtotal">
																		<tr>
																			<td>Total HT
																			</td>
																			<td>{{ht}}
																				
																				{{ commande.devis.devise is not defined  or (commande.devis.devise and commande.devis.devise.__isInitialized() is defined and commande.devis.devise.__isInitialized__ == false) ? null : commande.devis.devise.designation }}
																				</td>
																		</tr>
																		<tr class="subtotal-top-border">
																			<td>TVA
																			</td>
																			<td>{{totalTva}}
																				{{ commande.devis.devise is not defined  or (commande.devis.devise and commande.devis.devise.__isInitialized() is defined and commande.devis.devise.__isInitialized__ == false) ? null : commande.devis.devise.designation }}</td>
																		</tr>
																		{% if totalRemise is not empty %}
																			<tr class="subtotal-top-border">
																				<td>Remise
																				</td>
																				<td>{{totalRemise}}
																					{{ commande.devis.devise is not defined  or (commande.devis.devise and commande.devis.devise.__isInitialized() is defined and commande.devis.devise.__isInitialized__ == false) ? null : commande.devis.devise.designation }}</td>
																			</tr>
																		{% endif %}

																		<tr class="subtotal-top-border">
																			<td>Total TTC
																			</td>
																			<td>{{totalTtc}}
																				{{ commande.devis.devise is not defined  or (commande.devis.devise and commande.devis.devise.__isInitialized() is defined and commande.devis.devise.__isInitialized__ == false) ? null : commande.devis.devise.designation }}</td>
																		</tr>
																	</table>
																</th>

															</tr>
														</tfoot>

													</table>
												</div>

											</div>
										</div>
									{% endif %}
								</div>
							</div>
						</div>

					{% endif %}

					{% if commande is defined and position != 'commande' %}
						<div class="col-lg-6">
							<div class="panel panel-default">
								<div class="panel-heading {% if commande is empty %} disable-click {% endif %}">
									<i class="fa fa-list-alt"></i>
									Commande client
									<div class="ibox-tools">
										<a class="collapse-link-historique">
											<i class="fa fa-chevron-up"></i>
										</a>

									</div>

								</div>
								<div class="over hidden">
									{% if commande is not empty %}
										<div class="panel-body historique-panel-body hidden">
											<div class="row">
												<div class="col-md-12">
													<h5 class="m-t-none m-b">Informations bon commande
													</h5>
													<div class="hr-line-dashed hr-line-dashed-co"></div>
													<div class="form-group row ph">
														<label class="col-sm-4 required font-weight-bold">Code :</label>

														<div class="col-sm-8">
															<p class="form-control-static">
																{% if devis.id is defined %}
																	<a href="{{ path('uv_commandecab_show',{'id':commande.id}) }}">{{ commande.code }}</a>
																{% endif %}
															</p>
														</div>
													</div>
													{% if commande.refcommande  %}
														<div class="hr-line-dashed hr-line-dashed-co"></div>
														<div class="form-group row ph">
															<label class="col-sm-4 required font-weight-bold">Référence commande :</label>

															<div class="col-sm-8">

																<p class="form-control-static">
																	{{  commande.refcommande }}
																</p>
															</div>

														</div>
													{% endif %}
													<div class="hr-line-dashed hr-line-dashed-co"></div>
													<div class="form-group row ph">
														<label class="col-sm-4 required font-weight-bold">Date Cmd :</label>
														<div class="col-sm-8">
															<p class="form-control-static">{{ commande.datecommande|date("d/m/Y") }}</p>
														</div>

													</div>
													<div class="hr-line-dashed hr-line-dashed-co"></div>
													<div class="form-group row ph">
														<label class="col-sm-4 required font-weight-bold">Client :</label>

														<div class="col-sm-8">
															<p class="form-control-static">{{ commande.client ? commande.client.societe }}</p>
														</div>

													</div>


													<div class="hr-line-dashed hr-line-dashed-co"></div>
													<div class="form-group row ph">
														<label class="col-sm-4 required font-weight-bold">
															Lvr Prév  :</label>
														<div class="col-sm-8">
															<p class="form-control-static">{{ commande.datedevis|date("d/m/Y") }}</p>
														</div>
													</div>
													{% set ht = 0 %}
													{% set totalTva = 0 %}
													{% set totalRemise = 0 %}
													{% set totalTtc = 0 %}
													<table class="t-m table table-striped table-bordered table-hover dataTables-example dataTable datatable-show-historique-autre">
														<thead>
															<tr>
																<th>#</th>
																<th>Référence</th>
																<th>Article</th>
																<th>Qnt</th>
																<th>PU</th>
																<th>TVA</th>
																<th>Remise</th>
																<th>TTC</th>
															</tr>
														</thead>
														<tbody>

															{% for detail  in  commande.details %}
																<tr>
																	<td>
																		<small>{{ loop.index }}</small>
																	</td>
																	<td>{{ detail.article ? detail.article.code : null  }}</td>
																	<td>
																		{{ detail.article ? detail.article.titre : null }}
																	</td>
																	<td>
																		{{ detail.quantite |number_format(2, '.', ',') }}
																	</td>
																	<td>
																		{{ detail.prixunitaire |number_format(2, '.', ',') }}
																	</td>
																	<td class="text-navy">
																		{{ detail.tva |number_format(2, '.', ',') }}
																		%
																	</td>
																	<td class="text-navy">
																		{{ detail.remise |number_format(2, '.', ',') }}
																		%
																	</td>
																	<td>{{detail.prixttc |number_format(2, '.', ',')}}</td>
																</tr>
																{% set ht = ht + detail.getPrixHt() %}
																{% set totalTva = totalTva + detail.getPrixTva() %}
																{% set totalRemise = totalRemise + detail.getPrixTTcAvecRemise() %}
																{% set totalTtc = totalTtc + detail.getTotalPrixTtc() %}
															{% endfor %}

														</tbody>
														<tfoot>
															<tr>
																<th colspan="8" style="text-align:right">
																	<table class="table-subtotal">
																		<tr>
																			<td>Total HT
																			</td>
																			<td>{{ht}}
																				{{ commande.devise is not defined  or (commande.devise and commande.devise.__isInitialized() is defined and commande.devise.__isInitialized__ == false) ? null : commande.devise.designation }}</td>
																		</tr>
																		<tr class="subtotal-top-border">
																			<td>TVA
																			</td>
																			<td>{{totalTva}}
																				{{ commande.devise is not defined  or (commande.devise and commande.devise.__isInitialized() is defined and commande.devise.__isInitialized__ == false) ? null : commande.devise.designation }}</td>
																		</tr>
																		{% if totalRemise is not empty %}
																			<tr class="subtotal-top-border">
																				<td>Remise
																				</td>
																				<td>{{totalRemise}}
																					{{ commande.devise is not defined  or (commande.devise and commande.devise.__isInitialized() is defined and commande.devise.__isInitialized__ == false) ? null : commande.devise.designation }}</td>
																			</tr>
																		{% endif %}

																		<tr class="subtotal-top-border">
																			<td>Total TTC
																			</td>
																			<td>{{totalTtc}}
																				{{ commande.devise is not defined  or (commande.devise and commande.devise.__isInitialized() is defined and commande.devise.__isInitialized__ == false) ? null : commande.devise.designation }}</td>
																		</tr>
																	</table>
																</th>

															</tr>
														</tfoot>

													</table>
												</div>

											</div>
										</div>
									{% endif %}
								</div>
							</div>
						</div>

					{% endif %}


					<div class="col-lg-6">
						<div class="panel panel-default">
							<div class="panel-heading {% if commande.livraison is not defined or commande.livraison is empty   %} disable-click {% endif %}">
								<i class="fa fa-list"></i>
								Livraison client
								<div class="ibox-tools">
									<a class="collapse-link-historique">
										<i class="fa fa-chevron-up"></i>
									</a>

								</div>

							</div>
							<div class="">
								{% if commande.livraison is defined and commande.livraison is not empty %}

									<div class="panel-body historique-panel-body hidden">
										<div class="row">
											{% for livraisonShow in commande.livraison %}
												<div class="col-md-12 m-b-head-2">
													<div class="panel panel-default">
														<div class="panel-heading {% if livraison is defined and livraisonShow.id == livraison.id %}  color-tab {% endif %} ">
															<i class="fa fa-check"></i>
															Réception
															{{ loop.index }}
															<div class="ibox-tools">
																<a class="collapse-link-historique">
																	<i class="fa fa-chevron-up fa-chevron-down"></i>
																</a>

															</div>

														</div>
														<div class="over">
															<div class="panel-body historique-panel-body">
																<div
																	class="col-md-12">
																	{#<h5 class="m-t-none m-b">
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	Réception :
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	{{ loop.index }}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																</h5>#}


																	<div class="form-group row ph">
																		<label class="col-sm-4 required font-weight-bold">CODE :</label>

																		<div class="col-sm-8">
																			<p class="form-control-static">
																				<a href="{{ path('uv_livraisoncab_show',{'id':livraisonShow.id}) }}">{{ livraisonShow.code }}</a>
																			</p>
																		</div>
																	</div>

																	<div class="hr-line-dashed hr-line-dashed-co"></div>
																	<div class="form-group row ph">
																		<label class="col-sm-4 required font-weight-bold">DATE RCP :</label>
																		<div class="col-sm-8">
																			<p class="form-control-static">{{ livraisonShow.dateDocAsso ? livraisonShow.dateDocAsso|date("d/m/Y")  }}</p>
																		</div>

																	</div>

																	<div class="hr-line-dashed hr-line-dashed-co"></div>
																	<div class="form-group row ph">
																		<label class="col-sm-4 required">
																			RÉFÉRENCE  :</label>

																		<div class="col-sm-8">
																			{{livraisonShow.refDocAsso }}
																		</div>


																	</div>
																	<div class="hr-line-dashed hr-line-dashed-co"></div>
																	<div class="form-group row ph">

																		<label class="col-sm-4 required">
																			Fournisseur :</label>
																		<div class="col-sm-8">
																			{{ livraisonShow.client ? livraisonShow.client.nom}}
																		</div>
																	</div>

																	{% set ht = 0 %}
																	{% set totalTva = 0 %}
																	{% set totalRemise = 0 %}
																	{% set totalTtc = 0 %}
																	<table class="t-m table table-striped table-bordered table-hover dataTables-example dataTable datatable-show-historique-autre">
																		<thead>
																			<tr>
																				<th>#</th>
																				<th>Référence</th>
																				<th>Article</th>
																				<th>Qnt</th>
																				<th>PU</th>
																				<th>TVA</th>
																				<th>Remise</th>
																				<th>TTC</th>
																			</tr>
																		</thead>
																		<tbody>

																			{% for detail  in  livraisonShow.details %}
																				<tr>
																					<td>
																						<small>{{ loop.index }}</small>
																					</td>
																					<td>{{ detail.article  ? detail.article.code : null }}</td>
																					<td>
																						{{ detail.article  ? detail.article.titre : null }}
																					</td>
																					<td>
																						{{ detail.quantite |number_format(2, '.', ',') }}
																					</td>
																					<td>
																						{{ detail.prixunitaire |number_format(2, '.', ',') }}
																					</td>
																					<td class="text-navy">
																						{{ detail.tva |number_format(2, '.', ',') }}
																						%
																					</td>
																					<td class="text-navy">
																						{{ detail.remise |number_format(2, '.', ',') }}
																						%
																					</td>
																					<td>{{detail.prixttc |number_format(2, '.', ',')}}</td>
																				</tr>
																				{% set ht = ht + detail.getPrixHt() %}
																				{% set totalTva = totalTva + detail.getPrixTva() %}
																				{% set totalRemise = totalRemise + detail.getPrixTTcAvecRemise() %}
																				{% set totalTtc = totalTtc + detail.getTotalPrixTtc() %}
																			{% endfor %}

																		</tbody>
																		<tfoot>
																			<tr>
																				<th colspan="8" style="text-align:right">
																					<table class="table-subtotal">
																						<tr>
																							<td>Total HT
																							</td>
																							<td>{{ht}}
																							{{ livraisonShow.devise is not defined  or (livraisonShow.devise and livraisonShow.devise.__isInitialized() is defined and livraisonShow.devise.__isInitialized__ == false) ? null : livraisonShow.devise.designation }}
																							</td>
																						</tr>
																						<tr class="subtotal-top-border">
																							<td>TVA
																							</td>
																							<td>{{totalTva}}
																								{{ livraisonShow.devise is not defined  or (livraisonShow.devise and livraisonShow.devise.__isInitialized() is defined and livraisonShow.devise.__isInitialized__ == false) ? null : livraisonShow.devise.designation }}</td>
																						</tr>
																						{% if totalRemise is not empty %}
																							<tr class="subtotal-top-border">
																								<td>Remise
																								</td>
																								<td>{{totalRemise}}
																									{{ livraisonShow.devise is not defined  or (livraisonShow.devise and livraisonShow.devise.__isInitialized() is defined and livraisonShow.devise.__isInitialized__ == false) ? null : livraisonShow.devise.designation }}</td>
																							</tr>
																						{% endif %}

																						<tr class="subtotal-top-border">
																							<td>Total TTC
																							</td>
																							<td>{{totalTtc}}
																								{{ livraisonShow.devise is not defined  or (livraisonShow.devise and livraisonShow.devise.__isInitialized() is defined and livraisonShow.devise.__isInitialized__ == false) ? null : livraisonShow.devise.designation }}</td>
																						</tr>
																					</table>
																				</th>

																			</tr>
																		</tfoot>

																	</table>
																</div>
															</div>
														</div>
													</div>
												</div>

											{% endfor %}


										</div>

									</div>

								{% endif %}
							</div>
						</div>
					</div>


					{% set factures_array = [] %}
					{% set co = 0 %}
					{% if commande.livraison is defined and commande.livraison is not empty %}
						{% for livraison in  commande.livraison %}

							{%  if livraison.facture is defined %}
								{%  if  livraison.facture not in  factures_array %}
									{% if livraison.facture.reglements is defined and livraison.facture.reglements is not empty %}
										{% set co = co + livraison.facture.reglements|length %}
									{% endif  %}
									{% if livraison.facture is not empty %}
										{% set factures_array = factures_array|merge([livraison.facture]) %}
									{% endif %}
								{% endif  %}
							{% endif %}
						{% endfor %}
					{% endif %}


					<div class="col-lg-6">
						<div class="panel panel-default">
							<div class="panel-heading {% if factures_array is empty %} disable-click {% endif %}">
								<i class="fa fa-file-text-o"></i>
								Factures fournisseur
								<div class="ibox-tools">
									<a class="collapse-link-historique">
										<i class="fa fa-chevron-up"></i>
									</a>

								</div>

							</div>
							<div class="">
								{% if factures_array is not empty %}

									<div class="panel-body historique-panel-body hidden">
										<div class="row">
											{% for facture1 in factures_array  %}
												<div class="col-md-12 m-b-head-2">
													<div class="panel panel-default">
														<div class="panel-heading {% if commande is empty %} disable-click {% endif %} {% if facture.id is defined and t_reglementfrs.id is not defined and facture.id == facture1.id %} {{facture1.id}} {{facture.id}}  color-tab {% endif %}">
															<i class="fa fa-check"></i>
															Facture :
															{{ loop.index }}
															<div class="ibox-tools">
																<a class="collapse-link-historique">
																	<i class="fa fa-chevron-up"></i>
																</a>

															</div>

														</div>
														<div class="over">
															<div class="col-md-12">

																<br/>
																<div class="form-group row ph">
																	<label class="col-sm-5 required font-weight-bold">Code :</label>

																	<div class="col-sm-7">
																		<p class="form-control-static">
																			<a href="{{path('uv_facturecab_show',{'id':facture1.id})}}">{{ facture1.code }}</a>
																		</p>

																	</div>

																</div>
																<div class="hr-line-dashed hr-line-dashed-co"></div>
																<div class="form-group row ph">
																	<label class="col-sm-5 required font-weight-bold">DATE FACTURE :</label>

																	<div class="col-sm-7">
																		<p class="form-control-static">{{ facture1.datefacture|date("d/m/Y") }}</p>
																	</div>

																</div>


																<div class="hr-line-dashed hr-line-dashed-co"></div>
																<div class="form-group row ph">
																	<label class="col-sm-5 required font-weight-bold">
																		Mt Facture  :
																	</label>

																	<div class="col-sm-7">
																		<p class="form-control-static">
																			{{ facture1.montant|number_format(2) }}</p>
																	</div>

																</div>


																<div class="hr-line-dashed hr-line-dashed-co"></div>
																<div class="form-group row ph">
																	<label class="col-sm-5 required font-weight-bold">
																		Réception(s) :
																	</label>

																	<div class="col-sm-7">
																		{% for reception in facture1.livraisons %}
																			<p style="margin:0" class="form-control-static">
																				<a href="{{ path('uv_livraisoncab_show',{'id':reception.id}) }}">{{ reception.code }}</a>
																			</p>
																		{% endfor %}
																	</div>

																</div>
																{% if facture1.reglements|length > 0  %}


																	<table class="t-m table table-striped table-bordered table-hover datatable-show-historique-reglement">
																		<thead>
																			<tr>
																				<th>#</th>
																				<th>Code</th>
																				<th>Date Réglement</th>
																				<th>Mode paiement</th>
																				<th>Montant Réglement</th>

																			</tr>
																		</thead>
																		<tbody>


																			{% for reglement  in  facture1.reglements %}
																				<tr>
																					<td>
																						<small>{{ loop.index }}</small>
																					</td>
																					<td>{{reglement.code}}</td>
																					<td>
																						{{reglement.datereglement|date("d/m/Y")}}
																					</td>
																					<td>
																						{{reglement.modepaiement ? reglement.modepaiement.designation}}
																					</td>
																					<td>
																						{{ reglement.mtreglement|number_format(2, '.', ',') }}
																					</td>
																				</tr>
																			{% endfor %}

																		</tbody>

																	</table>


																{% endif %}

															</div>
														</div>
													</div>
												</div>
											{% endfor %}


										</div>


									</div>

								{% endif %}
							</div>
						</div>
					</div>


					<div class="col-lg-6">
						<div class="panel panel-default">
							<div class="panel-heading {% if co == 0 %} disable-click {% endif %}">
								<i class="fa fa-credit-card"></i>
								Réglement fournisseur
								<div class="ibox-tools">
									<a class="collapse-link-historique">
										<i class="fa fa-chevron-up"></i>
									</a>

								</div>

							</div>
							<div class="">
								{% if co != 0 %}
									{% for facture2 in factures_array  %}
										{% for reglement1  in  facture2.reglements %}
											<div class="panel-body historique-panel-body hidden">
												<div class="row">
													<div class="col-md-12 m-b-head-2">
														<div class="panel panel-default">
															<div class="panel-heading {% if t_reglementfrs.id is defined and reglement1.id == t_reglementfrs.id %}  color-tab {% endif %} ">
																<i class="fa fa-check"></i>
																Réglement
																{{ loop.index }}
																<div class="ibox-tools">
																	<a class="collapse-link-historique">
																		<i class="fa fa-chevron-up fa-chevron-down"></i>
																	</a>

																</div>

															</div>
															<div class="over">
																<div class="panel-body historique-panel-body">


																	<div class="col-md-12">


																		<div class="form-group row ph">
																			<label class="col-sm-5 required font-weight-bold">Code :</label>

																			<div class="col-sm-7">
																				<p class="form-control-static">
																					<a href="{{path('uv_reglementcab_show',{'id':reglement1.id})}}">{{ reglement1.code }}</a>
																				</p>

																			</div>

																		</div>
																		<div class="hr-line-dashed hr-line-dashed-co"></div>
																		<div class="form-group row ph">
																			<label class="col-sm-5 required font-weight-bold">Date Réglement :</label>

																			<div class="col-sm-7">
																				<p class="form-control-static">{{ reglement1.datereglement|date("d/m/Y") }}</p>
																			</div>

																		</div>


																		<div class="hr-line-dashed hr-line-dashed-co"></div>
																		<div class="form-group row ph">
																			<label class="col-sm-5 required font-weight-bold">
																				Mode de Paiement  :
																			</label>

																			<div class="col-sm-7">
																				<p class="form-control-static">
																					{{reglement1.modepaiement ? reglement1.modepaiement.designation }}</p>
																			</div>

																		</div>


																		<div class="hr-line-dashed hr-line-dashed-co"></div>
																		<div class="form-group row ph">
																			<label class="col-sm-5 required font-weight-bold">
																				Banque :
																			</label>

																			<div class="col-sm-7">

																				<p style="margin:0" class="form-control-static">
																					{{reglement1.banque ? reglement1.banque.designation }}
																				</p>

																			</div>

																		</div>

																		<div class="hr-line-dashed hr-line-dashed-co"></div>
																		<div class="form-group row ph">
																			<label class="col-sm-5 required font-weight-bold">
																				Montant Facture :
																			</label>

																			<div class="col-sm-7">

																				<p style="margin:0" class="form-control-static">
																					{{reglement1.factureClient.montant|number_format(2)}}
																					{{ reglement1.devise ? reglement1.devise.designation : null  }}
																				</p>

																			</div>

																		</div>

																		<div class="hr-line-dashed hr-line-dashed-co"></div>
																		<div class="form-group row ph">
																			<label class="col-sm-5 required font-weight-bold">
																				Montant Réglement :
																			</label>

																			<div class="col-sm-7">

																				<p style="margin:0" class="form-control-static">
																					{{reglement1.mtreglement  |number_format(2)}}
																					{{ reglement1.devise ? reglement1.devise.designation : null  }}
																				</p>

																			</div>

																		</div>

																	</div>
																</div>
															</div>
														</div>

													</div>


												</div>
											{% endfor %}
										{% endfor %}
									</div>
								{% endif %}
							</div>
						</div>


					</div>

                    {#
					<div class="col-lg-6">
						<div class="panel panel-default">
							<div class="panel-heading {% if commande.livraisons is not defined    %} disable-click {% endif %}">
								<i class="fa fa-list"></i>
								Réception bc fournisseur
								<div class="ibox-tools">
									<a class="collapse-link-historique">
										<i class="fa fa-chevron-up"></i>
									</a>

								</div>

							</div>
							<div class="">
								{% if commande.livraisons is defined and commande.livraisons is not empty %}

									<div class="panel-body historique-panel-body hidden">
										<div class="row">
											{% for livraisonShow in commande.livraisons %}
												<div class="col-md-12 m-b-head-2">
													<div class="panel panel-default">
														<div class="panel-heading {% if livraison is defined and livraisonShow.id == livraison.id %}  color-tab {% endif %} ">
															<i class="fa fa-check"></i>
															Réception
															{{ loop.index }}
															<div class="ibox-tools">
																<a class="collapse-link-historique">
																	<i class="fa fa-chevron-up fa-chevron-down"></i>
																</a>

															</div>

														</div>
														<div class="over">
															<div class="panel-body historique-panel-body">
																<div
																	class="col-md-12">
																	{#<h5 class="m-t-none m-b">
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	Réception :
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	{{ loop.index }}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																</h5># }


																	<div class="form-group row ph">
																		<label class="col-sm-4 required font-weight-bold">CODE :</label>

																		<div class="col-sm-8">
																			<p class="form-control-static">
																				<a href="{{ path('ua_t_livraisonfrscab_show',{'id':livraisonShow.id}) }}">{{ livraisonShow.code }}</a>
																			</p>
																		</div>
																	</div>

																	<div class="hr-line-dashed hr-line-dashed-co"></div>
																	<div class="form-group row ph">
																		<label class="col-sm-4 required font-weight-bold">DATE RCP :</label>
																		<div class="col-sm-8">
																			<p class="form-control-static">{{ livraisonShow.dateDocAsso ? livraisonShow.dateDocAsso|date("d/m/Y")  }}</p>
																		</div>

																	</div>

																	<div class="hr-line-dashed hr-line-dashed-co"></div>
																	<div class="form-group row ph">
																		<label class="col-sm-4 required">
																			RÉFÉRENCE  :</label>

																		<div class="col-sm-8">
																			{{livraisonShow.refDocAsso }}
																		</div>


																	</div>
																	<div class="hr-line-dashed hr-line-dashed-co"></div>
																	<div class="form-group row ph">

																		<label class="col-sm-4 required">
																			Fournisseur :</label>
																		<div class="col-sm-8">
																			{{ livraisonShow.fournisseur ? livraisonShow.fournisseur.nom}}
																		</div>
																	</div>

																	{% set ht = 0 %}
																	{% set totalTva = 0 %}
																	{% set totalRemise = 0 %}
																	{% set totalTtc = 0 %}
																	<table class="t-m table table-striped table-bordered table-hover dataTables-example dataTable datatable-show-historique-autre">
																		<thead>
																			<tr>
																				<th>#</th>
																				<th>Référence</th>
																				<th>Article</th>
																				<th>Qnt</th>
																				<th>PU</th>
																				<th>TVA</th>
																				<th>Remise</th>
																				<th>TTC</th>
																			</tr>
																		</thead>
																		<tbody>

																			{% for detail  in  livraisonShow.details %}
																				<tr>
																					<td>
																						<small>{{ loop.index }}</small>
																					</td>
																					<td>{{detail.article.code}}</td>
																					<td>
																						{{ detail.article.titre }}
																					</td>
																					<td>
																						{{ detail.quantite |number_format(2, '.', ',') }}
																					</td>
																					<td>
																						{{ detail.prixunitaire |number_format(2, '.', ',') }}
																					</td>
																					<td class="text-navy">
																						{{ detail.tva |number_format(2, '.', ',') }}
																						%
																					</td>
																					<td class="text-navy">
																						{{ detail.remise |number_format(2, '.', ',') }}
																						%
																					</td>
																					<td>{{detail.prixttc |number_format(2, '.', ',')}}</td>
																				</tr>
																				{% set ht = ht + detail.getPrixHt() %}
																				{% set totalTva = totalTva + detail.getPrixTva() %}
																				{% set totalRemise = totalRemise + detail.getPrixTTcAvecRemise() %}
																				{% set totalTtc = totalTtc + detail.getTotalPrixTtc() %}
																			{% endfor %}

																		</tbody>
																		<tfoot>
																			<tr>
																				<th colspan="8" style="text-align:right">
																					<table class="table-subtotal">
																						<tr>
																							<td>Total HT
																							</td>
																							<td>{{ht}}
																								{{ livraisonShow.devise ? livraisonShow.devise.designation : null  }}</td>
																						</tr>
																						<tr class="subtotal-top-border">
																							<td>TVA
																							</td>
																							<td>{{totalTva}}
																								{{ livraisonShow.devise ? livraisonShow.devise.designation : null  }}</td>
																						</tr>
																						{% if totalRemise is not empty %}
																							<tr class="subtotal-top-border">
																								<td>Remise
																								</td>
																								<td>{{totalRemise}}
																									{{ livraisonShow.devise ? livraisonShow.devise.designation : null  }}</td>
																							</tr>
																						{% endif %}

																						<tr class="subtotal-top-border">
																							<td>Total TTC
																							</td>
																							<td>{{totalTtc}}
																								{{ livraisonShow.devise ? livraisonShow.devise.designation : null  }}</td>
																						</tr>
																					</table>
																				</th>

																			</tr>
																		</tfoot>

																	</table>
																</div>
															</div>
														</div>
													</div>
												</div>

											{% endfor %}


										</div>

									</div>

								{% endif %}
							</div>
						</div>
					</div>
					
					{% set factures_array = [] %}
					{% set co = 0 %}
					{% if commande.livraisons is defined and commande.livraisons is not empty %}
						{% for livraison in  commande.livraisons %}

							{%  if livraison.facture is defined %}
								{%  if  livraison.facture not in  factures_array %}
									{% if livraison.facture.tReglementfrs is defined and livraison.facture.tReglementfrs is not empty %}
										{% set co = co + livraison.facture.tReglementfrs|length %}
									{% endif  %}
									{% if livraison.facture is not empty %}
										{% set factures_array = factures_array|merge([livraison.facture]) %}
									{% endif %}
								{% endif  %}
							{% endif %}
						{% endfor %}
					{% endif %}


					<div class="col-lg-6">
						<div class="panel panel-default">
							<div class="panel-heading {% if factures_array is empty %} disable-click {% endif %}">
								<i class="fa fa-file-text-o"></i>
								Factures fournisseur
								<div class="ibox-tools">
									<a class="collapse-link-historique">
										<i class="fa fa-chevron-up"></i>
									</a>

								</div>

							</div>
							<div class="">
								{% if factures_array is not empty %}

									<div class="panel-body historique-panel-body hidden">
										<div class="row">
											{% for facture1 in factures_array  %}
												<div class="col-md-12 m-b-head-2">
													<div class="panel panel-default">
														<div class="panel-heading {% if commande is empty %} disable-click {% endif %} {% if facture.id is defined and t_reglementfrs.id is not defined and facture.id == facture1.id %} {{facture1.id}} {{facture.id}}  color-tab {% endif %}">
															<i class="fa fa-check"></i>
															Facture :
															{{ loop.index }}
															<div class="ibox-tools">
																<a class="collapse-link-historique">
																	<i class="fa fa-chevron-up"></i>
																</a>

															</div>

														</div>
														<div class="over">
															<div class="col-md-12">

																<br/>
																<div class="form-group row ph">
																	<label class="col-sm-5 required font-weight-bold">Code :</label>

																	<div class="col-sm-7">
																		<p class="form-control-static">
																			<a href="{{path('ua_t_facturefrscab_consulte',{'id':facture1.id})}}">{{ facture1.code }}</a>
																		</p>

																	</div>

																</div>
																<div class="hr-line-dashed hr-line-dashed-co"></div>
																<div class="form-group row ph">
																	<label class="col-sm-5 required font-weight-bold">DATE FACTURE :</label>

																	<div class="col-sm-7">
																		<p class="form-control-static">{{ facture1.datefacture|date("d/m/Y") }}</p>
																	</div>

																</div>


																<div class="hr-line-dashed hr-line-dashed-co"></div>
																<div class="form-group row ph">
																	<label class="col-sm-5 required font-weight-bold">
																		Mt Facture  :
																	</label>

																	<div class="col-sm-7">
																		<p class="form-control-static">
																			{{ facture1.montant|number_format(2) }}</p>
																	</div>

																</div>


																<div class="hr-line-dashed hr-line-dashed-co"></div>
																<div class="form-group row ph">
																	<label class="col-sm-5 required font-weight-bold">
																		Réception(s) :
																	</label>

																	<div class="col-sm-7">
																		{% for reception in facture1.livraisons %}
																			<p style="margin:0" class="form-control-static">
																				<a href="{{ path('ua_t_livraisonfrscab_show',{'id':reception.id}) }}">{{ reception.code }}</a>
																			</p>
																		{% endfor %}
																	</div>

																</div>
																{% if facture1.tReglementfrs|length>0  %}


																	<table class="t-m table table-striped table-bordered table-hover datatable-show-historique-reglement">
																		<thead>
																			<tr>
																				<th>#</th>
																				<th>Code</th>
																				<th>Date Réglement</th>
																				<th>Mode paiement</th>
																				<th>Montant Réglement</th>

																			</tr>
																		</thead>
																		<tbody>


																			{% for reglement  in  facture1.tReglementfrs %}
																				<tr>
																					<td>
																						<small>{{ loop.index }}</small>
																					</td>
																					<td>{{reglement.code}}</td>
																					<td>
																						{{reglement.datereglement|date("d/m/Y")}}
																					</td>
																					<td>
																						{{reglement.modepaiement ? reglement.modepaiement.designation}}
																					</td>
																					<td>
																						{{ reglement.mtreglement|number_format(2, '.', ',') }}
																					</td>
																				</tr>
																			{% endfor %}

																		</tbody>

																	</table>


																{% endif %}

															</div>
														</div>
													</div>
												</div>
											{% endfor %}


										</div>


									</div>

								{% endif %}
							</div>
						</div>
					</div>


					<div class="col-lg-6">
						<div class="panel panel-default">
							<div class="panel-heading {% if co == 0 %} disable-click {% endif %}">
								<i class="fa fa-credit-card"></i>
								Réglement fournisseur
								<div class="ibox-tools">
									<a class="collapse-link-historique">
										<i class="fa fa-chevron-up"></i>
									</a>

								</div>

							</div>
							<div class="">
								{% if co != 0 %}
									{% for facture2 in factures_array  %}
										{% for reglement1  in  facture2.tReglementfrs %}
											<div class="panel-body historique-panel-body hidden">
												<div class="row">
													<div class="col-md-12 m-b-head-2">
														<div class="panel panel-default">
															<div class="panel-heading {% if t_reglementfrs is defined and reglement1.id == t_reglementfrs.id %}  color-tab {% endif %} ">
																<i class="fa fa-check"></i>
																Réglement
																{{ loop.index }}
																<div class="ibox-tools">
																	<a class="collapse-link-historique">
																		<i class="fa fa-chevron-up fa-chevron-down"></i>
																	</a>

																</div>

															</div>
															<div class="over">
																<div class="panel-body historique-panel-body">


																	<div class="col-md-12">


																		<div class="form-group row ph">
																			<label class="col-sm-5 required font-weight-bold">Code :</label>

																			<div class="col-sm-7">
																				<p class="form-control-static">
																					<a href="{{path('ua_t_reglement_show',{'id':reglement1.id})}}">{{ reglement1.code }}</a>
																				</p>

																			</div>

																		</div>
																		<div class="hr-line-dashed hr-line-dashed-co"></div>
																		<div class="form-group row ph">
																			<label class="col-sm-5 required font-weight-bold">Date Réglement :</label>

																			<div class="col-sm-7">
																				<p class="form-control-static">{{ reglement1.datereglement|date("d/m/Y") }}</p>
																			</div>

																		</div>


																		<div class="hr-line-dashed hr-line-dashed-co"></div>
																		<div class="form-group row ph">
																			<label class="col-sm-5 required font-weight-bold">
																				Mode de Paiement  :
																			</label>

																			<div class="col-sm-7">
																				<p class="form-control-static">
																					{{reglement1.modepaiement ? reglement1.modepaiement.designation }}</p>
																			</div>

																		</div>


																		<div class="hr-line-dashed hr-line-dashed-co"></div>
																		<div class="form-group row ph">
																			<label class="col-sm-5 required font-weight-bold">
																				Banque :
																			</label>

																			<div class="col-sm-7">

																				<p style="margin:0" class="form-control-static">
																					{{reglement1.banque ? reglement1.banque.designation }}
																				</p>

																			</div>

																		</div>

																		<div class="hr-line-dashed hr-line-dashed-co"></div>
																		<div class="form-group row ph">
																			<label class="col-sm-5 required font-weight-bold">
																				Montant Facture :
																			</label>

																			<div class="col-sm-7">

																				<p style="margin:0" class="form-control-static">
																					{{reglement1.factureFournisseur.montant|number_format(2)}}
																					{{ reglement1.devise ? reglement1.devise.designation : null  }}
																				</p>

																			</div>

																		</div>

																		<div class="hr-line-dashed hr-line-dashed-co"></div>
																		<div class="form-group row ph">
																			<label class="col-sm-5 required font-weight-bold">
																				Montant Réglement :
																			</label>

																			<div class="col-sm-7">

																				<p style="margin:0" class="form-control-static">
																					{{reglement1.mtreglement  |number_format(2)}}
																					{{ reglement1.devise ? reglement1.devise.designation : null  }}
																				</p>

																			</div>

																		</div>

																	</div>
																</div>
															</div>
														</div>

													</div>


												</div>
											{% endfor %}
										{% endfor %}
									</div>
								{% endif %}
							</div>
						</div>


					</div>
					#}



				</div>
			</div>
		</div>
	</div>
