
{% extends 'base_ugouv.html.twig' %}



{% block title %}General operation index | Tresorerie
{% endblock %}

{% block body %}
    <div class="actions modal fade right" id="ModalDocumentDynamique" tabindex="-1" role="dialog" aria-labelledby="exampleModalPreviewLabel" aria-hidden="false" data-backdrop='false'>
		<div class="modal-dialog modal-full-height modal-right modal-sm" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalPreviewLabel">GENERER TRANSACTION</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body bo-0">
					<div class="_facture">
						<div class="text-center spr">
							<br/>
							<div class="spinner-border" role="status">
								<span class="sr-only">Loading...</span>
							</div>
						</div>
						<div class="bod"></div>
					</div>
				</div>

			</div>
		</div>
	</div>
{#middle#}
    <div class="actions modal fade right" id="ModalDocumentDynamique1" tabindex="-1" role="dialog" aria-labelledby="exampleModalPreviewLabel" aria-hidden="false" data-backdrop='false'>
		<div class="modal-dialog modal-full-height modal-operation modal-right "  role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalPreviewLabel1"> OPeRATION
                    </h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body bo-0">
					<div class="text-center spr1">
						<br/>
						<div class="spinner-border" role="status">
							<span class="sr-only">Loading...</span>
						</div>
					</div>
					<div class="bod1"></div>
				</div>

			</div>
		</div>
	</div>
    <div id="right-sidebar" class="actions animated"></div>

    <div class="row wrapper  white-bg page-heading  fixed-top-navigation-button">

        <div class="col-lg-6">
            {% include './tresorerie/tr_general_operation/inc/workflow_breadcumb.html.twig' %}
            {#{ wo_render_breadcrumbs() }#}
        </div>


        <div class="col-lg-6">
            <div class="title-action">


                {% for key ,  operation in operations %}
                    {% if operation.verticale and  operation.prefix== '_new'%}
                        <a {% if operation.route is not null  %}  href="{{ path(operation.route) }}" {%  endif %}  id="{{operation.prefix}}" class="op-hor btn btn-white btn-xs {{operation.classCs}}"><i class="fa {{ operation.icon }}"></i> {{ operation.titre|capitalize }}</a>
                    {% endif %}
                {% endfor %}


            </div>
        </div>

        <div class="border-b"></div>
        <div class="col-lg-12">
            {{ wo_render_breadcrumbs() }}
        </div>

    </div>


    <br/>
    <br/>
    <div class="row border-bottom white-bg dashboard-header mt-20">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-content">
                    <div class="table-responsive" style="overflow-x: auto;">
                        <div class="row">
                            <div class="col-2 list_actions_bloc" style="position: fixed ; display: none;" {#style="position: fixed;align-content: center;right: 50%;display: none;z-index: 9999999"#}>

                                <select class="select2_demo _3 form-control list_actions sel2">
                                    <option value="">Action</option>
                                    {% for key , operation in  operations  %}
                                        {% if operation.multiple %}
                                            <option value="{{operation.prefix}}">{{ operation.titre|capitalize }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>


                            </div>


                        </div>
                        <!--color : <span style="color:#ff6a6a">ddd</span>-->

                        <table class="table  display table-striped table-bordered table-hover dataTables-example" id="grid" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Code</th>
                                    <th>Desi</th>
                                    <th>Piece</th>
                                    <th>Annee</th>
                                    <th>Ref.DocA</th>
                                    <th>Date.DocA</th>
                                    <th>D.ope</th>
                                    <th>Mdp</th>
                                    <th>Frs</th>
                                    <th>Clt</th>
                                    <th>Emp</th>
                                    <th>Src/Des.Reg</th>
                                    <th>Mt.op</th>
                                    <th>Mt.Reg</th>
                                    
                                    <th>Nbr.op</th>
                                    <th>Nbr.Reg</th>
                                    <th>Parvenue</th>
                                    <th>statut</th>
                                    <th>info</th>
                                </tr>
                            </thead>
<tbody></tbody>

                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th>Code</th>
                                    <th>Desi</th>
                                    <th>Piece</th>
                                    <th>Annee</th>
                                    <th>Ref.DocA</th>
                                    <th>Date.DocA</th>
                                    <th>D.ope</th>
                                    <th>Mdp</th>
                                    <th>Frs</th>
                                    <th>Clt</th>
                                    <th>Emp</th>
                                    <th>Src/Des.Reg</th>
                                    <th></th>
                                    <th></th>
                                    <th>Nbr.op</th>
                                    <th>Nbr.Reg</th>
                                    <th>Parvenue</th>
                                    <th>statut</th>
                                    <th>info</th>
                                </tr>
                            </tfoot>


                        </table>


                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('compte_consolides') }}
{% endblock %}
