{% extends 'base_univ.html.twig' %}
{% block title %}Univ , Planning Liste des séances validée| Univ
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('univ_planning') }}
{% endblock %}
{% block body %}
	<div id="right-sidebar" class="actions animated"></div>

	<div class="row wrapper  white-bg page-heading  fixed-top-navigation-button">
		<div class="col-lg-4">
			<h2 class="fo">Univ , Planning Liste des séances validée
			</h2>
		</div>
		<div class="col-lg-8">
			<div
				class="title-action">{# <button class="btn btn-white btn-xs btn-lg my-button admissible" data-style="expand-left" type="submit">
															                    <i class="fa fa-save"></i>
															                    {{ button_label|default('Enregistrer') }}</button>#}
			</div>
		</div>
		<div class="border-b"></div>
		<div class="col-lg-12">
			{{ wo_render_breadcrumbs() }}
		</div>
		{#{{ render(controller('App\\Controller\\moduleAchat\\CommandefrsController:showbreadcumb',{ 'commande': commande.id})) }}
						                                                                                                                                                                                                        #}

	</div>
	<br/><br/>


	<div class="row border-bottom white-bg dashboard-header seance mt-20">
		<div class="col-lg-12">

			<div class="ibox ">
				<div class="ibox-content" style="padding-top: 0px">
					<div class="table-responsive">
						<div class="row">
							<div class="col-2 list_actions_b" style="position: fixed ; display: none;" {#style="position: fixed;align-content: center;right: 50%;display: none;z-index: 9999999"#}>
								<select class="select2_demo _3 form-control _multiple_actions">
									<option value="">Action</option>
									<option value="generer">Générer</option>
								</select>
							</div>
						</div>
						<table class="table table-striped table-bordered table-hover dataTables-example" id="grid" style="width: 100%">
							<thead>
								<tr>
									<th>#</th>
									<th>Code</th>
									<th>Cours</th>
									<th>Etablissement</th>
									<th>Formation</th>
									<th>Promotion</th>
									<th>Semestre</th>
									<th>Année</th>
									<th>Date début</th>
									<th>Date fin</th>
									<th>H Début</th>
									<th>H fin</th>
									<th>Nbr H</th>
								
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>#</th>
									<th>Code</th>
									<th>Cours</th>

									<th>Etablissement</th>
									<th>Formation</th>
									<th>Promotion</th>
									<th>Semestre</th>
									<th>Année</th>
									<th>Date début</th>
									<th>Date fin</th>
									<th>H Début</th>
									<th>H fin</th>
									<th>Nbr H</th>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	{#{ render(controller('App\\Controller\\moduleAchat\\MaFacturefrscabController:showhistorique',{ 'facture': facture.id})) }#}

{% endblock %}


{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('univ_planning') }}
{% endblock %}
