
{% extends 'base_univ.html.twig' %}



{% block title %}Gestion des honoraires | Honoraires | UNIV{% endblock %}


{% block body %}
<div class="hide-reglement">
    <div class="modal fade right" id="exampleModalPreview" tabindex="-1" role="dialog" aria-labelledby="exampleModalPreviewLabel" aria-hidden="true" data-backdrop='false'>
        <div class="modal-dialog modal-full-height modal-right modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalPreviewLabel"></h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body bo-0">
                    <div class="show-reglement"></div>
                    <div class="text-center spr" style="display:none;">
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <div id="resultats_import"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="form-validation-msg" style="display:none">
    {# message flash #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div data-toastr="{{ label }}" class="toastr-msg">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    {# form global errors  #}
    <div class="form-errors"></div>
</div>




    <div id="right-sidebar" class="actions animated" >

    </div>




    <div class="row wrapper  white-bg page-heading  fixed-top-navigation-button">

        <div class="col-lg-4">
            <h2 class="fo">Univ , Gestion des Honoraires </h2>
            {#{ wo_render_breadcrumbs() }#}
        </div>


        <div class="col-lg-8">
            <div class="title-action">
                <div class="title-action">
                   {# {% for key ,  operation in operations  %}
                        {% if  operation.horizontale %}
                            <a {% if operation.route is not null  %}  href="{{ path(operation.route) }}" {%  endif %}  id="{{operation.prefix}}" class="btn btn-white btn-xs {{operation.classCs}}"><i class="fa {{ operation.icon }}"></i> {{ operation.titre|capitalize }}</a>
                        {% endif %}
                    {% endfor %}#}
                </div>   
            </div>
        </div>
        <div class="border-b"></div>
        <div class="col-lg-12">
            {{ wo_render_breadcrumbs() }}
        </div>
    </div>
    <br/><br/>
    <div class="row border-bottom white-bg dashboard-header mt-20">
  <!--  <div class="wrapper wrapper-content animated fadeInRight">-->
       
            <div class="col-lg-12">

                <div class="ibox ">
                  
                    <div class="ibox-content" style="padding-top: 0px"> 
                        <div class="table-responsive">
                            <div class="row" >


                                <div class="col-3">
                                    <select class="form-control _multiple_actions" style="display: none">
                                        <option value="">Action</option>

                                        <option value="_regle">
                                            Réglé</option>
                                            <option value="_annuler">
                                                Annulé</option>
                                    </select>
                                </div>
                                <div class="col-2 list_actions_bloc" style="position: fixed ; display: none;" {#style="position: fixed;align-content: center;right: 50%;display: none;z-index: 9999999"#}>

                                  {#  <select class="select2_demo _3 form-control _multiple_actions">
                                        <option value="">Action</option>
                                        {% for key , operation in  operations  %}
                                            {% if operation.multiple %}
                                            <option value="{{operation.prefix}}">{{ operation.titre|capitalize }}</option>
                                       {% endif %}
                                            {% endfor %}
                                    </select>#}
                                </div>
                            </div>

                            <table class="table  display table-striped table-bordered table-hover dataTables-example" id="grid" style="width: 100%" >
                                <thead>
                                    <tr>
                                        <th>#</th>
                                     
                                        <th>CODE</th>
                                        <th>SEANCE</th>
                                        <th>NOM</th>
                                        <th>PRENOM</th>
                                        <th>GRADE</th>
                                        <th>N.Heure</th>
                                        <th>MONTANT</th>

                                        <th>Etab</th>
                                        <th>FRM</th>
                                        <th>ANNEE</th>
                                        <th>PRM</th>
                                        <th>SEM</th>
                                        <th>MDL</th>
                                        <th>ELE</th>
                                        
                                        <th>ST</th>
                                          
                                      
                                       
                                       
                                     
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr> 
                                        <th>#</th>
                                     
                                        <th>CODE</th>
                                        <th>SEANCE</th>
                                        <th>NOM</th>
                                        <th>PRENOM</th>
                                        <th>GRADE</th>
                                        <th>N.Heure</th>
                                        <th>MONTANT</th>

                                        <th>Etab</th>
                                        <th>FRM</th>
                                        <th>ANNEE</th>
                                        <th>PRM</th>
                                        <th>SEM</th>
                                        <th>MDL</th>
                                        <th>ELE</th>
                                        
                                        <th>ST</th>
                                       
                                        
                                    </tr>
                                </tfoot>
                            </table>
                            <br> <br>
                            <h5>Statuts : </h5>
                            <p class="small font-bold">
                               
                                

                                    <span><i class="fa fa-circle" style="color: #ff0e00"></i> Annulé</span>&nbsp; &nbsp; &nbsp; 
                                    <span><i class="fa fa-circle" style="color: #1ab394"></i> Réglé</span>&nbsp; &nbsp; &nbsp; 
                                    <span><i class="fa fa-circle" style="color: #d1dade"></i> Crée</span>&nbsp; &nbsp; &nbsp; 
                                
                           
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        
    </div>

{% endblock %}







{% block javascripts %}
     {{ parent() }}
     {{ encore_entry_script_tags('univ_honoraire') }}
{% endblock %}