{{ form_start(form ,{'attr':{'novalidate': 'novalidate' , 'class':'form _reglement'}}) }}
<div class="sidebar-container">


	<div class="tab-content bod">


		<div id="tab-1" class="tab-pane active">

			<div class="sidebar-title">
				<h3>
					<i class="fa fa-info-circle"></i>
					Réglé
				
				</h3>
			</div>

			<div class="right-sidebar-content">


				<div class="ibox">
					<div class="ibox-content">
						<div class="">
							<div class="form-group row">
								{{ form_label(form.dateReglement ,'Date de Réglement', {'label_attr':{'class':'col-sm-12'}}) }}
								<div class="col-sm-12">
									{{ form_widget(form.dateReglement,{'attr':{'class':'form-control  form-control-sm '}}) }}

									<div class="form-error {% if form_errors(form.dateReglement)|length > 0 %}error-class-tab{% endif %}">
										{{ form_errors(form.dateReglement) }}
									</div>
								</div>

							</div>
							{% for id in hhonens %}	
						<input name="id[]" type="hidden" value="{{id}}">
						{% endfor %}
                            <br/>
							<button class="btn btn-white btn-xs btn-lg my-button btn-block waves-effect waves-light" data-style="expand-left" type="submit">
								<i class="fa fa-save"></i>
								Enregistrer</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="text-center spr" style="display:none;">
		<div class="spinner-border" role="status">
			<span class="sr-only">Loading...</span>
		</div>
	</div>


</div>

{{form_widget(form._token)}}
{{ form_end(form,{'render_rest': false}) }}
{#{dump(form)}#}
