


{% extends 'base_univ.html.twig' %}
{% block title %}Univ , Gestion des Honoraires
{% endblock %}
{% block body %}

<div class="form-validation-msg" style="display:none">
    {# message flash #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div data-toastr="{{ label }}" class="toastr-msg">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    {# form global errors  #}
    <div class="form-errors"></div>
</div>
	<div id="right-sidebar" class="actions animated"></div>

	<div class="row wrapper  white-bg page-heading  fixed-top-navigation-button">
		<div class="col-lg-4">
			<h2 class="fo">Univ , Gestion des Honoraires
			</h2>
		</div>
		<div class="col-lg-8">
			<div class="title-action">
			
			</div>
		</div>
		<div class="border-b"></div>
		<div class="col-lg-12">
			{{ wo_render_breadcrumbs() }}
		</div>
		{#{{ render(controller('App\\Controller\\moduleAchat\\CommandefrsController:showbreadcumb',{ 'commande': commande.id})) }}
																				#}

	</div>
	<br/><br/>


	<div class="row pt-20">
		<div class="col-lg-12 ">
			<div class="ibox">
	
				<div class="ibox-content">
	
					<div class="message-success"></div>
	
	
					<div class="row m-t-sm">
						<div class="col-lg-12">
							<div class="panel blank-panel">
								<div class="panel-heading">
									<div class="panel-options">
									
										{% include './module_univ/honoraire/honoraires/inc/navigation.html.twig' %}

										{#% include './module_univ/concours/p_concourscab/ins/navigation.html.twig' %#}
									</div>
								</div>
	
								<div class="panel-body">
									<div class="col-md-12">
										<div class="tab-content">
											<div class="tab-pane active" id="tab-1">
	
	
												<div class="row">
												
													<div class="col-md-12 b-r">
														<h3 class="m-t-none m-b">INFORMATIONS</h3>
														<div class="hr-line-dashed hr-line-dashed-co"></div>
														<div class="form-group row ph">
															<label class="col-sm-4 required font-weight-bold font-weight-bold">Id</label>
															<div class="col-sm-8">
																<p class="form-control-static">{{ honens.id }}</p>
															</div>
														</div>
														<div class="hr-line-dashed hr-line-dashed-co"></div>

														<div class="form-group row ph">
															<label class="col-sm-4 required font-weight-bold font-weight-bold">Code
															</label>

															<div class="col-sm-8">
																<p class="form-control-static">{{ honens.code }}</p>
															</div>

														</div>

														<div class="hr-line-dashed hr-line-dashed-co"></div>
														<div class="form-group row ph">
															<label class="col-sm-4 required font-weight-bold font-weight-bold">Nom</label>

															<div class="col-sm-8">

																<p class="form-control-static">{{ honens.enseignant ?   honens.enseignant.nom }}</p>

															</div>

														</div>
														<div class="hr-line-dashed hr-line-dashed-co"></div>
														<div class="form-group row ph">
															<label class="col-sm-4 required font-weight-bold font-weight-bold">Prénom</label>

															<div class="col-sm-8">

																<p class="form-control-static">{{ honens.enseignant ?   honens.enseignant.prenom }}</p>

															</div>

														</div>
														<div class="hr-line-dashed hr-line-dashed-co"></div>
														<div class="form-group row ph">
															<label class="col-sm-4 required font-weight-bold font-weight-bold">Grade</label>

															<div class="col-sm-8">

																<p class="form-control-static">{{ honens.enseignant.grade ? honens.enseignant.grade.designation }}</p>

															</div>

														</div>

														<div class="hr-line-dashed hr-line-dashed-co"></div>
														<div class="form-group row ph">
															<label class="col-sm-4 required font-weight-bold font-weight-bold">Montant</label>

															<div class="col-sm-8">

																<p class="form-control-static">{{ honens.montant|number_format(2) }}</p>

															</div>

														</div>
			
			
						

					

														
								
					
													
									
													

													</div>
												
												</div>
	
	
											</div>
										</div>
									</div>
	
								</div>
							</div>
						</div>
	
	
					</div>
				</div>
	
			</div>
		</div>
	</div>


	{#{ render(controller('App\\Controller\\moduleAchat\\MaFacturefrscabController:showhistorique',{ 'facture': facture.id})) }#}

{% endblock %}


{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('univ_honoraire') }}
{% endblock %}
