{% extends 'base_univ.html.twig' %}
{% block title %}Documents | Etudiant | UNIV{% endblock %}
{% block body %}
    <div id="right-sidebar" class="actions animated" >
    </div>

	<div class="row wrapper  white-bg page-heading  fixed-top-navigation-button">
		<div class="col-lg-12">
			{% include './module_univ/etudiant/inc/workflow_breadcumb.html.twig' %}
		</div>

		<div class="border-b"></div>
		<div class="col-lg-12">
			{% include './module_univ/etudiant/inc/workflow.html.twig' %}
		</div>
	</div>
    {# <div class="row wrapper  white-bg page-heading  fixed-top-navigation-button">
        <div class="col-lg-4">
            <h2 class="fo">Univ , Documents </h2>
        </div>
        <div class="col-lg-8">
            <div class="title-action">
                    {#% include './module_achat/facturefrs/inc/workflow.html.twig' %
                    <button class="btn btn-white btn-xs btn-lg my-button " data-style="expand-left"  type="submit"> <i class="fa fa-save"></i> {{ button_label|default('Enregistrer') }}</button>
        
            </div>
        </div>
        <div class="border-b"></div>
        <div class="col-lg-12">
            {{ wo_render_breadcrumbs() }}
        </div>
    </div>#}
    <br><br>
    <div class="row pt-20">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">

                    <div class="row m-t-sm">
                        <div class="col-lg-12">
                            <div class="panel blank-panel">
                                <div class="panel-heading">
                                    <div class="panel-options">
                                        {% include './module_univ/etudiant/inc/navigation.autre1.html.twig' %}
                                    </div>
                                </div>
                                <div class="col-md-12" >
                                    <div class="panel-body">

                                        <div class="tab-content">
                                            <div class="tab-pane active show" id="tab-1">
                                                <div class="row">
                                                    <div class="col-md-4 b-r">
                                                        <h3 class="m-t-none m-b">Informations doc/impression</h3>
                                                            <ul class="folder-list m-b-md" style="padding: 0">
                                                                <li><a href="{{ path('univ_documents_preinscription_pdf_show' , {id:etudiant.id})}}"> <i class="fa fa-print "></i> Doc préinscription</a></li>
                                                                <li><a href="{{ path('univ_attestation_pdf_show' , {id:etudiant.id})}}"> <i class="fa fa-print"></i> Att préinscription</a></li>
                                                                <li><a href="{{ path('univ_fiche_synthese_pdf_show' , {id:etudiant.id})}}"> <i class="fa fa-print"></i> Pré-sélection</a></li>
                                                                <li><a href="{{ path('univ_pdf_show' , {id:etudiant.id})}}"> <i class="fa fa-print"></i>  préinscription</a></li>
                                                            </ul>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if etudiant is defined %}
    <input type="hidden" name="_id" value="{{ etudiant.id }}" />
{% endif %}
{% endblock %}







{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('univ_etudiant') }}
{% endblock %}