{% extends 'base_ugouv.html.twig' %}


{% block title %}Liste  | Réglement fournisseur | Ugouv achat
{% endblock %}


{% block body %}
    <div id="right-sidebar" class="actions animated"></div>




    <div class="row wrapper  white-bg page-heading  fixed-top-navigation-button">


        <div class="col-lg-6">
            {% include './module_achat/t_reglementfrscab/inc/workflow_breadcumb.html.twig' %}
        </div>


        <div class="col-lg-6">
            <div class="title-action">
                <div class="title-action">


                    {#% for key ,  operation in operations  %}
                        {% if operation.horizontale  %}
                            <a {% if operation.route is not null %} href="{{ path(operation.route) }}" {% endif %} id="{{operation.prefix}}" class="btn btn-white btn-xs {{operation.classCs}}">
                                <i class="fa {{ operation.icon }}"></i>
                                {{ operation.titre|capitalize }}</a>
                            {% endif %}
                        {% endfor %#}


                </div>
            </div>
        </div>

        <div class="border-b"></div>
           <div class="col-lg-12">
            
            {% include './module_achat/t_reglementfrscab/inc/workflow.html.twig' %}
        </div>


    </div>
    <br/>
    <br/>
    <div class="row border-bottom white-bg dashboard-header mt-20">
        <div class="col-lg-12">

            <div class="ibox ">
                <div class="ibox-content" style="padding-top: 0px">
                    <div class="table-responsive">
                        <div class="row">
                            <div class="col-2 list_actions_bloc" style="position: fixed ; display: none;" {#style="position: fixed;align-content: center;right: 50%;display: none;z-index: 9999999"#}>
                                {% if app.session.get('modules')['_ugouv_achat']['sousModules']['_re_fr']['operations']  is defined  %}

                                    <select class="select2_demo _3 form-control list_actions">
                                        <option>Action</option>
                                        {% for key , operation in app.session.get('modules')['_ugouv_achat']['sousModules']['_re_fr']['operations']  %}
                                            {% if operation.multiple %}
                                                <option value="{{operation.prefix}}">{{ operation.titre|capitalize }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>

                                {% endif %}

                            </div>


                        </div>
                        <table
                            class="table  display table-striped table-bordered table-hover dataTables-example" id="grid" style="width: 100%">
                            <!-- <table class="table display"  id='grid'  style="font-size: 10px;"  width="100%">-->
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Code</th>
                                    <th>Date Règlement</th>
                                    <th>Fournisseur</th>
                                    <th>mode paiement</th>
                                    <th>banque</th>
                                    <th>mt Réglement</th>
                                    <th>Code Facture</th>
                                    <th>Date Facture</th>
                                </tr>
                            </thead>
                            <tbody></tbody>

                            {# <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th>code</th>
                                    <th>Date Règlement</th>
                                    <th>Fournisseur</th>
                                    <th>mode paiement</th>
                                    <th>banque</th>
                                    <th>mt Réglement</th>
                                    <th>Code Facture</th>
                                    <th>Date Facture</th>
                                </tr>
                            </tfoot> #}
                        </table>

                    </div>

                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('treglementfrscab') }}

        <!--<script src="{#{ asset('build/runtime.js') }#}"></script>
        <script src="{#{ asset('build/tcommandefrscab.js') }#}"></script>-->

{% endblock %}
