<div style="font-family: 'Courier New';font-size: 10px;margin-top:44px">

	<table class="table-footer" style="font-family: 'Courier New';width: 65% ;margin-left:auto;margin-right:auto;" align="center" cellspacing="0">

		<tr style="background-color: #d5dce4; font-size: 10px;  ">
			<th style="width: 50%; padding: 7px;text-align: center;font-size: 10px; ">SIGNATURE (1) </th>
			<th style="width: 50%;padding: 7px;text-align: center; font-size: 10px;">SIGNATURE (2)</th>

		</tr>

		<tr>
			<td style=" font-size: 11px; width:15%;height:100px; background-color:#f2f2f2">
{% if signature1 != "" %}
							{% if signature1.signature is null %}
								<p style="padding-top:5px !important; padding-bottom:0px !important">{{signature1.user.nom}} {{signature1.user.prenom}}</p>
										<div style="margin-top:-80px !important">
										<span style="font-family:'Signaturex' !important;font-size:20px;text-transform: capitalize; ">{{signature1.user.username|replace({'.': "", "-" : "","_":""})|capitalize}}</span>
										</div>
										{% else %}
										<img style="margin-top:20px" src="./images/parametrage/dossiers/{{signature1.signature}}" alt="sig">
									{% endif %}
								{% else %}
										<p style="padding-top:5px !important; padding-bottom:0px !important"></p>
										<div style="margin-top:-80px !important">
											<span style="font-family:'Signaturex' !important;font-size:20px;text-transform: capitalize; "></span>
										</div>
						{% endif %}
			</td>
			<td style=" font-size: 11px; width:15%; height:100px; background-color:#f2f2f2">
				              {% if signature2 != "" %}
							{% if signature2.signature is null %}
								<p style="padding-top:5px !important; padding-bottom:0px !important">{{signature2.user.nom}} {{signature2.user.prenom}}</p>
										<div style="margin-top:-80px !important">
										<span style="font-family:'Signaturex' !important;font-size:20px;text-transform: capitalize; ">{{signature2.user.username|replace({'.': "", "-" : "","_":""})|capitalize}}</span>
										</div>
										{% else %}
										<img style="margin-top:20px" src="./images/parametrage/dossiers/{{signature2.signature}}" alt="sig">
									{% endif %}
								{% else %}
										<p style="padding-top:5px !important; padding-bottom:0px !important"></p>
										<div style="margin-top:-80px !important">
											<span style="font-family:'Signaturex' !important;font-size:20px;text-transform: capitalize; "></span>
										</div>
						{% endif %}
			</td>


		</tr>


	</table>

	<br>
	<br>
	<br>
	<p style="padding-right:15px;padding-left : 15px; padding:6px; width: 200px;position:relative;right:2.5%;text-align: right; left:60%;">VISA DEPARTEMENT BANQUE</p>
							<div style="padding-right:15px;padding-left : 15px;width: 100px;position:relative;right:2.5%;text-align: right; left:69%;margin-top:-20px" >
						{% if signature3 != "" %}
								{% if signature3.signature is null %}
									<p style=" padding-bottom:0px !important">{{signature3.user.nom}} {{signature3.user.prenom}}</p>
										<div style="margin-top:-90px !important">
										<span style="font-family:'Signaturex' !important;font-size:15px;text-transform: capitalize; ">{{signature3.user.username|replace({'.': "", "-" : "","_":""})|capitalize}}</span>
										</div>
										{% else %}
										<img style="margin-top:20px" src="./images/parametrage/dossiers/{{signature3.signature}}" alt="sig">
									{% endif %}
								{% else %}
										<p style="padding-top:5px !important; padding-bottom:0px !important"></p>
										<div style="margin-top:-80px !important">
											<span style="font-family:'Signaturex' !important;font-size:20px;text-transform: capitalize; "></span>
										</div>
						{% endif %}
					</div>
	<br>
	<br>
	<div style=" position: relative;left: 5%;width:90%;padding:5px;text-align: center;font-size: 9px;">
		<p>
			5, Rue 1er RABAT
						Tel : 05 37 72 66 93/05 37 73 05 09 – Fax : 05 37 73 05 92 – N° de Patente : 25110491
						
						IF : 34108750
			<br><br>
			CNSS/ 1454975 - INP/103001921 - ICE : 001649487000043 – RIB :007810000181200030452347
		</p>


	</div>
</div>
