<!DOCTYPE html>
<html>
	<head><meta charset="fr">
		<title>DEMANDE
		</title>

	</head>
	<style>

		@page {
			margin: 220px 20px 210px 20px !important;
			padding: 0px 0px 0px 0px !important;
		}

		body {
			font-family: 'Courier';
			font-size: 9px;                
			font-weight: 100;

		}

         .header {
        position: fixed;
        top: -220px;
        left: 0px;
        right: 0px;
        }
   

		.logo {
			max-width: 250px;
			max-height: 100px;
			text-align: right;
		}
	
		.footer {
			/*border-top: 2px solid #555555;*/
			margin-top: 10px;
			font-size: 9px;
			text-align: center;
			position: fixed;
			bottom: 150px;
            left: 0px;
            right: 0px;


		}
	
		*,body {
            font-family: Courier, sans-serif;
           text-transform: uppercase ;

		}


		main {
			margin-top: 0;
		}
.page_break {page-break-inside: auto;}


main {
    margin-top:0px;
}
	</style>





	<body>

		<div class="header">

{{ include ('tresorerie/ordre_virement/pdf/intenre/header.html.twig') }}   


		</div>
		<div class="footer">

			{% if TrTransactionOne.Dossier.id == 38 %}
				{{ include ('tresorerie/ordre_virement/pdf/footer2.html.twig') }}

			{% else %}
				{{ include ('tresorerie/ordre_virement/pdf/footer.html.twig') }}

			{% endif %}
		</div>
	</body>
	<body>


		<div style="padding-right : 15px; font-size:12px; margin-left:60px; margin-right:60px;margin-top:70px">
			<div style="margin-left:300px; margin-bottom:10px;">


				{# {% if TrTransactionOne.Dossier.id == 38 %} #}
					<p style="text-align: right; padding-right:15px;
							                            text-transform: uppercase;
							                            line-height:2.2;">
						{# <b>A L'attention de Monsieur le Directeur
							<br>
							DU CENTRE D’AFFAIRES RABAT/SOUISSI
							<br><span>ATTIJARIWAFA BANK</span>
						</b> #}
						{# <b>
							A L'ATTENTION DE MONSIEUR LE DIRECTEUR
							<br>
							L' AGENCE ATTIJARIWAFA BANK
							<br>AttijariWafabank Madinat Al Irfane
						</b>  #}
						<b>A L'ATTENTION DE MONSIEUR LE DIRECTEUR
							<br>
							ATTIJARIWAFABANK MADINAT AL IRFANE
                           </b>
					</p>

				{# {% elseif TrTransactionOne.Dossier.id == 1 %}
					{# <p style=' text-align: center; padding-right:30px;
							                        text-transform: uppercase;
							                        line-height:1.5;'> #}
						{# <b>
							A L'ATTENTION DE MONSIEUR LE DIRECTEUR
							<br>
							L' AGENCE ATTIJARIWAFA BANK
							<br>KHOURIBGA PRINCIPALE
						</b> 
							<p style='text-align: right; padding-right:15px;
							                        text-transform: uppercase;
							                        line-height:2.2;'>
						<b>A L'attention de Madame la Directrice
							<br>
							AttijariWafabank Madinat Al Irfane</b>
					</p>
					</p>
				{% elseif TrTransactionOne.Dossier.id == 2 %}


					<p style='text-align: center; padding-right:15px;
							                        text-transform: uppercase;
							                        line-height:1.5;'>
						 <b>
							A L'ATTENTION DE MONSIEUR LE DIRECTEUR
							<br>
							L' AGENCE ATTIJARIWAFA BANK
							<br>YOUSSOUFFIA HAY HASSANI
						</b> 
							<p style='text-align: right; padding-right:15px;
							                        text-transform: uppercase;
							                        line-height:2.2;'>
						<b>A L'attention de Madame la Directrice
							<br>
							AttijariWafabank Madinat Al Irfane</b>
					</p>
					</p>

				{% else  %}
					<p style='text-align: right; padding-right:15px;
							                        text-transform: uppercase;
							                        line-height:2.2;'>
						<b>A L'attention de Madame la Directrice
							<br>
							AttijariWafabank Madinat Al Irfane</b>
					</p>

				{% endif  %} #}

			</div>


			<p style="margin-left: 15px;">
				<b>OBJET :</b>
				MISE A DISPOSITION</p>
			<br/>
			<br>


			<p style="margin-left: 15px;">

				{# {% if TrTransactionOne.Dossier.id == 38 %} #}
					<b>MONSIEUR,</b>
				{# {% else %}
					<b>MADAME,</b>
				{% endif %} #}

			</p>


			<div>
				<div style="text-align:justify; text-justify: inter-word; line-height:2.1; margin-left: 15px; margin-right: 15px;text-transform:uppercase;">
					<p>Par débit de notre compte N°:<b>

						{% if TrTransactionOne.operation.pPiece.id ==  32 or  TrTransactionOne.operation.pPiece.id ==  33 %}
                            {% if '_' in TrTransactionOne.operation.compte.numCompte %}
                                {{  TrTransactionOne.operation.compte.numCompte|split('_')[0] }} </b>
                            {% else %}
                                {{  TrTransactionOne.operation.compte.numCompte }} </b>
                            {% endif %}
                    	{% else %}
							{{compteBnaque.numCompte|split('_')[0]}}</b>
						{% endif %}

					ouvert auprès de votre agence au nom de la (l')

					<b>
						{% if TrTransactionOne.operation.pPiece.id ==  32 or  TrTransactionOne.operation.pPiece.id ==  33 %}
							{{  TrTransactionOne.operation.compte.designation }} </b>
						</b>
					{% else %}
						{{compteBnaque.designation}}</b>
				{% endif %}
				{% for item in TrTransactions %}

				</b>nous vous prions de bien vouloir mettre à la disposition de monsieur /madame
				<b>
					{% if TrTransactionOne.operation.pPiece.id ==  32 or  TrTransactionOne.operation.pPiece.id ==  33 %}
						{% set info = cab.operation.autreInformation|split('/') %}
						{{info[0]}}
					{% elseif TrTransactionOne.compte.type.id == 2 %}
						{% set info = uatehcniquedetail|split('/') %}
						{{info[0]}}
					{% else %}
						{{ item.nom }}
					{% endif %}
				</b>
				titulaire de la CIN N°
				{% if TrTransactionOne.operation.pPiece.id ==  32 or  TrTransactionOne.operation.pPiece.id ==  33 %}
					{% set info = cab.operation.autreInformation|split('/') %}
					<b>
						{{info[1]}}</b>
				{% elseif TrTransactionOne.compte.type.id == 2 %}
						{% set info = uatehcniquedetail|split('/') %}
						<b>
						{{info[1]}}</b>
				{% else %}
					{% if uatehcniquedetail is null %}
						.............
					{% else %}
						<b>{{uatehcniquedetail}}</b>
					{% endif %}
				{% endif %}
			{% endfor %}
			la somme de

			<b>{{somme |number_format(2, ',', ' ') }}
				Dhs
									({{text}})</b>
		</p>
	</body>
</html></div><br><br></div>{# {%  set lines = TrTransactions | length %} #}
{# {%  if TrTransactions | length <= 3 %} #}
{# {%  set content = 'oui' %} #}{# {%  else %} #}{# {%  set content = 'non' %} #}{# {%  endif %} #}{# {{ include ('tresorerie/ordre_virement/pdf/content.html.twig')}}   #}{# ,{'content' :content})  #}{# {% if TrTransactions | length <=2 %} 
{% endif %}#}
<p style="padding: 20px;;text-transform:uppercase;">Veuillez croire,

{# {% if TrTransactionOne.Dossier.id == 38 %} #}

Monsieur 
{# {% else  %}

Madame {% endif %}  #}


en nos salutations les meilleures.</p></div></body>{%  if TrTransactions | length > 3  %}{%  set content = 'oui' %}<div class='page2' style="page-break-before: always;">{{ include ('tresorerie/ordre_virement/pdf/content.html.twig')  }}   ,{'content' :content}</div>{# {%  else %}
	{%  set content = 'non' %}
	#}{%  endif %}
