<div class="sidebar-container">

    <div class="ibox-tools">
        <a class="close-link close-me" href="">
            <i class="fa fa-times"></i>
        </a>
    </div>

    <div class="tab-content">


        <div id="tab-1" class="tab-pane active">

            <div class="sidebar-title">
                <h3> <i class="fa fa-info-circle"></i> INFORMATIONS </h3>
                <small><i class="fa fa-tim"></i> Exporter commande fournisseur .</small>
            </div>

            <div class="right-sidebar-content">

                <div class="ibox">
                    <div class="ibox-content">

                        <h3>Exporter commande </h3>
                        
                        {{ form_start(form ,{'action': path('phpofficeExporter'),'attr':{'novalidate': 'novalidate' , 'class':'form_exporter'}}) }}
                        <div class="form-group">
                            {{ form_label(form.dateDebut ,'Date Debut :', {'label_attr':{'class':'col-sm-6'}}) }} 
                            {{ form_widget(form.dateDebut,{'attr':{'class':'form-control form-control-sm'}}) }} 
                        </div>
                        <br/>
                        <div class="form-group">
                            {{ form_label(form.dateFin ,'Date Fin :', {'label_attr':{'class':'col-sm-6'}}) }} 
                            {{ form_widget(form.dateFin,{'attr':{'class':'form-control form-control-sm'}}) }} 

                        </div>
                        <br/>

                        <button class="btn btn-white btn-block btn-xs"><i class="fa fa-save"></i> {{ button_label|default('Enregistrer') }}</button>
                        {{ form_end(form,{'render_rest': false}) }}

                   

                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>












