{% extends 'base_ugouv.html.twig' %}
{% block title %}Liste | Commande fournisseur  | Ugouv achat
{% endblock %}


{% block body %}
	<div class="modal fade right" id="livraisonPopUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalPreviewLabel" data-backdrop="false" style="" aria-hidden="true">
		<div class="modal-dialog modal-full-height modal-right modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title" id="exampleModalPreviewLabel">Generer reception</h3>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body bo">
					<div class="text-center spr" style="display: none;">
						<div class="spinner-border" role="status">
							<span class="sr-only">Loading...</span>
						</div>
					</div>
					<div class="bod" style=""></div>
				</div>
			</div>
		</div>
	</div>
	<div id="right-sidebar" class="actions animated"></div>
	<div class="actions modal fade right" id="MyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalPreviewLabel" aria-hidden="false" data-backdrop='false'>
		<div class="modal-dialog modal-full-height modal-right modal-sm" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalPreviewLabel">Dossiers</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body bo-0">
					<div class="text-center spr">
						<br/>
						<div class="spinner-border" role="status">
							<span class="sr-only">Loading...</span>
						</div>
					</div>
					<div class="bod"></div>
				</div>

			</div>
		</div>
	</div>

	<div class="row wrapper  white-bg page-heading  fixed-top-navigation-button">


		<div class="col-lg-6">
			{% include './module_achat/t_commandefrscab/inc/workflow_breadcumb.html.twig' %}
		</div>

		<div class="col-lg-6">
			<div class="title-action">
				{# {% for key ,  operation in operations %}
					{% if operation.verticale and  operation.prefix== '_new'%}
						<a {% if operation.route is not null %} href="{{ path(operation.route) }}" {% endif %} id="{{operation.prefix}}" class="op-hor btn btn-white btn-xs {{operation.classCs}} btn-register">
							<i class="fa {{ operation.icon }}"></i>
							{{ operation.titre|capitalize }}</a>
					{% endif %}
				{% endfor %} #}
			</div>
		</div>

		<div class="border-b"></div>
		<div class="col-lg-12">

			{{ wo_render_breadcrumbs() }}
		</div>


	</div>

	<br/><br/>

	<div class="row border-bottom white-bg dashboard-header mt-20">
		<div class="col-lg-12">
			<div class="ibox ">
				<div class="ibox-content" style="padding-top: 0px">
					<div class="" style="overflow-x:scroll">
						<div class="row">
							<div class="col-2 list_actions_bloc" style="position: absolute; top:0;left:0; display: none;" {#style="position: fixed;align-content: center;right: 50%;display: none;z-index: 9999999"#}>

								<select class="select2_demo _3 form-control list_actions sel2">
									<option>Action</option>
									{% for key , operation in  operations  %}
										{% if operation.multiple %}
											<option value="{{operation.prefix}}">{{ operation.titre|capitalize }}</option>
										{% endif %}
									{% endfor %}
								</select>

							</div>
						</div>

						<table
							class="table tb display table-striped table-bordered table-hover dataTables-example cmd" id="grid" style="width: 100%">
							<!-- <table class="table display"  id='grid'  style="font-size: 10px;"  width="100%">-->
							<thead>
								<tr>
									<th>#</th>
									<th>Code</th>
									<th>Date</th>
									<th>Reference</th>
									<th>description</th>
									<th>Fournisseur</th>
									<th>Mt.Ht</th>
									<th>Mt.Tva</th>
									<th>Mt.Cmd</th>
									<th>EXP.Besoin</th>
									<th>BR</th>
									<th>FA</th>
									<th>RG</th>
									                                    <th>signature</th>

									<th>Statut</th>
									<th>Opr</th>

								</tr>
							</thead>
							<tbody class="commande"></tbody>

							{# <tfoot>

								<tr>
									<th>#</th>
									<th>code</th>
									<th>Date</th>
									<th>Reference</th>
									<th>description</th>
									<th>Fournisseur</th>
									<th>Mt.Ht</th>
									<th>Mt.Tva</th>
									<th>Mt.Cmd</th>
									<th>EXP.Besoin</th>
									<th>BR</th>
									<th>FAC</th>
									<th>RG</th>
									<th>Statut</th>
									<th>Opr</th>

								</tr>

							</tfoot> #}


						</table>


					</div>

				</div>
			</div>
		</div>
	</div>


{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('tcommandefrscab') }}

	<!--<script src="{#{ asset('build/runtime.js') }#}"></script>
				<script src="{#{ asset('build/tcommandefrscab.js') }#}"></script>-->

{% endblock %}
