{% set t = 3 %}
{% set margin_left = "" %}
{% set margin_right = "" %}
{% set margin_top = "" %}
{% set margin_bottom = "" %}
{% set position_logo = "" %}
{% set ajouter_info_pied_page = false %}
{% for para in parametre %}
    {% if para.abriviation == "marge_L" %}
        {% set margin_left = para.valeur %}
    {% endif %}
    {% if para.abriviation == "marge_R" %}
        {% set margin_right = para.valeur %}
    {% endif %}
    {% if para.abriviation == "marge_T" %}
        {% set margin_top = para.valeur %}
    {% endif %}
    {% if para.abriviation == "marge_B" %}
        {% set margin_bottom = para.valeur %}
    {% endif %}
    {% if para.abriviation == "position_logo" %}
        {% set position_logo = para.valeur %}
    {% endif %}
    {% if para.abriviation == "ajouter_info_pied_page" %}
        {% if para.valeur == "checked" %}
            {% set ajouter_info_pied_page = true %}
        {% endif %}
    {% endif %}

{% endfor %}
<style type="text/Css">
    h5{
        padding: 10px 4px  ; font-weight: bold;font-size: 13px
    }
    img{
        margin-right: 20px;
    }
    .logo{
        width:250px;height:100px;
    }
    .border-left{
        border-left:1px solid black;
    
    }
    .border-right{
        border-right:1px solid black;
    }
        footer {
                position: fixed; 
                bottom: -60px; 
                left: 0px; 
                right: 0px;
                height: 100px; 

                
            }
    body{
        font-family: 'Source Sans Pro', sans-serif;
    }
    .titre-reb{
        width: 100%;
        background: #1f4f7a;
        font-size: 9px ;
        padding:3px 10px;
        color: #f1f1f1;
        font-weight: bold
    }
    div.zone_over
    {
        display: block;
        width: 40%;
        word-wrap:break-word !important;
    }
    .slh tr td {
        border-bottom: 1px solid #292929;
    }
    .tb1{
        width: 100%;
    }
    .tb2{
        width: 100%;font-size:12px
    }
    .th1{
        width: 30%; text-align: left;
    }
    .td1{
        width: 65%; text-align: right;
    }
    .td2{
        width: 70%; text-align: left;line-height: 18px
    }
    .td3{
        width: 30%; text-align: left;line-height: 18px
    }
    .td4{
        width: 89%; text-align: left;line-height: 18px
    }
    .td5{
        width: 89%; text-align: right;
    }
    .p1{
        text-align:center;font-size:25px;font-weight: bold;color:rgb(12, 40, 66);
    }
    .span1{
        font-size:12px;font-weight: bold;color:black;
    }
    .div1{
        position: relative;left: 5%;width:90%;border-top:1px solid #000;padding:5px;text-align: center;font-size: 11px;line-height:14px
    }
</style>


<page_header>

    <table class="tb1" align="center" cellspacing="0">
        <thead>
            <tr>
                <th class="th1"></th>
                <th class="th1"></th>
            </tr>
        </thead>
        <tbody>

            <tr>

                <td class="td1">
                    <br/><br/>
                    <img src="{{ asset('img/Logo_UIASS.png')[1:] }}" class="logo" alt="Logo">
                    
                </td>

            </tr>
        </tbody>

    </table>







</page_header>


<!-- 
<page_footer>
    <table style="width: 100%; border: solid 1px black;">
        <tr>
            <td style="text-align: left;    width: 50%">html2pdf.fr</td>
            <td style="text-align: right;    width: 50%">page [[page_cu]]/[[page_nb]]</td>
        </tr>
    </table>
</page_footer>-->





<br/>

<p class="p1">
<!--    Attestation d'inscription-->
Attestation de pré-inscription 


</p>
<br/>
<table class="tb2"  cellspacing="0">

    <tbody>

        <tr>

            <td class="td2">
                <span class="span1">Nom</span> : {{ etudiant.nom }}
            </td>
            <td class="td3">
                <span class="span1">Référence</span> :{{ etudiant.code }}
            </td>


        </tr>
        <tr>
            <td class="td2">
                <span class="span1"> </span> 
            </td>
            <td class="td3">
                <span class="span1"> </span>
            </td> 
        </tr>
        <tr>
            <td class="td2">
                <span class="span1">Prénom </span> :{{ etudiant.prenom }}
            </td>
            <td class="td3">
                <span class="span1">Date Naissance </span> :{{ etudiant.dateNaissance | date("m/d/Y")}}
            </td>
        </tr>
                <tr>
            <td class="td2">
                <span class="span1"> </span> 
            </td>
            <td class="td3">
                <span class="span1"> </span>
            </td> 
        </tr>
        <tr>
            <td class="td2">
                <span class="span1">Etablissement </span> : {# <?php echo $data['designation_etablissement']?> #}
            </td>
            <td class="td3">
                <span class="span1"> </span>
            </td>
        </tr>
                <tr>
            <td class="td2">
                <span class="span1"> </span> 
            </td>
            <td class="td3">
                <span class="span1"> </span>
            </td> 
        </tr>
        <tr>
            <td class="td2">
                <span class="span1">Formation </span> :{#  <?php echo $data['designation_formation']?> #}
            </td>
            <td class="td3">
                <span class="span1"> </span>
            </td>
        </tr>
    </tbody>

</table>
<br/><br/><br/><br/>
<table class="tb1"  cellspacing="0">

    <tbody>

        <tr>

            <td class="td4">
               Est préinscrit(e) à l'université Internationale Abulcasis des Sciences de la Santé (UIASS), Faculté de  <span class="span1">{# <?php echo $data['designation_etablissement']; ?> #}</span>
                , pour l'année universitaire 
                <span class="span1">{# <?php echo $data['designation_annee_universitaire']; ?> #} </span>.
                <br/>
                Cette attestation est délivrée à l'intéressé(e) pour servir et valoir ce que de droit.
            </td>

        </tr>
    </tbody>

</table>

<table class="tb1" align="center" cellspacing="0">
    <thead>
        <tr>
            <th class="th1"></th>

        </tr>
    </thead>
    <tbody>

        <tr>

            <td class="td5">
                <br/><br/><br/>
                <span class="span1">{# <?php echo 'Le doyen'; ?> #}</span>

            </td>

        </tr>
    </tbody>

</table>
<br/><br/><br/>
<br/><br/><br/>
<br/><br/><br/>
<br/><br/><br/>
<br/><br/><br/>
<br/><br/><br/>
<br/><br/><br/>
<page_footer>
    <div class="div1"><p>B.P. 6533, Avenue Allal El Fassi,Madinat Al Irfane,  Rabat 10 000. Maroc - Web : www.uiass.ma - Contact : contact@uiass.ma        <br/>Tel : +212 5 37 68 70 20 / 21 / 22 - Fax : +212 5 37 77 01 06</p>
    </div>
</page_footer>