

{#}

{% for transition in workflow_transitions(bordereaux) %}
   
    {% set url = "" %}
    {% if workflow_metadata(bordereaux, 'function', transition) %}
        {%  set  url= path(workflow_metadata(bordereaux, 'function', transition), {id: bordereaux.id}) %}
    {% endif %} 
    <form style="display: inline-block"  id="{{ workflow_metadata(bordereaux, 'function', transition) }}" >
        <input type="hidden" name="_id" value="{{ bordereaux.id }}"/>
        <input type="hidden" name="statut" value="{{ workflow_metadata(bordereaux, 'statut', transition) }}"/>
        <input type="hidden" name="sous_module" value="{{ workflow_metadata(bordereaux, 'sousModule', transition) }}"/>
        <input type="hidden" name="title" value="{{ workflow_metadata(bordereaux, 'title', transition) }}"/>
        <input type="hidden" name="transition" value="{{ transition.name }}"/>
        <button class="btn btn-xs {{ workflow_metadata(bordereaux, 'class', transition) }}  btn-outline" type="submit"  type="submit"><i class="fa {{ workflow_metadata(bordereaux, 'icon', transition) }}"></i> {{ workflow_metadata(bordereaux, 'title', transition) }}</button>
    </form>



{% else %}
{% endfor %}





<div id="test" data-bordereaux-id="{{ bordereaux.id|json_encode }}"></div>#}






{% if bordereaux is defined and bordereaux is not empty and bordereaux.id is not empty  %}

<div class ="wrf-positions" >
{% for transition in workflow_transitions(bordereaux) %}
    {#{{ dump(workflow_marked_places(commande)) }}#}
    {% set url = "" %}
    {% if workflow_metadata(bordereaux, 'function', transition) %}
        {%  set  url= path(workflow_metadata(bordereaux, 'function', transition), {id: bordereaux.id}) %}
    {% endif %} 
    {#<form style="display: inline-block"  id="{{ workflow_metadata(demande, 'function', transition) }}">
        <input type="hidden" name="_id" value="{{ demande.id }}"/>
        <input type="hidden" name="statut" value="{{ workflow_metadata(demande, 'statut', transition) }}"/>
        <input type="hidden" name="sous_module" value="{{ workflow_metadata(demande, 'sousModule', transition) }}"/>
        <input type="hidden" name="title" value="{{ workflow_metadata(demande, 'title', transition) }}"/>
        <input type="hidden" name="transition" value="{{ transition.name }}"/>
        <button class="btn-wrf btn btn-xs {{ workflow_metadata(demande, 'class', transition) }}  btn-outline" type="submit"  type="submit"><i class="fa {{ workflow_metadata(demande, 'icon', transition) }}"></i>{{ workflow_metadata(demande, 'title', transition) }}</button>
    </form>
        #}
        
        
   <a class="{{ workflow_metadata(bordereaux, 'function', transition) }} btn-wrf btn btn-xs {{ workflow_metadata(bordereaux, 'class', transition) }}  btn-outline"
       data-id="{{ bordereaux.id }}"
       data-title = "{{ workflow_metadata(bordereaux, 'title', transition) }}"
       data-transition ="{{ transition.name }}"
       >
       <i class="fa {{ workflow_metadata(bordereaux, 'icon', transition) }}"></i>
       &nbsp;{{ workflow_metadata(bordereaux, 'title', transition) }}
   </a>
   
{% endfor %}





<div id="test" data-bordereaux-id="{{ bordereaux.id|json_encode }}"></div>
</div>


{% endif %}


{{ wo_render_breadcrumbs() }}
