<!DOCTYPE html>
<html>

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{{asset('/img/icon.png')}}"/>


        <title>
            {% block title %}
                U3S-EPR
            {% endblock %}
        </title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>

    <body class="top-navigation profil upper {{app.user.theme}} gray-bg">

        <div id="wrapper">
            <div id="page-wrapper" class="gray-bg">
                <div class="row border-bottom white-bg">
                    <nav class="navbar navbar-expand-lg navbar-static-top" role="navigation">

                        <a href="{{ path('app') }}" class="navbar-brand nav-header">U3S-ERP</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fa fa-reorder"></i>
                        </button>

                        <div class="navbar-collapse collapse show" id="navbar">
                            <ul class="nav navbar-nav mr-auto">
                                


                            </ul>
                            <ul class="nav navbar-top-links navbar-right imp-tail">
                                {% include './inc/header_app_config_logout.html.twig' %}
                            </ul>
                        </div>
                    </nav>
                </div>
                {#{{ dump(app.session) }} #}

                {% block body  %}{% endblock %}


                {%  include './inc/footer.html.twig' %}

            </div>
        </div>


        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

        {% endblock %}

    </body>

</html>
