{% extends 'base_ugouv.html.twig' %}




{% block title %}Banque | Treso
{% endblock %}

{% block body %}
    <div id="right-sidebar" class="actions animated"></div>

    <div class="row wrapper  white-bg page-heading  fixed-top-navigation-button">

        <div class="col-lg-6">
            {% include './tresorerie/treso/inc/workflow_breadcumb.html.twig' %}
        </div>


        <div class="col-lg-6">
            <div class="title-action">

            <div class="dropdown dropdown-inline right mt-1 mr-3" > 
                <a class=""style ="color:#676A6C; font-size:15px; "  href="javascript:;" class="" data-toggle="dropdown" > 	
                  <i class="fa fa-ellipsis-v text-black " style="" > </i>	
                </a> 
                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right " x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-111px, 26px, 0px);"> 	
                    <ul class="dropdown-menu show drp-list" x-placement="bottom-start"> 
                        <li class="navi-header font-weight-bolder text-uppercase font-size-xs text-primary pb-2">Choisir operation :</li>
                        {% for key ,  operation in operations %}
                                {% if   operation.prefix== '_detail'%}
                                    {% for key ,  operation in operations %}
                                        {% if   operation.prefix== '_detail'%}
                                            <a {% if operation.route is not null  %}  href="{{ path(operation.route) }}" {%  endif %}  id="{{operation.prefix}}" class="op-hor btn  btn-xs {{operation.classCs}}"><i class="fa {{ operation.icon }}"></i> {{ operation.titre|capitalize }}</a>
                                        {% endif %}
                                    {% endfor %}


                                 {% endif %}
                        
                        {% endfor %}
                        <a href="{{ path('tr_banque_treso_export') }}" target="_blank" class="op-hor btn  btn-xs"><i class="fa fa-download"></i>&nbsp;{{ "Export"|capitalize }}</a>
                        <a href="{{ path('solde_banq') }}" target="_blank" class="op-hor btn  btn-xs"><i class="fa fa-money" aria-hidden="true"></i>&nbsp;{{ " solde"|capitalize }}</a>
                        
                    </ul>
                </div> 	
            </div>




            </div>
        </div>

        <div class="border-b"></div>
        <div class="col-lg-12">
            {{ wo_render_breadcrumbs() }}
        </div>

    </div>


    <br/>
    <br/>

    <div class="row border-bottom white-bg dashboard-header mt-20">
    {# {{ ziko }} #}

        <div class="col-lg-12">



             {# --- information site --- #}


		<div class="ibox mt-2">

			<div class="ibox-content">

				<div class="message-success"></div>


				<div class="row m-t-sm">
					<div class="col-lg-12">
						<div
							class="panel blank-panel">


							<div class="panel-body">
								<div class="col-md-12">
									<div class="tab-content">
										<div class="tab-pane active" id="tab-1">

										<div class="row">

                                                <div class="col-sm-4">

                                                     {# <div class="form-group row">
														<label  class="col-sm-4 mt-1" style="font-size:12px !important;">Compte courant</label>
														<div class="col-sm-8">
															<input  type="text" value="{{sold_total}}"  style="height:28px; font-size:12px !important;"
															                     class="text-right form-control form-control solde font-weight-bold " disabled>
														</div>
													</div> #}

                                                </div>

                                                 <div class="col-sm-4 ">

                                                    {# <div class="form-group row">
														<label  class="col-sm-4 mt-1" style="font-size:12px !important;"> Compte conso</label>
														<div class="col-sm-8">
															<input  type="text" value="{{total_sold_conso}}"  style="height:28px; font-size:12px !important;"
															                     class="text-right form-control form-control solde font-weight-bold " disabled>
														</div>
													</div> #}


                                                </div>

												<div class="col-sm-4 ">
													<div class="form-group row">
														<label  class="col-sm-4 mt-1" style="font-size:12px !important;">Total trésorie</label>
														<div class="col-sm-8">
															<input  type="text" value="{{ sold_total }}"  style="height:28px; font-size:12px !important;"
															                     class="text-right form-control form-control solde font-weight-bold " disabled>
														</div>

													</div>
												</div>
                                                

										</div>



									</div>


								</div>


							</div>
						</div>

					</div>

				</div>
			</div>
		</div>

        {# --- information site --- #}


        <div class="ibox ">
            <div class="ibox-content">
                <div class="table-responsive">
                    <div class="row">
                        <div class="col-2 list_actions_bloc" style="position: fixed ; display: none;" {#style="position: fixed;align-content: center;right: 50%;display: none;z-index: 9999999"#}>

                            {# <select class="select2_demo _3 form-control _multiple_actions">
                                    <option value="">Action</option>
                                    {% for key , operation in  operations  %}
                                            {% if operation.multiple %}
                                                    <option value="{{operation.prefix}}">{{ operation.titre|capitalize }}</option>
                                            {% endif %}
                                    {% endfor %}
                            </select> #}
                            

                        </div>


                    </div>
                    <!--color : <span style="color:#ff6a6a">ddd</span>-->

                    <table class="table  display table-striped table-bordered table-hover dataTables-example" id="grid_index_depot_retrait" style="width: 100%">
                        <thead>


                            <tr>
                                <th>#</th>
                                <th>sites</th>
                                <th>compte Banque</th>
                                <th>sold</th>
                                {# <th>total depôt </th>
                                <th>total retrait</th>
                                <th>Sold conso</th> #}
                                <th>Actions</th>
                            </tr>
                        </thead>
                        
                        <tfoot>

                            <tr>
                                <td class="font-weight-bold" style="font-size:11px; border-bottom:none;"></td>
                                <td class="font-weight-bold" style="font-size:11px; border-bottom:none;"></td>
                                <td class="font-weight-bold" style="font-size:11px; border-bottom:none;"></td>
                                <td class="font-weight-bold" style="font-size:11px; border-bottom:none;text-align: right;"> {{ sold_total }}       </td>
                                {# <td class="font-weight-bold" style="font-size:11px; border-bottom:none;"> {{ total_depot }}      </td>
                                <td class="font-weight-bold" style="font-size:11px; border-bottom:none;"> {{ total_retrait }}    </td>
                                <td class="font-weight-bold" style="font-size:11px; border-bottom:none;"> {{ total_sold_conso }} </td> #}
                                <td class="font-weight-bold" style="font-size:11px; border-bottom:none;"></td>


                            </tr>
                            
                        </tfoot> 


                    </table> 


                </div>

            </div>
        </div>





           

        
        </div>
    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('treso') }}
{% endblock %}
