{% set t = 3 %}
{% set margin_left = "" %}
{% set margin_right = "" %}
{% set margin_top = "" %}
{% set margin_bottom = "" %}
{% set position_logo = "" %}
{% set ajouter_info_pied_page = false %}
{% for para in parametre %}
    {% if para.abriviation == "marge_L" %}
        {% set margin_left = para.valeur %}
    {% endif %}
    {% if para.abriviation == "marge_R" %}
        {% set margin_right = para.valeur %}
    {% endif %}
    {% if para.abriviation == "marge_T" %}
        {% set margin_top = para.valeur %}
    {% endif %}
    {% if para.abriviation == "marge_B" %}
        {% set margin_bottom = para.valeur %}
    {% endif %}
    {% if para.abriviation == "position_logo" %}
        {% set position_logo = para.valeur %}
    {% endif %}
    {% if para.abriviation == "ajouter_info_pied_page" %}
        {% if para.valeur == "checked" %}
            {% set ajouter_info_pied_page = true %}
        {% endif %}
    {% endif %}

{% endfor %}
<style type="text/Css">
    body{
        font-family: 'Source Sans Pro', sans-serif;
    }
    .titre-reb{
        width: 100%;
        background: #1f4f7a;
        font-size: 9px ;
        padding:3px 10px;
        color: #f1f1f1;
        font-weight: bold;

    }

    .slh tr td {
        border-bottom: 1px solid #292929;
    }
    .p1{
        font-size: 10px;
    }
    .table1{
        width: 100%;
    }
    .table2{
        width: 100%;
        text-align: center;
        border: 1px solid #292929;
        border-bottom: none;
    }
    
    .table4{
        width: 100% ;
        background: #FFFFFF; 
        text-align: center
    }
    .table5{
        width: 100%;
        border: 1px solid #292929
    }
    .table6{
        width: 100%; 
        text-align: left; 
        font-size: 12px
    }
    .table7{
        width: 100%;
        text-align: left; 
        font-size: 9px
    }
    .table8{
        width: 100%; 
        text-align: left; 
        font-size: 12px
    }
    .tr2{
        background-color: #292929; 
        color:white; 
        font-size: 9px;
    }
    .divfooter{
        position: relative;
        left: 5%;
        width:90%;
        border-top:1px solid #000;
        padding:5px;
        text-align: center;
        font-size: 11px;
    }
    .td1{
        width: 35%; 
        text-align: left;
    }
    .td2{
        width: 65%; 
        text-align: right;
    }
    .td3{
        width: 30% ;
    }
    .td4{
        border-bottom:  solid 1px #292929 ;
        width: 100%
    }
    .td5{
        width: 100% ; 
        font-size: 11px ;
        font-weight: bold
    }
    .td6{
        width: 40% ;
        font-size: 16px;
        font-weight: bold ; 
        border-right: 1px;
        border-left: 1px;
    }
    .td8{
        border-bottom:  solid 1px #292929 ;
        width: 100%
    }
    .td9{
        width: 100% ; 
        font-size: 11px ;
        font-weight: bold
    }
    .td10{
        font-size: 11px;
        width: 100% ; 
        height: 10px;
    }
    .td11{
        width: 100% ;
        background: #292929; 
        color: #fff ;
        height: 17px
    }
    .td12{
        padding: 10px 4px 1px 4px  ; 
        font-weight: bold;
        font-size: 13px
    }
    .td13{
        padding: 5px 4px 10px 4px ; 
        font-weight: bold;
        font-size: 11px
    }
    .td14{
        width: 50% ;
    }
    .td15{
        width: 35% ;
        border: 1px solid #292929
    }
    .td16{
        width: 100%
    }
    .td17{
        width: 65%;
        border: 1px solid #292929
    }
    .td18{
        width: 10% ;
    }
    .td19{
        width: 20% ;
    }
    .td20{
        width: 35% ;
    }
    .td21{
        width: 65%;
    }
    .td22{
        width: 5%;
        padding: 3px;
        font-size: 10px;
        text-align: left;
    }
    .td23{
        width: 60%;
        padding: 3px;
        font-size: 10px;
        text-align: left;
    }
    .td24{
        width: 5%;
        padding: 3px;
        font-size: 10px;
        text-align: center;
    }
    .td25{
        width: 12%;
        padding: 3px;
        font-size: 10px;
        text-align: right;
    }
    .td26{
        width: 13%;
        padding: 3px;
        font-size: 10px;
        text-align: right;
    }
    .tr1{
        width:100%;
    }
    .th1{
        width: 5%;
        padding: 3px
    }
    .th2{
        width: 60%;
        padding: 3px
    }
    .th3{
        width: 5%;
        padding: 3px;
        text-align: center
    }
    .th4{
        width: 12%;
        padding: 3px;
        text-align: center;
    }
    .th5{
        width: 13%;
        padding: 3px;
        text-align: center;
    }
    h5{
        padding: 10px 4px  ; font-weight: bold;font-size: 13px
    }
    img{
        margin-right: 20px;
    }
    .div1{
        line-height: 20px;
    }
    .span1{
        font-size: 12px ;
        text-transform: uppercase ; 
        font-weight: bold;
    }
    span{
        font-size: 10px
    }
    .th1{
        width: 100% ;
        font-size: 11px ;
        font-weight: 200
    }
    .th2{
        width: 100% ; 
        font-size: 11px ;
        font-weight: 200
    }
</style>


<body>
<page_header>
    <table class="table1" align="center" cellspacing="0">
        <tbody>




            <tr>
                <td class="td1">
                    <div class="div1">
                        <span class="span1">CENTRE DE BIOEQUIVALENCE</span><br/>

                        <span>Av. Allal El Fassi Madinat Al Irfane Hay Riad 10000 Rabat</span><br/>
                        <span>Tel :0537368368</span><br/>
                        <span>Fax :0537368368</span><br/>
                    </div>
                </td>
                <td class="td2" >
                    <br/><br/>
                    <img src="http://localhost/ugouv-sym/public/img/Logo_UIASS.png" alt="Logo">
                </td>
            </tr>
        </tbody>
    </table>
</page_header>
<br/><br/><br/>
 <pre>
    {{ dump(t_achatdemandeinternecabs) }}
</pre>
{% for t_achatdemandeinternecab in t_achatdemandeinternecabs %}
<table class="table2">
    <tr>
        <td class="td3">
            <table class="table1">
                <tr>
                    <th class="th1" >DATE DEMANDE</th>
                </tr>
                <tr>
                    <td class="td4" ></td>
                </tr>
                <tr>
                    <td class="td5" >{{t_achatdemandeinternecab.dateDemande|date("d/m/Y")}}</td>
                </tr>
            </table>
        </td>
        <td class="td6" >DEMANDE D'ACHAT  </td>
        <td class="td3">
            <table class="table4">
                <tr>
                    <th class="th2">CODE DEMANDE  </th>
                </tr>
                <tr>
                    <td class="td8"></td>
                </tr>
                <tr>
                    <td class="td9">{{t_achatdemandeinternecab.code}}</td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<table class="table5">
    <tr>
        <td class="td10">AFFAIRE : DIVERS AUTRES</td>
    </tr>
</table>

<br/>

<table cellspacing="0" class="table6">
    <tr>
        <td class="td11"></td> 
    </tr>
    <tr>
        <td class="td12">ETABLISSEMENT : Faculté de Médecine Générale</td> 
    </tr>
    <tr>
        <td class="td13" >POUR LE COMPTE DE : {{t_achatdemandeinternecab.pourcompte}}</td> 
    </tr>
</table>

<table class="table7">
    <tr class="tr1" > 
        <td class="td14">
            <table class="table1" >
                <tr>
                    <td class="td15">
                        <table class="table1" >
                            <tr>
                                <td class="td16">Pôle demandeur : </td>
                            </tr>
                        </table>
                    </td>

                    <td class="td17">
                        <table class="table1">
                            <tr>
                                <td class="td16">{{t_achatdemandeinternecab.service}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="td15">
                        <table class="table1">
                            <tr>
                                <td class="td16">Description :</td>
                            </tr>
                        </table>
                    </td>
                    <td class="td17">
                        <table class="table1">
                            <tr>
                                <td class="td16">{{t_achatdemandeinternecab.description}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td class="td15">
                        <table class="table1 ">
                            <tr>
                                <td class="td16">Ligne budgétaire :</td>
                            </tr>
                        </table>
                    </td>

                    <td class="td17">
                        <table class="table1">
                            <tr>
                                <td class="td16">{{t_achatdemandeinternecab.compte}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>


                <tr>
                    <td class="td15">
                        <table class="table1">
                            <tr>
                                <td class="td16">Estimation financière: </td>
                            </tr>
                        </table>
                    </td>

                    <td class="td17">
                        <table class="table1">
                            <tr>
                                <td class="td16">{{t_achatdemandeinternecab.montant}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>


                <tr>
                    <td class="td15">
                        <table class="table1">
                            <tr>
                                <td class="td16">Compte :</td>
                            </tr>
                        </table>
                    </td>

                    <td class="td17">
                        <table class="table1">
                            <tr>
                                <td class="td16">designation</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>

        <td class="td14">
            <table class="table1">
                <tr>
                    <td class="td15">
                        <table class="table1">
                            <tr>
                                <td class="td16">MAD   :</td>
                            </tr>
                        </table>
                    </td>

                    <td class="td17">
                        <table class="table1">
                            <tr>
                                <td class="td16">0.00</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="td15">
                        <table class="table1">
                            <tr>
                                <td class="td16">Nature</td>
                            </tr>
                        </table>
                    </td>
                    <td class="td17">
                        <table class="table1">
                            <tr>
                                <td class="td16">{{t_achatdemandeinternecab.type}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="td18">
                        <table class="table1">
                            <tr>
                                <td class="td16"></td>
                            </tr>
                        </table>
                    </td>
                    <td class="td19">
                        <table class="table1">
                            <tr>
                                <td class="td16"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="td20">
                        <table class="table1">
                            <tr>
                                <td class="td16"></td>
                            </tr>
                        </table>
                    </td>

                    <td class="td21">
                        <table class="table1">
                            <tr>
                                <td class="td16"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="td20">
                        <table class="table1 ">
                            <tr>
                                <td class="td16"></td>
                            </tr>
                        </table>
                    </td>

                    <td class="td21">
                        <table class="table1">
                            <tr>
                                <td class="td16"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="td20">
                        <table class="table1 ">
                            <tr>
                                <td class="td16"></td>
                            </tr>
                        </table>
                    </td>

                    <td class="td21">
                        <table class="table1">
                            <tr>
                                <td class="td16"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="td20">
                        <table class="table1 ">
                            <tr>
                                <td class="td16"></td>
                            </tr>
                        </table>
                    </td>

                    <td class="td21">
                        <table class="table1">
                            <tr>
                                <td class="td16"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="td20">
                        <table class="table1 ">
                            <tr>
                                <td class="td16"></td>
                            </tr>
                        </table>
                    </td>

                    <td class="td21">
                        <table class="table1">
                            <tr>
                                <td class="td16"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="td20">
                        <table class="table1 ">
                            <tr>
                                <td class="td16"></td>
                            </tr>
                        </table>
                    </td>

                    <td class="td21">
                        <table class="table1">
                            <tr>
                                <td class="td16"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>   
</table>


<table cellspacing="0" class="table8">
    <tr>
        <td><h5>OBJET : {{t_achatdemandeinternecab.description}}</h5></td> 
    </tr>    
</table>
<table class="table1" cellspacing="0">
    <tr class="tr2">
        <th class="th1">ORD</th>
        <th class="th2">DESIGNATION</th>
        <th class="th3">QNT</th> 
        <th class="th3">TVA</th>
        <th class="th4">PRIX H.T</th>
        <th class="th5">TTC</th>
    </tr>
   
        <tr>
            <td class="td22">1</td>
            <td class="td23">1</td>
            <td class="td24">1</td>
            <td class="td24">1</td>
            <td class="td25">1</td>
            <td class="td26">1</td>
        </tr>
        
</table>

<br/><br/>






<p class="p1"></p>
<br/><br/><br/>
<br/><br/><br/>
<br/><br/><br/>
<br/><br/><br/>
<br/><br/><br/>
<br/><br/>
<page_footer>
{% if ajouter_info_pied_page == true %}
        <footer>
        <div class="divfooter">
        <p>
        Av. Allal El Fassi Madinat Al Irfane Hay Riad 10000 Rabat
</p>
        </div>
        </footer>
        {% endif %}
    
    
</page_footer>
</body>
{% endfor %}