<div class="sidebar-container">

	<div class="ibox-tools">
		<a class="close-link close-me" href="">
			<i class="fa fa-times"></i>
		</a>
	</div>

	<div class="tab-content">


		<div id="tab-1" class="tab-pane active">

			<div class="sidebar-title">
				<h3>
					<i class="fa fa-info-circle"></i>
					INFORMATIONS
				</h3>
				<small>
					Informations sur le document a imprimer  .</small>
			</div>

			<div class="right-sidebar-content">


				<table class="table small m-b-xs">
					<tbody>
						<tr>
							<td>
								<strong>Code :</strong>
								{{ cb_fabrication.code }}
							</td>
						</tr>


					</tbody>
				</table>

				<div class="ibox">
					<div
						class="ibox-content">

						{#<h3>Expression de Besoin Document </h3>#}
						{{ form_start(form ,{ 'attr':{'novalidate': 'novalidate' , 'target':'_blank'}}) }}
						{#<div class="form-group">
																		                            {{ form_label(form.statut ,'Statut :', {'label_attr':{'class':'col-sm-4'}}) }} 
																		                            {{ form_widget(form.statut,{'attr':{'class':'form-control form-control-sm'}}) }} 
																		                        </div>#}


						<br/>
						<div class="row">
							<div class="col-md-12">

								<div class="form-group row">
									{{ form_label(form.fpapier ,'Format Papier :', {'label_attr':{'class':'col-sm-12'}}) }}
									<div class="col-sm-12">
										{{ form_widget(form.fpapier,{'attr':{'class':'form-control form-control-sm'}}) }}
									</div>
								</div>
								<div class="hr-line-dashed"></div>
								<div class="form-group row">
									{{ form_label(form.type ,'Type Format Papier:', {'label_attr':{'class':'col-sm-12'}}) }}
									<div class="col-sm-12">
										{{ form_widget(form.type,{'attr':{'class':'form-control form-control-sm'}}) }}
									</div>
								</div>
								<div class="hr-line-dashed"></div>
								<div class="form-group row">
									{{ form_label(form.taille ,'Format Etiquette :', {'label_attr':{'class':'col-sm-12'}}) }}

									<div class="col-sm-12">
										{{ form_widget(form.taille,{'attr':{'class':'form-control form-control-sm'}}) }}
									</div>
								</div>
								<div class="hr-line-dashed"></div>
								<div class="form-group row">
									{{ form_label(form.nbr ,'Nbr. Etiquette :', {'label_attr':{'class':'col-sm-12'}}) }}
									<div class="col-sm-6">
										{{ form_widget(form.nbr,{'attr':{'class':'form-control form-control-sm','placeholder':'Nbr. Etiquette'}}) }}
									</div>
								</div>
							</div>
						</div>


						<br/>


						{{ form_widget(form.id) }}
						<button class="btn btn-white btn-block btn-xs">
							<i class="fa fa-print"></i>
							&nbsp;{{ button_label|default('Imprimer') }}</button>
						{{ form_end(form,{'render_rest': false}) }}

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
