{% extends 'base_code_barre.html.twig' %}
{% block title %}Liste | Pré commande | Ugouv achat
{% endblock %}


{% block body %}

    <div id="right-sidebar" class="actions animated" >

    </div>




    <div class="row wrapper  white-bg page-heading  fixed-top-navigation-button">
        
        <div class="col-lg-6">
            {% include './module_codeBarre/code/inc/workflow_breadcumb.html.twig' %}
        </div>

        <div class="col-lg-6">
             <div class="title-action">
                {% for key ,  operation in operations %}
                    {% if operation.verticale and  operation.prefix== '_new'%}
                        <a {% if operation.route is not null  %}  href="{{ path(operation.route) }}" {%  endif %}  id="{{operation.prefix}}" class="op-hor btn btn-white btn-xs {{operation.classCs}}"><i class="fa {{ operation.icon }}"></i> {{ operation.titre|capitalize }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>


       

        <div class="border-b"></div>
       <div class="col-lg-12">
        {% include './module_codeBarre/code/inc/workflow.html.twig' %}
    </div>

    </div>


    <br/><br/>


   

    
        <div class="row border-bottom white-bg dashboard-header mt-20">
            <div class="col-lg-12">

                <div class="ibox ">
                    {#<div class="ibox-title">
                        <h5>Achat , Pré-commande </h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>#}
                    <div class="ibox-content"> 
                        <div class="table-responsive">
                            <div class="row" >
                                <div class="col-2 list_actions_bloc" style="position: fixed ; display: none;" {#style="position: fixed;align-content: center;right: 50%;display: none;z-index: 9999999"#}>

                                    <select class="select2_demo _3 form-control _multiple_actions">
                                        <option value="">Action</option>
                                        {% for key , operation in  operations  %}
                                            {% if operation.multiple %}
                                                <option value="{{operation.prefix}}">{{ operation.titre|capitalize }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>



                                </div>



                            </div>
                            <table class="table  display table-striped table-bordered table-hover dataTables-example" id="grid" style="width: 100%" >
                                <thead>



                                    <tr>
                                        <th>#</th>
                                        <th>Code</th>
                                        <th>Designation</th>
                                        <th>Description</th>


                                    </tr>
                                </thead>


                                <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th>Code</th>
                                        <th>Designation</th>
                                        <th>Description</th>
                                    </tr>
                                </tfoot>


                            </table>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('cb_fabrication') }}
{% endblock %}