{% extends 'base.html.twig' %}

{% block title %}Compagnie{% endblock %}

{% block body %}
    <h1>Compagnie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ compagnie.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ compagnie.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ compagnie.description }}</td>
            </tr>
            <tr>
                <th>Logo</th>
                <td>{{ compagnie.logo }}</td>
            </tr>
            <tr>
                <th>Capital</th>
                <td>{{ compagnie.capital }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ compagnie.adresse }}</td>
            </tr>
            <tr>
                <th>Tel1</th>
                <td>{{ compagnie.tel1 }}</td>
            </tr>
            <tr>
                <th>Tel2</th>
                <td>{{ compagnie.tel2 }}</td>
            </tr>
            <tr>
                <th>Fax</th>
                <td>{{ compagnie.fax }}</td>
            </tr>
            <tr>
                <th>Email1</th>
                <td>{{ compagnie.email1 }}</td>
            </tr>
            <tr>
                <th>Email2</th>
                <td>{{ compagnie.email2 }}</td>
            </tr>
            <tr>
                <th>DateCreation</th>
                <td>{{ compagnie.dateCreation ? compagnie.dateCreation|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>NombreEmploye</th>
                <td>{{ compagnie.nombreEmploye }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('compagnie_index') }}">back to list</a>

    <a href="{{ path('compagnie_edit', {'id': compagnie.id}) }}">edit</a>

    {{ include('compagnie/_delete_form.html.twig') }}
{% endblock %}
