{% extends 'base_univ.html.twig' %}
{% block title %}Notes | Epreuves | UNIV
{% endblock %}
{% block body %}
    <div id="right-sidebar" class="actions animated"></div>
    <div class="row wrapper white-bg page-heading fixed-top-navigation-button">
        <div class="col-lg-6">
            {% include './module_univ/evaluation/configepv/inc/workflow_breadcumb.html.twig' %}
        </div>
        <div class="col-lg-6">
            <div class="title-action">
                {% if workflow_has_marked_place(epreuve, 'note') %}
                    <a id="modalActivate" type="button" class="btn btn-white btn-xs" data-toggle="modal" data-target="#exampleModalPreview">
                        <i class="fa fa-cloud-upload"></i>
                        Importer notes
                    </a>
                {% endif %}
            </div>
        </div>

        <div class="border-b"></div>
        <div class="col-lg-12">
            {% include './module_univ/evaluation/configepv/inc/workflow.html.twig' %}
        </div>
    </div>
    <br/><br/>
    <div class="row pt-20">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content" style="padding-top: 4px ;">


                    <div class="row m-t-sm">
                        <div class="col-lg-12">
                            <div class="panel blank-panel padding-style">
                                <div class="panel-heading">
                                    <div class="panel-options">

                                        {% include './module_univ/evaluation/configepv/inc/navigation.html.twig' %}
                                    </div>
                                </div>
                                <div class="col-md-12 scroll_content">
                                    <div class="panel-body">
                                        <div class="tab-content">
                                            <div class="tab-pane active show affi" id="tab-1">
                                                {% if workflow_has_marked_place(epreuve, 'note') %}
                                                    <div class="row">
                                                        {#<div class="col-md-3 b-r">
                                                            <h3 class="m-t-none m-b">Information Groupe</h3>
                                                            <div class="hr-line-dashed hr-line-dashed-co"></div>
                                                            <div class="form-group row ph">
                                                                <label class="col-sm-4 required font-weight-bold font-weight-bold">Etablissement</label>

                                                                <div class="col-sm-8">

                                                                    <p class="form-control-static">{{epreuve.controleEpreuve.controleElement.element.module.semestre.promotion.formation.etablissement ? epreuve.controleEpreuve.controleElement.element.module.semestre.promotion.formation.etablissement.designation : "" }}</p>

                                                                </div>

                                                            </div>
                                                            <div class="hr-line-dashed hr-line-dashed-co"></div>

                                                            <div class="form-group row ph">
                                                                <label class="col-sm-4 required font-weight-bold font-weight-bold">Formation</label>

                                                                <div class="col-sm-8">
                                                                    <p class="form-control-static">{{epreuve.controleEpreuve.controleElement.element.module.semestre.promotion.formation ? epreuve.controleEpreuve.controleElement.element.module.semestre.promotion.formation.designation : "" }}</p>
                                                                </div>

                                                            </div>
                                                            <div class="hr-line-dashed hr-line-dashed-co"></div>

                                                            <div class="form-group row ph">
                                                                <label class="col-sm-4 required font-weight-bold font-weight-bold">Promotion</label>

                                                                <div class="col-sm-8">
                                                                    <p class="form-control-static">{{epreuve.controleEpreuve.controleElement.element.module.semestre.promotion ? epreuve.controleEpreuve.controleElement.element.module.semestre.promotion.designation : "" }}</p>
                                                                </div>

                                                            </div>
                                                            <div class="hr-line-dashed hr-line-dashed-co"></div>

                                                            <div class="form-group row ph">
                                                                <label class="col-sm-4 required font-weight-bold font-weight-bold">Module</label>

                                                                <div class="col-sm-8">
                                                                    <p class="form-control-static">{{epreuve.controleEpreuve.controleElement.element.module ? epreuve.controleEpreuve.controleElement.element.module.designation : "" }}</p>
                                                                </div>

                                                            </div>
                                                            <div class="hr-line-dashed hr-line-dashed-co"></div>

                                                            <div class="form-group row ph">
                                                                <label class="col-sm-4 required font-weight-bold font-weight-bold">Elément</label>

                                                                <div class="col-sm-8">
                                                                    <p class="form-control-static">{{epreuve.controleEpreuve.controleElement.element ? epreuve.controleEpreuve.controleElement.element.designation : "" }}</p>
                                                                </div>

                                                            </div>
                                                            <div class="hr-line-dashed hr-line-dashed-co"></div>
                                                            <div class="form-group row ph">
                                                                <label class="col-sm-4 required font-weight-bold font-weight-bold">Epreuve</label>

                                                                <div class="col-sm-8">
                                                                    <p class="form-control-static">{{epreuve.controleEpreuve.natureEpreuve ? epreuve.controleEpreuve.natureEpreuve.designation  : "" }}
                                                                        ( {{epreuve.controleEpreuve.natureEpreuve ? epreuve.controleEpreuve.natureEpreuve.abreviation   : "" }} )
                                                                    </p>

                                                                </div>

                                                            </div>



                                                            <div class="hr-line-dashed hr-line-dashed-co"></div>

                                                            <div class="form-group row ph">
                                                                <label class="col-sm-4 required font-weight-bold font-weight-bold">Coefficient</label>

                                                                <div class="col-sm-8">
                                                                    <p class="form-control-static">{{epreuve.coefficient}}</p>
                                                                </div>

                                                            </div>


                                                            <div class="hr-line-dashed hr-line-dashed-co"></div>

                                                            <div class="form-group row ph">
                                                                <label class="col-sm-4 required font-weight-bold font-weight-bold">Année</label>

                                                                <div class="col-sm-8">
                                                                    <p class="form-control-static">{{epreuve.controleEpreuve.controleElement.controleModule.controleSemestre.controlePromotion.annee ? epreuve.controleEpreuve.controleElement.controleModule.controleSemestre.controlePromotion.annee.designation : ""}}</p>
                                                                </div>

                                                            </div>


                                                        </div>#}
                                                        <div class="col-md-12">

                                                            <h3 class="m-t-none m-b">Liste des étudiants</h3>
                                                            <div class="hr-line-dashed hr-line-dashed-co"></div>

                                                            <table class="t-m table table-striped table-bordered table-hover w-m dataTables-example dataTable" id="datatable-show-4">
                                                                <thead>
                                                                    <tr>
                                                                        <th width="5%">#</th>
                                                                            {% if epreuve.anonymat == 1 %}
                                                                            <th width="15%">Code</th>
                                                                            <th width="15%">Nom</th>
                                                                            <th width="15%">Prénom</th>
                                                                            {% else %}
                                                                            <th width="10%">Anonymat</th>
                                                                            {% endif %}
                                                                        <th width="5%">Note</th>
                                                                        <th width="5%">Abscence</th>
                                                                        <th>Observation</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>

                                                                    {% for etu  in  etudiant %}
                                                                        <tr>
                                                                            <td>
                                                                                {{ loop.index }}
                                                                            </td>
                                                                            {% if epreuve.anonymat == 1 %}
                                                                                <td>{{etu.inscription.code}}</td>
                                                                                <td>
                                                                                    {{ etu.inscription.admission.preinscription.etudiant.nom }}
                                                                                </td>
                                                                                <td>
                                                                                    {{ etu.inscription.admission.preinscription.etudiant.prenom }}
                                                                                </td>
                                                                            {% else %}
                                                                                <td>{{etu.inscription.codeAnonymat}}</td>
                                                                            {% endif %}
                                                                            <td contenteditable="true" data-token="{{ csrf_token('note' ~ etu.id) }}" class="note center" data-gnote="{{ etu.id }}">
                                                                                {% if etu.note is empty %}
                                                                                    -
                                                                                {% else %}
                                                                                    {{ etu.note|number_format(2, '.', ',') }}
                                                                                {% endif %}
                                                                            </td>
                                                                            <td class="center">
                                                                                <input type="checkbox" data-token="{{ csrf_token('abscence' ~ etu.id) }}" class="abscence" data-gnote="{{ etu.id }}" {% if etu.absent is defined and etu.absent == 1 %} checked {% endif %}/>
                                                                            </td>
                                                                            <td contenteditable="true" data-token="{{ csrf_token('observation' ~ etu.id) }}" class="observation" data-gnote="{{ etu.id }}">
                                                                                {{ etu.observation }}
                                                                            </td>
                                                                        </tr>
                                                                    {% endfor %}
                                                                    {# {% endif %} #}
                                                                </tbody>
                                                            </table>


                                                        </div>
                                                        <div class="col-md-6">
                                                            <h3 class="m-t-none m-b"><br>
                                                            </h3>

                                                        </div>
                                                    </div>
                                                {% else %}
                                                    <div class="forum-item animated bounce">
                                                        <div class="row">
                                                            <div class="col-md-9">
                                                                <div class="forum-icon">
                                                                    <i class="fa fa-warning"></i>
                                                                </div>
                                                                <a class="forum-item-title">Important</a>
                                                                <div class="forum-sub-title">
                                                                    Vous ne pouvez pas ajouter les notes d'une évaluation avant l'étape Validé ,
                                                                    <br/>veuillez consulter ce lien pour plus d'informations sur cette évaluation
                                                                    <a href="{{ path('module_univ_evaluation_epreuves_show' , {id:epreuve.id})}}">{{ epreuve.code }}</a>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                {% endif %}

                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if epreuve is defined %}
        <input type="hidden" name="_id" value="{{ epreuve.id }}"/>
    {% endif %}
    <form id="_import" method="post" enctype="multipart/form-data">
        {% if epreuve is defined %}
            <input type="hidden" name="_id" value="{{ epreuve.id }}"/>
        {% endif %}
        <div class="modal fade right" id="exampleModalPreview" tabindex="-1" role="dialog" aria-labelledby="exampleModalPreviewLabel" aria-hidden="true" data-backdrop='false'>
            <div class="modal-dialog modal-full-height modal-top modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalPreviewLabel">IMPORTATION DES FICHIERS
                        </h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body bo2">

                        <div class="subimport">
                            <button class="btn btn-white btn-xs btn-lg my-button  waves-effect waves-light" data-style="expand-left" type="submit">
                                <i class="fa fa-cloud-upload"></i>
                                Importer</button>
                        </div>
                        <div class="center typ-files-styles">

                            <div class="popover fade bs-popover-left show stepses" role="tooltip" id="popover261922">
                                <div class="arrow" style="top: 10px;"></div>
                                <h3 class="popover-header"></h3>
                                <div class="popover-body">L'entete à respcter les nomination.</div>
                            </div>
                            <div class="popover fade show bs-popover-top notTab" role="tooltip">
                                <div class="arrow" style="left: 120px;"></div>
                                <h3 class="popover-header"></h3>
                                <div class="popover-body">la note doit etre entre 0 et 20 .</div>
                            </div>
                            <div class="popover fade show bs-popover-top notTab2" role="tooltip">
                                <div class="arrow" style="left: 12px;"></div>
                                <h3 class="popover-header"></h3>
                                <div class="popover-body">si 1 l'étudiant est absent sinon l'étudiant est présent .</div>
                            </div>
                            <table class="TableAttr table table-bordered">
                                <tbody>
                                    <tr>
                                        {% if epreuve.anonymat == 1 %}
                                            <th>inscription_id</th>
                                            {% else %}
                                            <th>anonymat_id</th>
                                            {% endif %}
                                        <th>epreuve_id</th>
                                        <th>note</th>
                                        <th>absent</th>
                                        <th>observation</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="SoPro">
                                                1120</span>
                                        </td>
                                        <td>
                                            <span class="SoValue">
                                                {{ epreuve.id }}
                                            </span>
                                        </td>
                                        <td>20</td>
                                        <td>0</td>
                                        <td>mettre l'observation ici</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="SoPro">
                                                1121</span>
                                        </td>
                                        <td>
                                            <span class="SoValue">
                                                {{ epreuve.id }}
                                            </span>
                                        </td>
                                        <td>-</td>
                                        <td>1</td>
                                        <td>-</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="SoPro">
                                                1122</span>
                                        </td>
                                        <td>
                                            <span class="SoValue">
                                                {{ epreuve.id }}
                                            </span>
                                        </td>
                                        <td>15</td>
                                        <td></td>
                                        <td>mettre l'observation ici</td>
                                    </tr>
                                </tbody>
                            </table>


                            <h4>Importer notes épreuve</h4>
                            <p class="m-b-p">choisir seulement les fichiers csv
                            </p>
                            <input type="file" id="file" name="etudiants_file"/>
                            <label for="file" class="btn-2">
                                <i class="fa fa-cloud-upload"></i>
                                Charger</label>
                        </div>
                        <div class="text-center spr" style="display:none;">
                            <div class="spinner-border" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                        <div id="resultats_import"></div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    {{ render(controller('App\\Controller\\moduleUniv\\evaluation\\EvaluationAnneeController:ChoixPromotion',{ 'id': epreuve.ControleEpreuve.controleElement.controleModule.controleSemestre.controlePromotion ,'type':'epv','active':epreuve.id}))}}


{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('univ_epreuve') }}
{% endblock %}
