{% extends 'base_ugouv.html.twig' %}
{% block title %}Report , consulter Report | Achat
{% endblock %}
{% block body %}
    <div id="right-sidebar" class="actions animated"></div>

    <div class="row wrapper  white-bg page-heading  fixed-top-navigation-button">
        <div class="col-lg-4">
            <h2 class="fo">Achat , Synthèse - montant
            </h2>
        </div>
        <div class="col-lg-8">
            <div
                class="title-action">{#% include './module_achat/facturefrs/inc/workflow.html.twig' %#}

            </div>
        </div>
        <div class="border-b"></div>
        <div class="col-lg-12">
            {{ wo_render_breadcrumbs() }}
        </div>
        {#{{ render(controller('App\\Controller\\moduleAchat\\CommandefrsController:showbreadcumb',{ 'commande': commande.id})) }}
                                                                                                                                                                                                        #}

    </div>
    <br/><br/><br/>
    <div class="row">
        <div class="col-lg-12">

            <div class="ibox">
                <div class="ibox-title">
                    <h5>Paramètre de Rechercher</h5>
                </div>
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-md-2">
                            <p class="msty">
                                Dossier
                            </p>

                            <select id="form_dossier" name="form[dossier]" class="select2_demo_4 form-control ">
                                <option></option>
                                {% if app.session.get('dossiers') is defined  %}
                                    {% for key , dossier in app.session.get('dossiers') %}
                                        <option value="{{ dossier.id }}">{{ dossier.abreviation|upper }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>

                        <div class="col-md-2">
                            <p class="msty">
                                Type
                            </p>

                            <select id="form_type" name="form[type]" class="select2_demo_5 form-control ">
                                <option></option>
                                <option value="projet">Projet</option>
                                <option value="marche">Marché</option>

                            </select>
                        </div>

                        <div class="col-md-2 projet">
                            <p class="msty">
                                Projet
                            </p>

                            <select id="form_projet" name="form[projet]" class="select2_demo_3 form-control">
                                <option>Choix projet</option>
                                {% if projet is defined  %}
                                    {% for key , p in projet  %}
                                        <option value="{{p.id}}">{{p.abreviation}}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>

                        <div class="col-md-2 projet">
                            <p class="msty">
                                Sous Projet
                            </p>

                            <select id="form_sous_projet" name="form[sousProjet]" class="select2_demo_6 form-control">
                                <option></option>

                            </select>
                        </div>

                        {{ form_start(form ,{'attr':{'novalidate': 'novalidate' , "autocomplete":"off", 'class':'form frme'}}) }}
                        <div class="col-md-2 marche">
                            <p class="msty">
                                Marché
                            </p>

                            {{ form_widget(form.marche,{'attr':{'class':'form-control form-control-sm marches sel2'}}) }}
                        </div>

                        <div class="col-md-2 souMarche">
                            <p class="msty">
                                Sous Marché
                            </p>

                            {{ form_widget(form.marchesous,{'attr':{'class':'form-control form-control-sm sousmarche sel2'}}) }}
                        </div>
                        {{ form_end(form,{'render_rest': false}) }}


                        <div class="col-md-3">
                            <br>
                            <button type="button" class="btn btn-outline btn-primary mbr search waves-effect waves-light">
                                <i class="fa fa-search"></i>
                            </button>
                            <button type="button" class="btn btn-outline btn-primary mbr rsearch waves-effect waves-light">
                                <i class="fa fa-refresh"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">

            <div class="ibox">

                <div class="ibox-content">

                    <div class="row">
                        <div class="col-md-12">
                            <br/>
                            <table class="t-m table table-striped table-bordered table-hover w-m dataTables-example dataTable" id="datatable-show">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Ref-exp</th>
                                        <th>Fournisseur</th>
                                        <th>Date-exp</th>
                                        <th>Ref-cmd
                                        </th>
                                        <th>Date-cmd
                                        </th>


                                        <th>Mnt-cmd
                                        </th>
                                        <th>Mnt-Rcp
                                        </th>
                                        <th>Mnt-fac</th>
                                        <th>Mnt-reg</th>
                                        <th>Mnt-acompte</th>
                                        <th>Mnt-avoir</th>
                                        <th>Dossier</th>
                                        <th>Projet</th>
                                        <th>Sous Projet</th>
                                        <th>Marché</th>
                                        <th>Sous-Marché</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th>Ref-exp</th>
                                        <th>Fournisseur</th>
                                        <th>Date-exp</th>
                                        <th>Ref-cmd
                                        </th>
                                        <th>Date-cmd
                                        </th>


                                        <th>Mnt-cmd
                                        </th>
                                        <th>Mnt-Rcp
                                        </th>
                                        <th>Mnt-fac</th>
                                        <th>Mnt-reg</th>
                                        <th>Mnt-acompte</th>
                                        <th>Mnt-avoir</th>
                                        <th>Dossier</th>
                                        <th>Projet</th>
                                        <th>Sous Projet</th>
                                        <th>Marché</th>
                                        <th>Sous-Marché</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <br/>
    <br/>
    <br/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('reporting') }}
{% endblock %}
