{% extends 'base_ugouv.html.twig' %}


{% block title %}Consulter | Alimentation
{% endblock %}
{% block body %}
	{{ parent() }}
	<div id="right-sidebar" class="actions animated"></div>

	<div class="show">


		<div class="row wrapper  white-bg page-heading  fixed-top-navigation-button">

			<div class="col-lg-12">
				{% include './tresorerie/tr_alimentation/inc/workflow_breadcumb.html.twig' %}
			</div>


			<div class="border-b"></div>
			<div class="col-lg-12">
				{{ wo_render_breadcrumbs() }}
			</div>
		</div>
		<br/><br/>

		<div class="row pt-20">
			<div class="col-lg-12 ">
				<div class="ibox">
					<div class="ibox-title ibox-title2">
                        <h5>informations generales</h5>
                    </div>

					<div class="ibox-content">

						<div class="message-success"></div>


						<div class="row m-t-sm">
							<div class="col-lg-12">
								<div class="panel blank-panel">
									{#<div class="panel-heading">
										<div class="panel-options">
											{% include './tresorerie/tr_alimentation/inc/navigation.html.twig' %}
										</div>
									</div>#}

									<div class="panel-body">
										<div class="col-md-12">
											<div class="tab-content">
												<div class="tab-pane active" id="tab-1">


													


													<div class="hr-line-dashed"></div>
													<div class="form-group row">
														<label class="col-sm-4 ">Compte  </label>

														<div class="col-sm-4">


															{{ transaction.compte.designation }}
														</div>
													</div>
													<div class="hr-line-dashed"></div>
													<div class="form-group row">
														<label class="col-sm-4 ">Montant  </label>

														<div class="col-sm-4">


															{{ transaction.montant|number_format(2) }}
														</div>
													</div>
													<div class="hr-line-dashed"></div>

													<div class="form-group row">
														<label class="col-sm-4 ">Date  </label>

														<div class="col-sm-4">


															{{ transaction.date|date("d/m/Y") }}
														</div>
													</div>

													<div class="hr-line-dashed"></div>

													<div class="form-group row">
														<label class="col-sm-4 ">Designation  </label>

														<div class="col-sm-4">


															{{ transaction.designation}}
														</div>
													</div>
													<div class="hr-line-dashed"></div>

													<div class="form-group row">
														<label class="col-sm-4 ">Autre Informations  </label>

														<div class="col-sm-4">


															{{ transaction.autreInformation}}
														</div>
													</div>
												</div>


											</div>


											<div class="col-md-6"></div>


										</div>


									</div>


									{% if alimentation is defined %}
										<input type="hidden" name="_id" id="_id" value="{{ alimentation.id }}"/>
									{% endif %}


								</div>
							</div>

						</div>

					</div>
				</div>
			</div>


		</div>
	</div>


</div>

{{ include('./tresorerie/tr_alimentation/inc/workflow.html.twig',{'page_actuel': 'show'}) }}

{% endblock %}{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('alimentation') }}{% endblock %}
