{% extends 'base_univ.html.twig' %}
{% block title %}Note & moyenne | Concours | UNIV
{% endblock %}
{% block body %}
    <div id="right-sidebar" class="actions animated"></div>
    {{ render(controller('App\\Controller\\moduleUniv\\concours\\UnivConcoursController:infosConcours',{ 'id': concours.id})) }}


    <div class="row wrapper  white-bg page-heading  fixed-top-navigation-button">
        <div class="col-lg-4">
            <h2 class="fo">Univ , Concours
            </h2>
        </div>
        <div class="col-lg-8">
            <div class="title-action">


                <form id="generer_num_convocation">
                    <input type="hidden" value="{{ concours.id }}" class="concours_id"/>
                    <button class="btn btn-white btn-xs btn-lg my-button-num-convocation" data-style="expand-left" type="submit">
                        <i class="fa fa-barcode"></i>
                        Générer Numéros Convocations</button>
                </form>

            </div>
        </div>
        <div class="border-b"></div>
        <div class="col-lg-12">
            {{ wo_render_breadcrumbs() }}
        </div>

    </div>
    <br/><br/>
    <div class="row pt-20">

        <div class="col-md-12 paddin">
            <div class="ibox">

                <div class="ibox-content">
                    <div class="panel blank-panel">
                        <div class="panel-heading">
                            <div class="panel-options">
                                {% include './module_univ/concours/inc/ac_navigation.html.twig' %}
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-12">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab-1">

                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab-1">
                                                <div class="row">

                                                    <div class="col-3">
                                                        <select class="form-control _multiple_actions" style="display: none">
                                                            <option value="">Action</option>
                                                            <option value="_ac_affecter_salle">Affecter salle</option>
                                                        </select>
                                                    </div>


                                                    <div class="col-md-12">
                                                        <h5 class="m-left">NOTE & MOYENNE CONCOURS</h5>
                                                        <table class="t-m table table-striped table-bordered table-hover w-m dataTables-example dataTable ac_grid_condidats_note_classement2">
                                                            <thead>
                                                                <tr>
                                                                    <th>Id</th>
                                                                    <th>Code.Etu</th>
                                                                    <th>Nom</th>
                                                                    <th>Prénom</th>
                                                                    <th>Form(s)</th>
                                                                    <th>Nat.dem</th>
                                                                    <th>T.Bac</th>
                                                                    <th>Moy.Bac</th>
                                                                    <th>Admiss</th>
                                                                    <th>Salle</th>
                                                                    <th>Num.Conv</th>

                                                                    {% for key , matiere in concours.matieres %}
                                                                        <th>{{ matiere.abreviation }}</th>
                                                                        {% endfor %}
                                                                    <th>Moyenne</th>
                                                                    <th>Opé</th>

                                                                </tr>
                                                            </thead>

                                                            <tfoot>
                                                                <tr>
                                                                    <th>Id</th>
                                                                    <th>Code.Etu</th>
                                                                    <th>Nom</th>
                                                                    <th>Prénom</th>
                                                                    <th>Form(s)</th>
                                                                    <th>Nat.dem</th>
                                                                    <th>T.Bac</th>
                                                                    <th>Moy.Bac</th>
                                                                    <th>Admiss</th>
                                                                    <th>Salle</th>
                                                                    <th>Num.Conv</th>

                                                                    {% for key , matiere in concours.matieres %}
                                                                        <th>{{ matiere.abreviation }}</th>
                                                                        {% endfor %}
                                                                    <th>Moyenne</th>
                                                                    <th>Opé</th>

                                                                </tr>
                                                            </tfoot>


                                                            <tbody>

                                                                {% for key , prConcour in prConcours %}

                                                                    <tr>

                                                                        <td style="text-align:center;">
                                                                            {{loop.index}}

                                                                        </td>



                                                                        <td>{{ prConcour.etudiant.code }}</td>
                                                                        <td>{{ prConcour.etudiant.nom }}</td>
                                                                        <td>{{ prConcour.etudiant.prenom }}</td>
                                                                        <td>
                                                                            {% for key ,preinscription  in prConcour.etudiant.preinscriptions %}
                                                                                {{preinscription.formation.abreviation}}
                                                                            {% endfor %}
                                                                        </td>
                                                                        <td>{{ prConcour.etudiant.natureDemande.designation }}</td>
                                                                        <td>{{ prConcour.etudiant.typeBac.designation }}
                                                                        </td>
                                                                        <td>{{ prConcour.etudiant.moyenneBac }}
                                                                        </td>
                                                                        <td>{{ prConcour.valider ? 'oui':'non' }}</td>
                                                                        <td>{{ prConcour.salle ?  prConcour.salle.designation :'-'}}
                                                                        </td>
                                                                        <td>{{ prConcour.numConvocation}}
                                                                        </td>

                                                                        {% for key , matiere in concours.matieres %}
                                                                            {% set note_matiere="" %}
                                                                            {% for key ,detail in  prConcour.details %}
                                                                                {% if detail.matiere == matiere  %}
                                                                                    {%  set note_matiere = detail.note %}
                                                                                {% endif %}
                                                                            {% endfor %}


                                                                            <td><input name="{{ matiere.id }}" placeholder="0.0" class="note-matiere-{{ prConcour.id }} wt-60" type="number" value="{{ note_matiere|number_format(2) }}"></td>
                                                                            {% endfor %}

                                                                        <td class="moyenne-{{ prConcour.id }}">{{ prConcour.moyenne|number_format(2) }}
                                                                        </td>
                                                                        <td>
                                                                            <a class="calcule_note" data-operation="edit" data-pr-concours="{{ prConcour.id }}">
                                                                                {% if prConcour.details is not empty %}
                                                                                    <span class="fa fa-refresh"></span>
                                                                                {% else %}
                                                                                    <span class="fa change-icon-{{ prConcour.id }} fa-plus"></span>
                                                                                {% endif %}
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                {% endfor %}
                                                            </tbody>

                                                        </table>
                                                        <!--<span class="float-right">
                                                                                                                                                                                                        <b>Total :
                                                                                                                                                                                                        {"{total}#}</b>
                                                                                                                                                                                                        </span>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

            {#{ render(controller('App\\Controller\\moduleAchat\\MaFacturefrscabController:showhistorique',{ 'facture': facture.id})) }#}
            {% if concours is defined %}
                <input type="hidden" name="_id" value="{{ concours.id }}" id="_id"/>
            {% endif %}
        {% endblock %}


        {% block javascripts %}
            {{ parent() }}
            {{ encore_entry_script_tags('univ_concours') }}
        {% endblock %}
