<header>
	<table class="table-header" style="position:absolute;top:-30px;left:25px;">
		<tr>
			<th>
				<img src="{{ asset(image)[1:] }}" class="logo-a2mf" alt="Logo">
			</th>

		</tr>

	</table>
	<div style="position:absolute;left:50%;top:-15px;color:black;">
		<h1 style="font-size:16px;font-family: 'courierbold';line-height:16px;">ATELIER DE L'ART DE MENUISERIE ET DE FERRONNERIE</h1>
		<table class="table-a2mf">
			<tr>
				<td>CNSS</td>
				<td>:
					{{ cab.dossier.cnss }}</td>
			</tr>
			<tr>
				<td>RC</td>
				<td>:
					{{ cab.dossier.rc }}
				</td>
			</tr>
			<tr>
				<td>PATENTE</td>
				<td>:
					{{ cab.dossier.patente }}</td>
			</tr>
			<tr>
				<td>IF</td>
				<td>:
					{{ cab.dossier.iff }}</td>
			</tr>
			<tr>
				<td>ICE</td>
				<td>:
					{{ cab.dossier.ice }}</td>
			</tr>
		</table>
		<table class="table-a2mf2">
			<tr>
				<td>Tél</td>
				<td>:
					{{ cab.dossier.tel }}</td>
			</tr>
			<tr>
				<td>Email</td>
				<td>:
					{{ cab.dossier.email }}</td>
			</tr>
			<tr>
				<td>Site web</td>
				<td>:
					{{ cab.dossier.site }}</td>
			</tr>
		</table>
	</div>
	<div style="height:100px;width:100%;display:block;"></div>
</header>
<footer>
	<div class="footer-a2mf">
		ICHRAK CENTER IMM 25 APPT 18, 2EME ETAGE LISSASFA - CASABLANCA
	</div>
	<div class="footer-a2mf2"></div>
</footer>
