<header>

	<table class="table-header">
		<tr>
			<th style="width:50%;">
				<div style=" ">
					<div style="margin: 10px;color: #00416b;line-height: 10px;font-size: 9px;font-family: 'courierbold';text-transform:none;">

						Universal Scientific Systems Softwares
						<br/>
						Adresse : N° 18, sis Lot Diamant Vert Ichrak Center
						<br/>
						Hay Hassani Casablanca
						<br/>
						Fax 05.22.65.58.90 |
						<br/>
						Fixe 05.22.65.58.90 |
						<br/>
						Gsm 06 62 34 62 05 |
						<br/>
						Mail contact@u3s.ma
					</div>
				</div>
			</th>
			<th style="width:50%;">
				<img src="{{ asset(image)[1:] }}" class="logo" alt="Logo">
			</th>

		</tr>

	</table>
	<div style="height:100px;width:100%;display:block;"></div>
	
</header>
<footer>
	<div class="footer">

		<p>
			{% if cab.dossier  %}
				{{ cab.dossier.titre }}

				{% if  cab.dossier.rc %}
					<label>RC :</label>
					{{ cab.dossier.rc }}
					|
				{% endif %}
				{% if  cab.dossier.ice %}
					<label>ICE :</label>
					{{ cab.dossier.ice }}
					|
				{% endif %}
				{% if  cab.dossier.iff %}
					<label>IF :</label>
					{{ cab.dossier.iff }}
					|
				{% endif %}
				{% if  cab.dossier.cnss %}
					<label>CNSS :</label>
					{{ cab.dossier.cnss }}
					|
				{% endif %}
				{% if  cab.dossier.patente %}
					<label>PATENTE :</label>
					{{ cab.dossier.patente }}
					|
				{% endif %}
				Adresse : N° 18, LotIchrak Center Hay Hassani Casablanca Fax 05.22.65.58.90 | Fixe 05.22.65.58.90 | Gsm 06.62.34.62.05 | Mail contact@u3s.ma
			{% endif %}
		</p>
	</div>
</footer>
