{% extends 'base_ugouv.html.twig' %}
{% set current_path = app.request.get('_route') %}

{% block title %}Depot Mouvement stock encours | Stock{% endblock %}


{% block body %}







    <div id="right-sidebar" class="actions animated" >

    </div>

    <div class="test2">
        <form name="action_test2" class="action_test2">

            <div class="row wrapper  white-bg page-heading  fixed-top-navigation-button">

                <div class="col-lg-4">
                    <h2 class="fo">Stock , depot  </h2>
                    {#{ wo_render_breadcrumbs() }#}
                </div>


                <div class="col-lg-8">
                    <div class="title-action">


                        {#% for key ,  operation in operations  %}
                            {% if  operation.horizontale %}
                                <a {% if operation.route is not null  %}  href="{{ path(operation.route) }}" {%  endif %}  id="{{operation.prefix}}" class="btn btn-primary btn-xs {{operation.classCs}}"><i class="fa {{ operation.icon }}"></i> {{ operation.titre|capitalize }}</a>
                            {% endif %}
                        {% endfor %#}
                        <!--  <button type="submit" style="display: none;" class="dt-button btn btn-flat btn-restaurer btn-xs btn-xs-table btn_val2">Enregistrer</button>-->   
                        <button class="btn btn-primary btn-xs btn-lg btn_val2" style="display: none;" type="submit">
                            <i class="fa fa-save"></i>
                            Enregistrer</button>

                    </div>
                </div>
                <div class="border-b"></div>
                <div class="col-lg-12">
                    {{ wo_render_breadcrumbs() }}
                </div>
            </div>
            <br/><br/>
            <div class="row pt-20">
                <div class="col-lg-12 ">

                    <div class="ibox ">
                        <!-- <div class="ibox-title">
                             <h5>Stock , depot </h5>
                             <div class="ibox-tools">
                                 <a class="collapse-link">
                                     <i class="fa fa-chevron-up"></i>
                                 </a>
                             </div>
                         </div> -->
                        <div class="ibox-content">
                            <div class="panel blank-panel">
                                <div class="panel-heading">
                                    <div class="panel-options">
                                        <ul class="nav nav-tabs">    


                                            <li><a class="nav-link {% if "stock_depot_mouvementstock"  in current_path  %} active {%endif%}" href="{{ path('stock_depot_mouvementstock' )}}" >Mouvements stock </a></li>
                                            <li><a class="nav-link {% if "mouvement_stock_encours_vente_index"  in current_path  %} active {%endif%}" href="{{ path('mouvement_stock_encours_vente_index' )}}" >mouvements ventes (en cours)</a></li>
                                            <li><a class="nav-link {% if "mouvement_stock_encours_achat_index"  in current_path  %} active {%endif%}" href="{{ path('mouvement_stock_encours_achat_index' )}}" >mouvements achats (en cours) </a></li>
                                            <li><a class="nav-link {% if "mouvement_stock_encours_affectation_index"  in current_path  %} active {%endif%}" href="{{ path('mouvement_stock_encours_affectation_index' )}}" >mouvements Transformation (en cours) </a></li>
                                            

                                        </ul>
                                    </div>
                                </div>

                                <div class="ibox-content" style="padding-top: 0px"> 
                                    <div class="table-responsive ">
                                        <div class="row" >
                                            <div class="col-2 list_actions_bloc" style="position: fixed ; display: none;" {#style="position: fixed;align-content: center;right: 50%;display: none;z-index: 9999999"#}>

                                                {#<select class="select2_demo _3 form-control _multiple_actions">
                                                    <option value="">Action</option>
                                                    {% for key , operation in  operations  %}
                                                        {% if operation.multiple %}
                                                        <option value="{{operation.prefix}}">{{ operation.titre|capitalize }}</option>
                                                   {% endif %}
                                                        {% endfor %}
                                                </select>#}
                                            </div>
                                        </div>

                                        <br>

                                        <table class="table  display table-striped table-bordered table-hover dataTables-example " id="grid4" style="width: 100%" >
                                            <thead>
                                                <tr>

                                                    <th>#</th>
                                                    <th>Source:</th>
                                                    <th>Ref source </th>
                                                    <th>Ref depot </th>
                                                    <th>Ref article </th>
                                                    <!-- <th> depot </th>-->

                                                    <th> article</th>
                                                    <th>QNT</th>
                                                    <th>TTC</th>
                                                    <!--  <th>Creation</th>
                                                    <th>Description:</th>-->

                                                </tr>
                                            </thead>

                                            <tfoot>


                                            </tfoot>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</form>

{% endblock %}







{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('udepot') }}
{% endblock %}