<div class="mail-body text-right tooltip-demo buttons_foot">
	{% if operationn is defined and operationn is not empty and operationn.id is not empty   %}

		{% for transition in workflow_transitions(operationn) %}

			{% set url = "" %}
			{% if workflow_metadata(operationn, 'function', transition) %}

				{#  {%  set  url= path(workflow_metadata(facture, 'function', transition), {id: facture.id}) %}#}
			{% endif %}


			{% if operationn.piece  is not empty %}
				{% if operationn.piece.code =='FAC' and   (transition.name =='vente_apres_creer_valider'  or transition.name =='vente_apres_valider_generer'  ) %}

					<a class="{{ workflow_metadata(operationn, 'function', transition) }} btn btn-sm btn-white {{ workflow_metadata(operationn, 'class', transition) }} btn-outline" data-id="{{ operationn.id }}" data-title="{{ workflow_metadata(operationn, 'title', transition) }}" data-transition="{{ transition.name }}">
						<i class="fa {{ workflow_metadata(operationn, 'icon', transition) }}"></i>
						&nbsp;{{ workflow_metadata(operationn, 'title', transition) }}
					</a>
				{% elseif  operationn.piece.code =='FAF' and     (transition.name =='achat_apres_creer_demande_paiement' or transition.name =='achat_apres_demande_paiement_valider' or transition.name =='achat_apres_demande_paiement_generer'  )  %}
					<a class="{{ workflow_metadata(operationn, 'function', transition) }} btn btn-sm btn-white {{ workflow_metadata(operationn, 'class', transition) }} btn-outline" data-id="{{ operationn.id }}" data-title="{{ workflow_metadata(operationn, 'title', transition) }}" data-transition="{{ transition.name }}">
						<i class="fa {{ workflow_metadata(operationn, 'icon', transition) }}"></i>
						&nbsp;{{ workflow_metadata(operationn, 'title', transition) }}
					</a>
				

				{% elseif  (operationn.piece.code =='PRT' or operationn.piece.code =='PLA'  or operationn.piece.code =='RCH') and     (transition.name =='mouvement_apres_creer_valider' or transition.name =='mouvement_apres_valider_generer'  )  %}
				<a class="{{ workflow_metadata(operationn, 'function', transition) }} btn btn-sm btn-white {{ workflow_metadata(operationn, 'class', transition) }} btn-outline" data-id="{{ operationn.id }}" data-title="{{ workflow_metadata(operationn, 'title', transition) }}" data-transition="{{ transition.name }}">
					<i class="fa {{ workflow_metadata(operationn, 'icon', transition) }}"></i>
					&nbsp;{{ workflow_metadata(operationn, 'title', transition) }}
				</a>
			{% endif %}
			{% endif %}


		{% endfor %}
		{% if workflow_has_marked_place(operationn, "creer")  %}
			{% if page_actuel is defined and  page_actuel =='edit' %}
				{% if operationn is not empty and workflow_has_marked_place(operationn, 'valider') or workflow_has_marked_place(operationn, 'commander') %}

					{% else %}
						<button id="edit_demande" class="btn btn-sm  btn-primary  my-button  btn-register  upper  waves-effect waves-light" data-style="expand-left" type="submit">
							<i class="fa fa-save"></i>
							{{ button_label|default('Enregistrer') }}
						</button>
				{% endif %}


			{% endif %}

			<button data-toggle="dropdown" class="btn btn-sm btn-white btn-outlin dropdown-toggle" type="button">
				<i class="fa fa-ellipsis-v"></i>
			</button>
			<ul class="dropdown-menu">


				{% for key ,  operation in operations  %}

					{%  if  operation.prefix == '_delete' %}
						<li>
							<a id="{{operation.prefix}}" data-id="{{operationn.id}}" data-token="{{ csrf_token('delete' ~ operationn.id) }}" class='btn btn-sm btn-danger btn-outline  {{operation.classCs}}'>
								<i class="fa {{ operation.icon }}"></i>
								{{ operation.titre|capitalize }}</a>
						</li>
					{% endif %}

					{%  if  operation.prefix == '_desactiver' or  operation.prefix == '_duppliquer' %}
						<li>
							<a id="{{operation.prefix}}" data-id="{{operationn.id}}" class='btn btn-sm btn-white btn-outline  {{operation.classCs}}'>
								<i class="fa {{ operation.icon }}"></i>
								{{ operation.titre|capitalize }}</a>
						</li>
					{% endif %}

					{% if page_actuel is defined  and page_actuel == "edit" %}
						{% if  operation.prefix == '_edit' %}
							<li>
								<a href="{{ path('tr_operation_show' , {id:operationn.id})}}" class='btn btn-sm btn-white btn-outline'>
									<i class="fa {{ operations['_show'].icon }}"></i>
									{{ operations['_show'].titre|capitalize }}</a>
							</li>
						{% endif %}
					{% endif %}

					{% if page_actuel is defined and  page_actuel =='show' %}

						{% if  operation.prefix == '_edit' %}
							<li>
								<a href="{{ path('tr_operation_edit' , {id:operationn.id})}}" class='btn btn-sm btn-white btn-outline'>
									<i class="fa {{ operation.icon }}"></i>
									{{ operation.titre|capitalize }}</a>
							</li>
						{% endif %}

					{% endif %}


				{% endfor %}
			</ul>
		{% endif %}

		<div id="test" data-operation-id="{{ operationn.id|json_encode }}"></div>


	{% endif %}

	{% if page_actuel is defined and page_actuel =='new'  %}

		<button id="create_operation" class="btn btn-sm btn-white my-button   upper btn-register waves-effect waves-light" data-style="expand-left" type="submit">
			<i class="fa fa-save"></i>
			{{ button_label|default('Enregistrer') }}
		</button>

	{% endif %}
	{% if page_actuel is defined and page_actuel =='mouvement'  %}

		<button id="mouvement_operation" class="btn btn-sm btn-white my-button   upper btn-register waves-effect waves-light" data-style="expand-left" type="submit">
			<i class="fa fa-save"></i>
			{{ button_label|default('Enregistrer') }}
		</button>

	{% endif %}
</div>
