{% extends 'base_ugouv.html.twig' %}


{% block title %}Produit index | Stock
{% endblock %}


{% block body %}


	<div id="right-sidebar" class="actions animated"></div>
	<form id="_import" method="post" enctype="multipart/form-data">
		<div class="modal fade right" id="exampleModalPreview" tabindex="-1" role="dialog" aria-labelledby="exampleModalPreviewLabel" aria-hidden="true" data-backdrop='false'>
			<div class="modal-dialog modal-full-height modal-top modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title" id="exampleModalPreviewLabel">IMPORTATION DES FICHIERS
						</h3>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body bo2">
						<div class="subimport">
							<button class="btn btn-sm btn-white my-button   upper btn-register waves-effect waves-light" data-style="expand-left" type="submit">
								<i class="fa fa-save"></i>
								Enregistrer</button>
						</div>
						<div class="center typ-files-styles">
							<h4>Importer les articles</h4>
							<p class="m-b-p">choisir seulement les fichiers csv
							</p>
							<input type="file" id="file" name="etudiants_file"/>
							<label for="file" class="btn-2">
								<i class="fa fa-cloud-upload"></i>
								Charger</label>
						</div>
						<div class="text-center spr" style="display:none;">
							<div class="spinner-border" role="status">
								<span class="sr-only">Loading...</span>
							</div>
						</div>
						<div id="resultats_import"></div>
					</div>
				</div>
			</div>
		</div>
	</form>


	{#<div class="row wrapper  white-bg page-heading  fixed-top-navigation-button">
		
		        <div class="col-lg-4">
		            <h2 class="fo">Stock , Produit </h2>
		            {#{ wo_render_breadcrumbs() }# }
		        </div>
		
		
		        <div class="col-lg-8">
		            <div class="title-action">
		                    {#% for key ,  operation in operations  %}
		                        {% if  operation.horizontale %}
		                            <a {% if operation.route is not null  %}  href="{{ path(operation.route) }}" {%  endif %}  id="{{operation.prefix}}" class="btn btn-white btn-xs {{operation.classCs}}"><i class="fa {{ operation.icon }}"></i> {{ operation.titre|capitalize }}</a>
		                        {% endif %}
		                    {% endfor %# }
		                    
		                    <a href="{{path('stock_produit_new')}}"  id="_new" class="btn btn-white btn-xs "><i class="fa fa-plus"></i> Ajouter</a>
		             
		            </div>
		        </div>
		        <div class="border-b"></div>
		        <div class="col-lg-12">
		            {{ wo_render_breadcrumbs() }}
		        </div>
		    </div>#}
	<div class="row wrapper  white-bg page-heading  fixed-top-navigation-button">

		<div class="col-lg-4">
			{% include './parametrage/ucategoriearticle/inc/workflow_breadcumb.html.twig' %}
			{#{ wo_render_breadcrumbs() }#}
		</div>
		<div
			class="col-lg-8">
			{#<div class="title-action">
												
								
												<a id="_delete" class="btn btn-white btn-xs my-button">
													<i class="fa fa-trash"></i>
													Suprimer</a>
								
											</div>#}
			<div
				class="title-action">
				{#<button class="btn btn-white btn-xs btn-lg my-button" type="submit">
												<i class="fa fa-save"></i>
												{{ button_label|default('Enregistrer') }}</button>#}
				{% for key ,  operation in operations %}
					{% if operation.verticale and  operation.prefix== '_new'%}
						<a {% if operation.route is not null %} href="{{ path(operation.route) }}" {% endif %} id="{{operation.prefix}}" class="op-hor btn btn-white btn-xs {{operation.classCs}} btn-register">
							<i class="fa {{ operation.icon }}"></i>
							{{ operation.titre|capitalize }}</a>
					{% endif %}
					{% if operation.prefix== '_importer'%}
						<a data-toggle="modal" data-target="#exampleModalPreview" {% if operation.route is not null %} href="{{ path(operation.route) }}" {% endif %} id="{{operation.prefix}}" class="op-hor btn btn-white btn-xs {{operation.classCs}} btn-register">
							<i class="fa {{ operation.icon }}"></i>
							{{ operation.titre|capitalize }}</a>
					{% endif %}
				{% endfor %}


			</div>
		</div>
		<div class="border-b"></div>
		<div class="col-lg-12">
			{% include './parametrage/ucategoriearticle/inc/workflow.html.twig' %}
		</div>
	</div>
	<br/><br/>

	<div class="row border-bottom white-bg dashboard-header mt-20">
		<div class="col-lg-12">

			<div class="ibox ">
				<div class="ibox-content" style="padding-top: 0px">
					<div class="table-responsive">
						<div class="row">
							<div class="col-2 list_actions_bloc" style="position: fixed ; display: none;" {#style="position: fixed;align-content: center;right: 50%;display: none;z-index: 9999999"#}>

								<select class="select2_demo _3 form-control _multiple_actions">
									<option value="">Action</option>
									{% for key , operation in  operations  %}
										{% if operation.multiple %}
											<option value="{{operation.prefix}}">{{ operation.titre|capitalize }}</option>
										{% endif %}
									{% endfor %}
								</select>
							</div>
						</div>

						<table class="table  display table-striped table-bordered table-hover dataTables-example" id="grid" style="width: 100%">
							<thead>
								<tr>
									<th>Action</th>
									<th>Reference</th>
									<th>titre</th>
									<th>depot</th>
									<th>prix_achat</th>
									<th>prix_vente</th>
									<th>unite</th>
							
								</tr>
							</thead>
							<tfoot>
								
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}


{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('uarticle') }}
{% endblock %}
