{% extends 'base_stock.html.twig' %}

{% block title %}Produit modifier prix d'achat  | Stock {% endblock %}

{#{{ form_start(form ,{'attr':{'novalidate': 'novalidate' , 'class':'form'}}) }}#}

{% block body %}
    {{ form_start(form ,{'attr':{'novalidate': 'novalidate' , 'class':'stock_produit_update_prix_achat'}}) }}
    <div class="row wrapper  white-bg page-heading  fixed-top-navigation-button">

        <div class="col-lg-4">
            <h2 class="fo">Stock , Produit </h2>
        </div>

        <div class="col-lg-8">
            <div class="title-action">
                <button class="btn btn-white btn-xs btn-lg" type="submit">
                    <i class="fa fa-save"></i>
                    {{ button_label|default('Modifier Prix Achat') }}</button>

            </div>
        </div>

        <div class="border-b"></div>
        <div class="col-lg-12">
            {{ wo_render_breadcrumbs() }}
        </div>

    </div>
    <br/><br/><br/>

    <div class="row pt-20">
        <div class="col-lg-12 ">
            <div class="ibox">

                <div class="ibox-content">

                    <div class="message-success"></div>
                    <div class="row m-t-sm">
                        <div class="col-lg-12">
                            <div class="panel blank-panel">
                                <div class="panel-heading">
                                    <div class="panel-options">
                                        {%  include './parametrage/uarticle/inc/navigation.html.twig' %}
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="panel-body">

                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab-1">
                                                <div class="row">
                                                    <div class="col-md-4 b-r">

                                                        <h3 class="m-t-none m-b">Informations</h3>
                                                        <div class="hr-line-dashed"></div>
                                                        <div class="form-group row">
                                                            {{ form_label(form.prixAchat ,'Prix de Achat', {'label_attr':{'class':'col-sm-4'}}) }}
                                                            <div class="col-sm-3">
                                                                {{ form_widget(form.prixAchat,{'attr':{'class':'form-control form-control-sm prixAchat' ,'placeholder':'Prix de Achat'}}) }}
                                                            </div>
                                                        </div>
                                                        <div class="hr-line-dashed"></div>
                                                        <div class="form-group row">
                                                            {{ form_label(form.prixAchatMin ,'Prix de Achat Min', {'label_attr':{'class':'col-sm-4'}}) }}
                                                            <div class="col-sm-3">
                                                                {{ form_widget(form.prixAchatMin,{'attr':{'class':'form-control form-control-sm prixAchatMin' ,'placeholder':'Prix de Achat Min'}}) }}
                                                            </div>
                                                        </div>


                                                        <div class="hr-line-dashed"></div>

                                                        <div class="form-group row">
                                                            {{ form_label(form.autreInformation ,'Remarques ', {'label_attr':{'class':'col-sm-3'}}) }}
                                                            <div class="col-sm-12">
                                                                {{ form_widget(form.autreInformation,{'attr':{'class':'form-check-inline form-control'}}) }}
                                                            </div>
                                                        </div>





                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="table-responsive">
                                                            <div class="col-md-12">
                                                                <h3 class="m-t-none m-b">Historique de changement des prix d'achat.</h3>
                                                                <div class="hr-line-dashed"></div>
                                                                <br/>
                                                                <table class="t-m table table-striped table-bordered table-hover dataTables-example dataTable" id="datatable-show3">

                                                                    <thead>
                                                                        <tr>

                                                                            <th>#</th>
                                                                            <th>Prix d'achat </th>
                                                                            <th>Prix minimum d'achat</th>
                                                                            <th>Date de création</th>
                                                                            <th>Crée par</th>
                                                                            <th>Remarques</th>
                                                                        </tr>
                                                                    </thead>

                                                                    <tbody>
                                                                        {% for prix in uarticlePrixes %}
                                                                            <tr>
                                                                                <td>{{prix.id}}</td>
                                                                                <td>{{ prix.prixAchat }}</td>
                                                                                <td>{{prix.prixAchatMin}}</td>
                                                                                <td><span class="fa fa-clock-o"></span> {{ prix.created ? prix.created|date('Y-m-d H:i:s')}}</td>
                                                                                <th><span class="fa fa-user"></span>  {{ prix.userCreated ? prix.userCreated.nom~' '~prix.userCreated.prenom   }}</th>
                                                                                <td> {{ prix.autreInformation }}</td>
                                                                            </tr>
                                                                        {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


   

        </div>

        <div class="hr-line-dashed"></div>


    </div>
    {% if Uarticle is defined %}
        <input type="hidden" name="_id" value="{{ Uarticle.id }}" />
    {% endif %}

    {{ form_end(form,{'render_rest': false}) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('uarticle') }}
{% endblock %}