<div class="sidebar-container">

    <div class="ibox-tools">
        <a class="close-link close-me" href="">
            <i class="fa fa-times"></i>
        </a>
    </div>

    <div class="tab-content">


        <div id="tab-1" class="tab-pane active">

            <div class="sidebar-title">
                <h3> <i class="fa fa-info-circle"></i> INFORMATIONS </h3>
                <small><i class="fa fa-tim"></i> Informations sur devis client.</small>
            </div>

            <div class="right-sidebar-content">


                <table class="table small m-b-xs">
                    <tbody>
                        <tr>
                            <td>
                                <strong>Code :</strong> {{ uv_deviscab.code }}
                            </td>


                        </tr>

                        <tr>
                            <td>
                                <strong>Date  :</strong> {{ uv_deviscab.dateDevis ? uv_deviscab.dateDevis|date('Y-m-d H:i:s') : '' }}
                            </td>

                        </tr>

                        <tr>
                            <td>
                                <strong>Description :</strong>  {{uv_deviscab.observation}}
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <strong>Statut :</strong>  {{uv_deviscab.statut.statut}}
                            </td>

                        </tr>
                    </tbody>
                </table>

                <div class="ibox">
                    <div class="ibox-content style-left-popup">

                        {% if uv_deviscab.livraison|length > 0 %}

                            <div class="alert alert-warning">
                                cette demande dispose deja d'un bon de commande .
                                <br/>
                                {% for key , livraison in uv_deviscab.livraison %}
                                    <b>Reference :  {{ livraison.code }}</b>
                                {% endfor %}
                            </div>
                        {% else %}


                            <h3>Devis Client </h3>
                            <b>Generer Livraison Client</b>

                            <div class="errors_list"></div>
                            <div class="hr-line-dashed"></div>

                            {{ form_start(form ,{'attr':{'novalidate': 'novalidate' , 'class':'form_generer'}}) }}

                            <div class="form-group">
                                {{ form_label(form.dateLivprv ,'Date LVR Prevu (*):', {'label_attr':{'class':'col-sm-12'}}) }} 
                                {{ form_widget(form.dateLivprv,{'attr':{'class':'form-control form-control-sm'}}) }} 
                            </div>


                            <br/>
                            {% if uv_deviscab is defined %}
                                <input type="hidden" name="_id" value="{{ uv_deviscab.id }}" />
                            {% endif %}
                            <div class="mail-body text-right tooltip-demo buttons_foot">
                            <button class="btn btn-white btn-block btn-xs"><i class="fa fa-save"></i> {{ button_label|default('Enregistrer2') }}</button>
                            </div>
                            {{ form_end(form,{'render_rest': false}) }}


                        {% endif %}




                    </div>
                </div>
            </div>
        </div>
    </div>
</div>












